<?xml version="1.0" encoding="utf-8" ?>
<s3capcha>
    <icons>
        <name>apple,cherries,grapes,pear,strawberry,watermelon</name>
        <title>Apple,Cherries,Grapes,Pear,Strawberry,Watermelon</title>
        <width>60</width>
        <height>60</height>
        <ext>jpg</ext>
        <folder>fruit</folder>
    </icons>
    <message>To prevent spam from being submitted, please select the following fruit: <strong>{0}</strong></message>
</s3capcha>