<?xml version="1.0" encoding="utf-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Product 
			Id="4AA6CBEC-7DF1-4AA7-8D03-F212C8BDDA93" 
			Name="Subtext" 
			Language="1033" 
			Version="0.9.7.0" 
			Manufacturer="Subtext">
		
		<Package Id="20797D17-8813-4CBB-A890-1A1BE288B651" 
			Description="Subtext Blogging Engine" 
			Comments="The only way to blog." 
			InstallerVersion="200" 
			Compressed="yes" />

		<Media Id="1" Cabinet="SubtextSetup.cab" EmbedCab="yes" />

		<FragmentRef Id="UIFragment" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="Subtext" LongName="Subtext v0.9.7.0">
					<Component Id="CreateSqlServer" Guid="15229D7F-D170-4B99-A735-C33860E2B4BC">
                        <Condition><![CDATA[SQLSERVER <> ""]]>	</Condition>
                        <SqlDatabase Id="SqlDatabase" 
							Database="SubTextData" 
							Server="[SQLSERVER]" 
							Instance="[SQLINSTANCE]"
                            CreateOnInstall="yes" 
                            DropOnUninstall="no" 
                            User="SqlUser" 
                            ContinueOnError="yes">
								<SqlScript Id="CreateTables" ExecuteOnInstall="yes" BinaryKey="SqlInstallationScript" />
                        </SqlDatabase>
                      </Component>
					
					<Component Id='CreateWebVirtualDir' Guid='4ED7B125-8B0F-4590-BA92-0DB932E95C76'>
						<WebVirtualDir Id='TestWebVirtualDir' 
							Alias='Test' 
							Directory='dirSubtextWeb'
							WebSite='DefaultWebSite'>
							<WebApplication Id='TestWebApplication' Name='Test' />
						</WebVirtualDir>
					</Component>
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="Complete" Title="Complete Installation" Level="1" 
			TypicalDefault="install"
			Display="expand"
			ConfigurableDirectory="INSTALLLOCATION"
			Description="The Complete Package">
			
			<Feature Id="MainBinaries" Level="1" Title="Web App Binaries" Description="Web Application Assemblies.">
				<ComponentRef Id="SubtextWebBinaries" />
			</Feature>
			
			<Feature Id="SqlServer" Level="1" Title="SQL Database" Description="Creates a SQL Database.">
				<ComponentRef Id="CreateSqlServer" />
			</Feature>
			
			<Feature Id="VirtualDirectory" Level="1" Title="Virtual Directory" Description="Sets up the virtual directory">
				<ComponentRef Id="CreateWebVirtualDir" />
			</Feature>
			
			<Feature Id="WebContentFiles" Level="1" Title="Web Files" Description="*.aspx, *.ascx, etc... files.">
				<!-- Generated by customized version of Tallow -->
				<ComponentRef Id='component0' />
				<ComponentRef Id='component1' />
				<ComponentRef Id='component2' />
				<ComponentRef Id='component3' />
				<ComponentRef Id='component4' />
				<ComponentRef Id='component5' />
				<ComponentRef Id='component6' />
				<ComponentRef Id='component7' />
				<ComponentRef Id='component8' />
				<ComponentRef Id='component9' />
				<ComponentRef Id='component10' />
				<ComponentRef Id='component11' />
				<ComponentRef Id='component12' />
				<ComponentRef Id='component13' />
				<ComponentRef Id='component14' />
				<ComponentRef Id='component15' />
				<ComponentRef Id='component16' />
				<ComponentRef Id='component17' />
				<ComponentRef Id='component18' />
				<ComponentRef Id='component19' />
				<ComponentRef Id='component20' />
				<ComponentRef Id='component21' />
				<ComponentRef Id='component22' />
				<ComponentRef Id='component23' />
				<ComponentRef Id='component24' />
				<ComponentRef Id='component25' />
				<ComponentRef Id='component26' />
				<ComponentRef Id='component27' />
				<ComponentRef Id='component28' />
				<ComponentRef Id='component29' />
				<ComponentRef Id='component30' />
				<ComponentRef Id='component31' />
				<ComponentRef Id='component32' />
				<ComponentRef Id='component33' />
				<ComponentRef Id='component34' />
				<ComponentRef Id='component35' />
				<ComponentRef Id='component36' />
				<ComponentRef Id='component37' />
				<ComponentRef Id='component38' />
				<ComponentRef Id='component39' />
				<ComponentRef Id='component40' />
				<ComponentRef Id='component41' />
				<ComponentRef Id='component42' />
				<ComponentRef Id='component43' />
				<ComponentRef Id='component44' />
				<ComponentRef Id='component45' />
				<ComponentRef Id='component46' />
				<ComponentRef Id='component47' />
				<ComponentRef Id='component48' />
				<ComponentRef Id='component49' />
				<ComponentRef Id='component50' />
				<ComponentRef Id='component51' />
				<ComponentRef Id='component52' />
				<ComponentRef Id='component53' />
			</Feature>
		</Feature>
		

		<Property Id="ALLUSERS">2</Property>
		<Property Id="ButtonText_No">&amp;No</Property>
		<Property Id="ButtonText_Install">&amp;Install</Property>
		<Property Id="Setup">Setup</Property>
		<Property Id="ButtonText_Browse">Br&amp;owse</Property>
		<Property Id="CustomSetupIcon">custicon</Property>
		<Property Id="ButtonText_Next">&amp;Next &gt;</Property>
		<Property Id="ButtonText_Back">&lt; &amp;Back</Property>
		<Property Id="InstallMode">Typical</Property>
		<Property Id="Progress2">installs</Property>
		<Property Id="IAgree">No</Property>
		<Property Id="Wizard">Setup Wizard</Property>
		<Property Id="RemoveIcon">removico</Property>
		<Property Id="ExclamationIcon">exclamic</Property>
		<Property Id="ShowUserRegistrationDlg">0</Property>
		<Property Id="ProductID">none</Property>
		<Property Id="ButtonText_Reset">&amp;Reset</Property>
		<Property Id="ButtonText_Remove">&amp;Remove</Property>
		<Property Id="CompleteSetupIcon">completi</Property>
		<Property Id="ButtonText_Yes">&amp;Yes</Property>
		<Property Id="ButtonText_Exit">&amp;Exit</Property>
		<Property Id="ButtonText_Return">&amp;Return</Property>
		<Property Id="DialogBitmap">dlgbmp</Property>
		<Property Id="DlgTitleFont">{&amp;DlgFontBold8}</Property>
		<Property Id="ButtonText_Ignore">&amp;Ignore</Property>
		<Property Id="RepairIcon">repairic</Property>
		<Property Id="ButtonText_Resume">&amp;Resume</Property>
		<Property Id="InstallerIcon">insticon</Property>
		<Property Id="ButtonText_Finish">&amp;Finish</Property>
		<Property Id="PROMPTROLLBACKCOST">P</Property>
		<Property Id="PIDTemplate"><![CDATA[12345<#######>@@@@@]]></Property>
		<Property Id="Progress1">Installing</Property>
		<Property Id="ButtonText_Cancel">Cancel</Property>
		<Property Id="INSTALLLEVEL">3</Property>
		<Property Id="InfoIcon">info</Property>
		<Property Id="ButtonText_Repair">&amp;Repair</Property>
		<Property Id="ButtonText_Retry">&amp;Retry</Property>
		<Property Id="BannerBitmap">bannrbmp</Property>
		<Property Id="ButtonText_OK">OK</Property>

		<AdminExecuteSequence />

		<InstallExecuteSequence>
			<RemoveExistingProducts After="InstallFinalize" />
		</InstallExecuteSequence>

		<Binary Id="Up" src="Binary\Up.ico" />
		<Binary Id="New" src="Binary\New.ico" />
		<Binary Id="custicon" src="Binary\Custom.ico" />
		<Binary Id="repairic" src="Binary\Repair.ico" />
		<Binary Id="exclamic" src="Binary\Exclam.ico" />
		<Binary Id="removico" src="Binary\Remove.ico" />
		<Binary Id="completi" src="Binary\Complete.ico" />
		<Binary Id="insticon" src="Binary\Typical.ico" />
		<Binary Id="info" src="Binary\Info.ico" />
		<Binary Id="bannrbmp" src="Binary\Banner.bmp" />
		<Binary Id="dlgbmp" src="Binary\Dialog.bmp" />
		<Binary Id="SqlInstallationScript" src="Binary\InstallationScript.v1.0.sql" />
		
		<WebSite Id='DefaultWebSite' Description='Default Web Site'>
			<WebAddress Id='AllUnassigned' Port='80' />
		</WebSite>
	</Product>
</Wix>