a:visited,
a:active,
a:link {
	color : #A00;
	text-decoration : none;
}

a:hover {
	text-decoration : underline;
}

h1 {
	background-color : #FDA;
	border-bottom : 2px solid #A00;
}

#tagline {	
	color : #A00;
}

p.date {
	border-bottom : 1px solid #AAA;	
}

#rightmenu {
	background-color : #FFF;
}

#rightmenu h3 {
	color : #A00;
	background-color : #FDA;	
	border : 1px solid #A99;
	border-bottom : none;
}

#rightmenu ul {
	border : 1px solid #A99;
}

#footer {
	border-top : 1px solid #A00;
}

#comments h4 span {
	color : #999;
}

h3 {
	border-bottom : 1px solid #AAA;
}
