body
{
	font: 76%/162% 'Lucida Sans Unicode', 'Lucida Grande', 'Bitstream Vera Sans', 'Trebuchet MS', Geneva, Arial, sans-serif;
	background: #fff;
	text-align: center;
	width: 100%;
}

#main
{
	width: 100%;
	border: 0;
}

.PreviousNext, #rightColumnHeader, #links, #rightColumnFooter, #commentform, #rightColumn
{
	display: none;
}

#content, #content div.entry, #contentBodyLeft, #contentBodyRight, #contentBodyCenter
{
	width: 100%;
	padding: 0; 
	margin: 0;
	border: 0;
}

#links h5, #comments, #comments div.comment .post, .comment, #comments div.comment .commentHeader, #header, #contentBodyLeft, #contentBodyRight, #contentBodyCenter, #main div.entry h4, div.entry .post
{
	background: #fff;
	border: 0;
}

#main div.entry h4 a
{
	color: #000;
}