body {
	font: 76%/162% 'Lucida Sans Unicode', 'Lucida Grande', 'Bitstream Vera Sans', 'Trebuchet MS', Geneva, Arial, sans-serif;
	background: #3e3f49 ;
	color: #000000;
	text-align: center;
}
body, div, p, img, ul, li, h1, h2, h3, h4, h5, h6, form {
	margin: 0;
	padding: 0;
	border: 0;
}
a {
	color: #285090;
}
a:visited {
	color: #285090;
}
a:hover, #links div ul li a.active {
	color: #eeeff7;
}
#main {
	margin: 0 auto;
	text-align: left;
	width: auto;
}
#header
{
	background-image: url(images/kw_header_bg.jpg);
	width: 100%;
	background-repeat: repeat-x;
	height: 150px;
	background-color: #818397;
}
#name
{
	background-position: left top;
	float: left;
	background-image: url(images/kw_header.jpg);
	width:100%;
	height:150px;
	background-repeat: no-repeat;
}
#name h1 {
	font-size: 200%;
	margin: 45px 0 6px 43px;
}
#name h2 {
	font-size: 120%;
	font-weight: normal;
	margin-left: 43px;
	color: #333333;
}
#name a {
	text-decoration: none;
	color: #285090;
	margin-left: -1px;
}
#controls {
	float: right;
	width: 23em;
	border: 0;
	margin: 26px 43px 0 0;
	display: inline;
}
#footer {
	display: block;
	clear: both;
	margin: -10px 43px 0;
	height: 2.8em;
	color: #000000;
}
#footer p {
	font-size: 84%;
}
#copyright {
	float: left;
}
#info {
	float: right;
}
#info a {
	color: #285090;
	text-decoration: none;
	padding: 1px 0;
}
#info a:hover {
	text-decoration: underline;
}
#dayHeadLeft {
	background: #FAFCFD url(Images/content_head_left.jpg) no-repeat left;
	height: 26px;
	padding-left: 25px;
}
#dayHeadCenter {
	background: url(Images/content_head_center.jpg) repeat-x;
	height: 26px;
}
#dayHeadRight
{
	background-position: right top;
	background-image: url(Images/content_head_right.jpg);
	background-repeat: no-repeat;
	height: 26px;
}
#contentBodyLeft {
	background: url(Images/kw_body_left.jpg) repeat-y;
	padding-left: 50px;
	clear: both;
}
#contentBodyCenter {
	height: auto;
	background: url(Images/kw_body_center.jpg);
}
#contentBodyRight {
	padding-right: 50px;
	background: url(Images/kw_body_right.jpg) repeat-y right;
}
#content {
	
	width: auto;
	margin: 0;
	padding: 16px 22px 0;
	color: #000000;
}
#entries 
{
	width:100%;
	float: left;
	clear: both; 
	margin-right: -18em;
}
* html #entries{
	overflow:hidden;
}
#column {
	font-size: 92%;
	width: 18em; 
	float: right;
}
#column a.rounded {
	color: #285090;
	background: #D4DEEC;
	text-decoration: none;
	border-top: 1px solid #D4DEEC;
	border-bottom: 1px solid #D4DEEC;
}
#column a.rounded span {
	margin: -1px 1px;
	padding: 0 2px;
	border-top: 1px solid #D4DEEC;
	border-bottom: 1px solid #D4DEEC;
}
#column a.rounded:hover {
	color: #FAFCFD;
	background: #285090;
	border-top: 1px solid #93A9C9;
	border-bottom: 1px solid #93A9C9;
}
#column a.rounded:hover span {
	border-top: 1px solid #285090;
	border-bottom: 1px solid #285090;
}
#column a.rounded span.break {
	width: 0;
	margin: 0;
	padding: 0;
}
#rightColumn
{
	float:right;
	background-color:#9c9dad;
	width:195px;
	background: url(images/sidebar_bg.jpg) repeat-y;	
}
#rightColumnHeader
{
	height:26px;
	width:195px;
	background: url(images/sidebar_header.jpg) top;	
}
#rightColumnFooter
{
	height:26px;
	width:195px;
	background: url(images/sidebar_footer.jpg) top;	
}

#links {
	padding: .8em;
}
#links h5 
{
	color:#eeeff7;
	text-align:center;
	font-size: 100%;
	font-weight: bold;
	margin: 1.8em 2px .4em;
	clear: both;
	BACKGROUND-POSITION-Y: top;
	background-image: url(images/title_bg.gif);
	padding-bottom: 0.2em;
	background-repeat: repeat-x;
	border:solid 1px #26395e;
}
#links ul {
	list-style: none;
}
#links li {
	/*margin-bottom: .8em;*/
}
#subtext {
	display: block;
	background-image: url(images/PoweredBySubtext85x33.png);
	width:85px;
	height:33px;
	text-align:center;
	cursor:pointer;
}

div.entry {
	padding: 0;
	margin: 0 18em 2em 0;
}
div.entry div, div.entry p {
	margin-bottom: 1.2em;
}
div.entry h3 {
	font-size: 100%;
	font-weight: bold;
	color: #285090;
	margin-top: -.2em;
}
div.entry h4
{
	font-weight: normal;
	font-size: 130%;
	BACKGROUND-POSITION-Y: top;
	background-image: url(images/title_bg.gif);
	padding-bottom: 0.2em;
	background-repeat: repeat-x;
	border:solid 1px #26395e;
}
div.entry h4 a, div.entry h4 a:visited {
	color: #eeeff7;
	text-decoration: none;
}
div.entry h4 a:hover {
	color: #000000;
}
div.entry ul, div.entry ol, div.entry dl {
	margin: 10px 0;
	padding: 0;
}
div.entry blockquote 
{
	background-color:#d5d0ca;
	padding-bottom: 0.2em;
	border:solid 1px #26395e;
	margin: 10px;
	padding-left: 20px;
}
div.entry tt {
	font-size: 120%;
	font-weight: bold;
	color: #333333;
}
div.entry .post {
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom:1.4em;
	border:solid 1px #26395e;
	background: #e2e3f3;
}
div.entry .info {
	color: #333333;
	margin-bottom: 0;
}
div.entry .info a, div.entry .info a:visited {
	color: #285090;
}
div.entry .info a:hover {
	color: #eeeff7;
}
div.entry .links {
	color: #000000;
}
div.entry .links a, div.entry .links a:visited {
	color: #285090;
}
div.entry .links a:hover {
	color: #eeeff7;
}
div.entry .commentslink a {
	float: left;
	margin: 0 6px 1.8em -4px;
	padding: 1px;
}
div.entry .trackbackslink a {
	float: left;
	margin: 0 0 1.8em 4px;
	padding: 1px;
}
div.entry .trackbackslink a span {
	float: left;
	width: 22px;
	height: 22px;
	margin-right: 3px;
	vertical-align: middle;
}
div.entry .trackbackslink a:hover span {
}

div.entryDate {
	padding: 0;
}
div.entryDate a 
{
	text-decoration:none;
}
div.entryDate a:hover
{
	color:#eeeff7;
}

div.entryDate h3 
{
	white-space: nowrap;
	font-size: 100%;
	font-variant:small-caps;
	font-weight: bold;
	color: #26395e;
	margin-top: -.2em;
	padding-bottom: 6px;
}
div.comment {
	margin: 0 0 1em 0;
}
div.trackback {
	margin: 0 18em 1em 0;
}
div.comment .info, div.trackback .info {
	color: #333333;
	margin-bottom: .2em;
	padding-left: 15px;
	height: 22px;
	display: block;
}
div.comment .commentHeader 
{
	background-color:#85879c;
}
div.comment .post, div.trackback .post 
{
	border: 1px solid #285090;
	background-color:#e1e3f2;
	background-image: url(images/comment_bg.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
	padding: 1.2em 1.2em 1.2em 26px;
	display: block;
}

div.author .post
{
	background: #f3fafc url(images/CommentAuthorGradient.gif) repeat-x top;
}

#trackback {
	margin: 0 18em 3em 0;
}
#comments {
	margin: 0 18em 3em 0;
}
#comments h3 {
	display: block;
	font-size: 100%;
	font-weight: bold;
	color: #000000;
	clear: both;
	border-bottom: 1px solid #285090;
	margin-bottom: 1.8em;
}
#commentform {
	display: block;
	background-color:#9fa0b0;
	padding-bottom: 0.2em;
	padding-top: 1.5em;
	border:solid 1px #26395e;
}
#commentform .label {
	width: 8em;
	float: left;
	clear: both;
	margin-bottom: .4em;
}
#commentform .input {
	float: left;
	margin-bottom: .4em;
}
#commentform .input span {
	float: left;
	display: inline;
	margin-left: 5px;
}
#commentform input.fixed {
	float: left;
	border: 1px solid #285090;
}
#commentform textarea.fixed {
	width: 300px;
	float: left;
	border: 1px solid #285090;
}
#commentform .button {
	width: auto;
	float: left;
}
#commentform textarea {
	overflow: auto;
}
#commentform h4 {
	font-size: 100%;
	font-weight: bold;
	color: #000000;
	clear: both;
}
#commentPreview {
	display: block;
	margin: 0 0 1.8em 0;
}
#commentPreview p {
	margin-bottom: .8em;
}
img.emoticons {
	vertical-align: middle
}
.author {
	color: #000000;
}
.author a {
	color: #000000;
}
.author a:hover {
	color: #eeeff7;
}
.red {
	color: #eeeff7;
}
.clear {
	clear: both;
	height: 0;
}

#calendar {
	border: 1px solid #839ABF;
	background: #F1F7FB;
	padding: .6em .6em 1em;
	text-align: center;
}
#calendar table {
	margin: 0 auto;
}

#calendar tbody a {
	display: block;
	background: #285090;
	text-align: center;
	text-decoration: none;
	color: #FAFCFD;
	border-top: 1px solid #A5B8D3;
	border-bottom: 1px solid #A5B8D3;
}
#calendar tbody a:hover {
	color: #FAFCFD;
	background: #eeeff7;
	border-top: 1px solid #E39A9D;
	border-bottom: 1px solid #E39A9D;
}
#entryCal {
	color: #000;
	width: 16.5em;
	border: none !important;
}

#entryCal td {
	background-color: #F1F7FB!important;
	width:100%;
}

#entryCal td.day {
	width:15%!important;
}

#entryCal td.day-header {
	font-size: 94%;
	font-weight: normal;
	color: #285090;
	width:15%!important;
}

#entryCal td a{
	border: none !important;
}

#entryCal .title td {
	width:100%;
}
#entryCal .title td a{
	background-color: #F1F7FB!important;
}

#entryCal .today {
	color: #000000!important;
	background-color: #F1F7FB!important;
}

#entryCal .other-month {
	visibility:hidden;
	width:15%!important;
}

#entryCal .title {
	background-color: #F1F7FB !important;
	padding: 4px;
	border-bottom: none !important;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	padding-bottom: .2em;
	color: #eeeff7;
}

#entryCal .next {
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	padding-bottom: .2em;
	color: #eeeff7;
}

#entryCal .next a{
	color: #285090;
	margin: 0 .8em; 
	text-decoration: none;
	background-color: #F1F7FB!important;
}

#entryCal .next a:hover {
	color: #000000;
}



.Thumbnail {


	padding: 0;
	margin: 2em 18em 2em 2em;
}


.Thumbnail a img {

	border:1px solid black;
	margin: 15px;

}
.PreviousNext a
{
	text-decoration:none;
	color:#285090;
}
.PreviousNext a:hover
{
	
	color: maroon;
}
.newsItem
{
	padding: .9em;
	font-size:1em;
	font-weight:bold;
	border:solid 1px #26395e;
	background: #e2e3f3;
}
.contactForm
{	background-color:#d5d0ca;
	padding-bottom: 0.2em;
	padding-top: 1.5em;
	border:solid 1px #26395e;
	margin: 10px;
	padding-left: 20px;
	width:450px;
}
#buttonBold
{
	height:27px;
	width:27px;
	/*background-image: url(images/comment_button_bold.jpg);*/
	float:left;
	margin-right:3px;
	cursor:pointer;
}
#buttonItalic
{
	height:27px;
	width:27px;
	background-image: url(images/comment_button_italic.jpg);
	float:left;
	margin-right:3px;
	cursor:pointer;
}
#buttonBlockquote
{
	height:27px;
	width:27px;
	background-image: url(images/comment_button_blockquote.jpg);
	float:left;
	margin-right:3px;
	cursor:pointer;
}
#buttonUnderline
{
	height:27px;
	width:27px;
	background-image: url(images/comment_button_underline.jpg);
	float:left;
	margin-right:3px;
	cursor:pointer;
}
#buttonHyperlink
{
	height:27px;
	width:27px;
	background-image: url(images/comment_button_hyperlink.jpg);
	float:left;
	margin-right:3px;
	cursor:pointer;
}
/* ------------- {search layout} -------------- */
#search
{
	position: absolute;
	right: 55px;
	top: 50px;
}

#search-box
{
	margin: 0 0 0 2px;
	text-align: right;
}

#search input
{
	margin: 0;
	padding: 0;
}

#search-results
{
	width: 300px;
	min-width: 300px;
	position: absolute;
	top: 18px;
	right: 20px;
	z-index: 10;
	text-align: left;
}

#search-results h5
{
	font-size: 1em;
	color: #444;
	margin: 0;
	padding: 0;
	width: 300px;
}

#search-results ul
{
	padding: 0;
	margin: 0 0 0 8px;
	width: 100%;
}

#search-results ul li
{
	padding: 0;
	margin: 0: 
}

#search-results div.innerbox
{
	background-color: #f6f6f6;
	padding: 10px;
}

#search a.close
{
	position: absolute;
	top:0;
	right: 4px;
	display: block;
}

#search-progress
{
	position: absolute;
	top: 18px;
	left: 80px;
}

#full-tag-cloud
{
	margin-top: 10px;
}

h1
{
	margin-top: 4px 0 6px 4px;
	padding: 8px 0 8px 0;
}