<?xml version="1.0" encoding="utf-8" ?>
<SkinTemplates>
    <SkinTemplate Name="Submarine" StyleMergeMode="MergedAfter">
        <Scripts>
            <Script Src="~/scripts/niceforms.js" />
            <Script Src="~/scripts/lightbox.js" />
            <Script Src="~/scripts/XFNHighlighter.js" />
            <Script Src="~/scripts/ExternalLinks.js" />
            <Script Src="~/scripts/LiveCommentPreview.js" />
            <Script Src="~/scripts/AmazonTooltips.js" />
        </Scripts>
        <Styles>
            <Style href="~/skins/_System/csharp.css" />
            <Style href="~/skins/_System/commonstyle.css" />
            <Style href="~/skins/_System/commonlayout.css" />
            <Style href="~/scripts/XFNHighlighter.css" />
            <Style href="~/css/lightbox.css" media="screen"/>
            <Style href="print.css" media="print" />
        </Styles>
    </SkinTemplate>
</SkinTemplates>