body
{
	/*the entire page*/
	background: url(images/bcg.jpg);
	font-family : georgia, 'lucida sans unicode';
}
#BlogStats
{
	/* the container for statistics for your blog */
	color: #D1EDFF;
	font-size: 12px;
}
#container
{
	/* this is the outermost container for Subtext
	all elements reside within here */
	background:url(images/content.jpg) repeat-y;
	/*margin-left: 150px;
	margin-right: 150px;*/
	width:701px;
	margin-left: 130px;
}
#header
{
	/* container for the header */
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 10px;
}
#header .title
{
	/* page header title */
	font-size: 3em;
	font-weight: bold;
}
#header .title  a,#header .title  a.visited
{
	text-decoration:none;
	color:white;
}
#header .subtitle
{
	/* header subtitle */
	font-size: 0.8em;
	color: #D4D4D7;
	font-weight: bold;
}
#navigation
{
	/*the section that holds all the links to various parts of the site
	such as archives, categories, and blogroll */
	float:right;
	width:170px;
	padding-right:8px;
}

#navigation .links .title
{
	text-transform : uppercase;
	color: #D1EDFF;
	font-size: 0.9em;
	font-weight: bold;
}

#navigation .links a:link, #navigation .links a:visited
{
	color: #D1EDFF;
	font-size:0.7em;
	text-decoration: none;
}

#navigation .links a:hover
{
	color: #c00;
}

#navigation .links ul li
{
	color: #D1EDFF;
	margin-left: -7px;
}
#navigation .links ul
{
	margin-top:0px;
}


#content
{
	/* this region is where the main page content will be loaded
	it can have posts, archives, category listings, etc. */	
	padding-left: 0px;
	background-color: #FCFCF7;
	margin-left: 20px;
	width: 460px;  
	margin-top:0px;
}
#news
{
	/*container for the news announcement */
}
#news .title
{
	/*title of the news announcement*/
}
#news .body
{
	/* the body of the news announcement */
}
#footer
{
	/* bottom of all pages */
	/*background:url(images/footer.jpg) no-repeat;*/
}
#footer .copyright
{
	/* copyright information in the footer */
	margin-left: 18px;
	font-size: 10px;
	font-weight: bold;
	color: white;
	margin-top:6px;
	padding-bottom: 10px;
	
}

#gallery
{
	/* container for galleries */
}
#gallery .title
{
	/* the title of the gallery */
}
#gallery .description
{
	/* the description of the gallery */
}
#gallery .thumbnails
{
	/* contains all the thumbnails for the gallery */
}
#gallery  .thumbnail
{
	/* specific formatting for each individual thumbnail */
}

#postComment
{
	/* the container for the form where people can input comments */
	padding-left: 10px;
	margin-top: 15px;
}

#postComment .title
{
	font-weight: bold;
	font-size: .9em;
}
#searchBox
{
	/* container for the searchbox */
}
#searchBox .searchInput
{
	/* the text box that search terms are typed into */
}
#searchBox .seachButton
{
	/* the button pressed to initiate the search */
}
.links
{
	/* The primary container for each navigation section
	(such as Archives, Categories, etc) */
}
.links .title
{
	/* The title of each navigation section */
}
.links ul
{
	/* the styling for unorderd lists inside the links container */
}
.links ul li
{
	/* listed items in unordered lists in links */
}
#recentComments
{
	/* container for recent comments control */
}
.comments
{
	font-size: .8em;
	padding-left: 5px;
	margin-right: 5px;
}

.comments h2
{
	font-size: 1.1em;
}

.comment
{
	/* container for individual comment */
	padding-top: 10px;
}
.comment .title
{
	font-weight: bold;
}
.comment .author
{
}

a.removeCommentLink
{
	float: right;
}

.comment .content
{
	clear: both;
	font-size: 1.3em;
	padding-top: 5px;
	background: #f9f9fa;
}
.day
{
	/* container for the view of posts by day */
	
}
.day .date
{
	/* the date being viewed */
	display:none;
}
#myLinks
{
	/* container for the MyLinks */
	margin-top:15px;
	margin-bottom:20px;
}
#myLinks .title
{
	/* the title of the MyLinks section */
}
#myLinks .links
{
	/* the links contained in the MyLinks section */
	color:white;
}

#myLinks .links a 
{
	padding-right: 15px;
}

/*#myLinks .links .contact, */
#myLinks .links .home, 
#myLinks .links .home:link,
#myLinks .links .home:visited,
#myLinks .links .contact,
#myLinks .links .contact:link,
#myLinks .links .contact:visited,
#myLinks .links .archives,
#myLinks .links .archives:link,
#myLinks .links .archives :visited
#myLinks .links .syndication,
#myLinks .links .syndication:link,
#myLinks .links .syndication:visited
{
	background: url(images/buton.gif) no-repeat;
	text-decoration:none;
	padding-left:20px;
	text-transform:uppercase;
	color:white;
	font-size:12px;
	font-weight:bold;
	height : 20px !important;
	height : 20px;
}
#myLinks .links .home:hover,
#myLinks .links .contact:hover,
#myLinks .links .syndication:hover,
#myLinks .links .archives:hover,
#myLinks .links .home.active,
#myLinks .links .contact.active,
#myLinks .links .archives.active
{
	background-position : 0px -15px;
	text-decoration : none;
}
#myLinks .links .home
{
	text-decoration:none;
	height : 15px !important;
	height : 15px;
}

#homeIcon 
{
	width: 20px;
	height: 14px;
	display: inline-block;
	background: url(images/home.gif) no-repeat;
}

/*
#myLinks .links .archives, #myLinks .links .archives a:visited
{
	background: url(images/archi.jpg) no-repeat;
	text-decoration:none;
	padding-left:20px;
	text-transform:uppercase;
	color:white;
	font-size:0.6em;
	font-weight:bold;
	line-height:18px;
}
#myLinks .links .syndication, #myLinks .links .syndication a:visited
{
	background: url(images/syndi.jpg) no-repeat;
	text-decoration:none;
	padding-left:20px;
	text-transform:uppercase;
	color:white;
	font-size:0.6em;
	font-weight:bold;
	line-height:18px;
}
*/
/*
.myadmin
{
	/*separeted admin link*//*
	background:url(images/admbutton.gif) no-repeat;
	padding-left:19px;
	margin-left: 350px;
}*/
.myadmin a,
.myadmin:link,
.myadmin:visited
{
	background: url(images/btnAdmin.gif) no-repeat;
	padding-left:19px;
	margin-left: 350px;
	text-decoration:none;
	text-transform:lowercase;
	color:white;
	font-size:9px;
	font-weight:bold;
	
	/*line-height:18px;*/
	height : 11px !important;
	height : 11px;
}
.myadmin a:hover
{
	background-position : 0px -12px;
	text-decoration : none;
	color : white;
}
.posts
{
	/* container for a list of posts - not used on main page*/
}
.post
{
	/* the container for a single post */
	color: #354669;
	font-size: 0.9em;
	
}
.post .title
{
	padding-top: 10px;
}
.post .title a:link, .post .title a:visited
{
	/* the title of a post */
	text-decoration:none;
	color: #354669;
	font-size: 1em;
	font-weight: bold;
	background : transparent;
	padding-left:5px;
}

.post .title a:hover
{
	color: #c00;
}

.post .body
{
	/* the body of a post */
	padding: 5px 5px 5px 5px;
}
.post .info a:link, .post .info a:visited, .post .info
{
	/* the footer information of each post */
	text-decoration:none;
	color: #354669;
	font-size: 10px;
	font-weight: bold;
	font-family : georgia;
	line-height: 18px;
	padding-left: 5px;
}

.post .info
{
	background: url(images/footer.gif) repeat-x;
	line-height : 34px;
	height : 34px;
	vertical-align: middle;
}

.post .trackback
{	
	/* the trackback / ping area of a post */
}

.previousNext
{
	font-size: .9em;
	text-align: center;
}

.previousNext a:hover
{
	color: #c00;
}

.required
{
	/*information that should be marked as required */
}
.singleImage
{
	/* container for viewing a single image in the gallery */
}
.singleImage .title
{
	/* title of single image */
}
.singleImage .image
{
	/* image being displayed */
	
}

/*----------- print icon custom styling ---------*/
a.printIcon
{
	margin-left: 0;
}

a.printIcon span
{
	margin-left: -5px;
	padding-left: 17px;
}

a.printIcon:hover
{
	color:#c00;
}