* {
    margin: 0;
    padding: 0;
}

html, body, form {
    height: 100%;
}

body
{
	background: #fff;
	color: #333;
	font-family: "trebuchet ms", "lucida grande", verdana, arial, geneva, lucida, sans-serif;
	font-size: small;
}

#container {
    min-height: 100%;
    margin-bottom: -33px;
    position: relative;
}

#login-status {
	font-size: .9em;
	padding: 2px 10px;
	text-align: right;
	background-color: #000;
	color: #bbb;
}

#login-status strong {
    color: #fff;
    margin-right: 8px;
}

#blog-title {
    margin-right: 20px;
}

.hide { display: none; }

#header {
    clear: both;
    background-color: #334677;
    float: left;
}

#filler {
    float: right;
    margin-top: 50px;
}

#logo
{
	background: url(../../images/SubtextLogo.png);
	width: 261px;
	height: 85px;
	display: block;
	margin: 10px 0 5px 10px;
	float: left;
	position: absolute;
	top: -8px;
}

* html #logo
{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/SubtextLogo.png", sizingMethod="crop");
}

#logo a
{
	width: 261px;
	height: 85px;
	display: block;
	margin: 0;
	padding: 0;
}

#logo a span
{
	display: none;
}

h1 {
	font-size: 1.7em;
	padding-left: 5px;
}

h2 {
	font-size: 1.2em;
}

h1, h2 {
    margin: 2px 0 8px 0;
	color: #555;
	background: #ecedef;
	border-bottom: 1px dashed #ccc;
	border-top: 1px solid #ccc;
	font-weight: bold;
	text-transform: uppercase;
}

#credits p, #credits ul, #credits ol {
    padding-left: 20px;
    margin-left: 10px;
}

html>body, 
html>body td, 
html>body th 
{
	font-size: small;
}

div.Pager  {
	padding-bottom: 4px;
	margin-bottom: 8px;
	margin-right: 10px;
	float: right;
}

div.Pager div {
	float: left;
	margin: 1px 2px 1px 2px;
}

div.Pager a:link, 
div.Pager a:visited  {
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 1px 2px 1px 2px;
	float: left;
	display: block;
	clear: none;
}

div.Pager a.Current:link, 
div.Pager a.Current:visited  {
	font-weight: bold;
	border-top: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
	margin: 0px 2px 0px 2px;
}

a:link, a:visited {
	color: #002C99;
	font-weight: bold;
	text-decoration: none;
	background: inherit;
}

a:hover 
{
	color: #CC0066;
	text-decoration: underline;
}

a.Button:link,
a.Button:visited 
{
	display: block;
	float: left;
	padding: 2px 8px;
	background: #6B86B3;
	border: 1px solid #333333;
	text-transform: uppercase;
	margin-right: 8px;
	color: #FFFFFF;
	font-size: 95%;
	font-weight: bold;
	width: 70px;
	text-align: center;
}

a.RightButton:link,
a.RightButton:visited 
{
	display: block;
	float: right;
	padding: 2px 8px;
	background: #6B86B3;
	border: 1px solid #333333;
	text-transform: uppercase;
	margin-right: 8px;
	color: #FFFFFF;
	font-size: 95%;
	font-weight: bold;
	width: 70px;
	text-align: center;
}

html>body a.Button {
	width: auto;
	min-width: 70px;
}

a.Button:hover {
	color: #CC0066;
	text-decoration: underline;
	background: #FFFFFF;
}

a.Thumbnail {
	float: left;
	display: block;
	margin: 12px 12px 12px 0px;
	color: inherit;
	background-color: #FFF;	
	border: 1px solid #CCC;
}

a.Thumbnail:hover {
	color: inherit;
	background-color: #FFECF5;
}

a.Thumbnail IMG {
	margin: 12px;
	border: 1px solid #999;	
}

p.ThumbnailTitle {
	font-size: 160%;
	float: left;
	padding-top: 48px;
	margin-left: 13%;
}

p.ThumbnailTitle span {
	font-size: 60%;
}

p.InlineSubtitle {
	border-bottom: 1px solid #CCC;
	font-size: 120%;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 12px;
}

a.ButtonInline:link,
a.ButtonInline:visited {
	display: block;
	clear: none;
	padding: 2px 8px;
	background: #6B86B3;
	border: 1px solid #333333;
	margin-right: 8px;
	color: #FFFFFF;
	font-size: 90%;
	font-weight: bold;
	width: 100px;
	text-align: center;
}

html>body a.ButtonInline:link,
html>body a.ButtonInline:visited {
	float: left;
	margin-left: 4px;
}

a.ButtonInline:hover {
	color: #CC0066;
	text-decoration: underline;
	background: #FFFFFF;
}

div.Action 
{
	color: #333333;
	border-bottom: 1px dashed #999;
	margin-bottom: 8px;
	padding: 8px 12px 0px 12px;
	background: #EEEEEE;
}

div.Dialog {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	border: 1px solid #AAAAAA;
}

div.DialogTitle {
	font-size: 105%;
	border-bottom: 1px dashed #999;
	font-weight: bold;
	color: #333333;
	width: auto;
	padding: 2px 12px;
	clear: left;
	background: #E5E5E5;
}

div.DialogBody {
	color: #333333;
	background: #EEEEEE;
	padding: 12px 12px 2px 12px;
}

#sidebar {
	width: 160px;
	float: left;
	font-size: .9em;
}

#sidebar ul {
    margin: 0 0 0 8px;
    list-style: none;
}

#sidebar ul li a.active
{
	font-weight: bold;
	font-size: larger;
	text-decoration: none;
}

#content {
    margin-left: 170px;
}

#content .section {
  float: left;
}

#content div.Edit p  {
	margin: 0px 0px 10px 0px;
}

body.admin input.textbox
{
    width: 695px;
}

body.admin textarea
{
    width: 695px;
    height: 200px;
}

div#content #advanced-options input.date
{
    width: 250px;
}

div#content #enclosure-editor input.othertype
{
    width: 250px;
}


#entry-editor label, #advanced-options label, #enclosure-editor label {
    display: block;
    margin: 6px 0 2px 0;
}

div.Edit a.Toggle {
	margin: 1px 0px;
	float: right;
}

div.ImageList {
	padding-left: 12px;
	padding-bottom: 18%;
}

div.ImageThumbnail {
	float: left;
	margin-top: 12px;
	margin-right: 12px;
	color: #333333;
	background: #F5F5F5;
	border: 1px solid #ddd;
	width: 144px;
	height: 180px;
	text-align: center;
	vertical-align: bottom;
	overflow: hidden;
}

div.ImageThumbnail IMG {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 1px solid #999;
}

div.ImageThumbnail div.ImageThumbnailImage {
	margin-top: 12px;
	margin-bottom: 8px;
}

div.ImageThumbnail div.ImageThumbnailTitle {
	font-size: 83%;
	margin: 0px 12px 8px 12px;
}

iframe {
	border: 1px solid #999;
}

div#content div.Edit p.Label,
div.MessagePanel {
	color: #333333;
	background: #EEEEEE;
	border: 1px dashed #ccc;
	padding: 12px;
	font-weight: bold;
}

div.ErrorPanel {
	color: #660033;
	background: #FFFFCC;
	border: 1px dashed #DBDB64;
	padding: 12px;
	font-weight: bold;
}

div.ErrorPanel IMG,
div.MessagePanel IMG {
	float: left;
}

div.ErrorPanel DIV,
div.MessagePanel DIV {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 44px;
}

div#content div.Edit p.ValueLabel {
	font-weight: bold;
	color: #000;
	margin: 2px 0px 8px 0px;
	background: inherit;
}

div, ul {
	border: 0;
}

img {
	border: 0;
}

span.BreadcrumbLabel {
	color: #666699;
	background: inherit;
}

table.listing 
{
    width: 100%;
	border-bottom: 3px solid #6B86B3;
	border-collapse:collapse;
	margin: 0px 0px 8px 0px;
}

div.CollapsibleHeader 
{
	color: #333333;
	background: #cacbcd;
	border-bottom: 1px dashed #999;
	border-top: 1px solid #999999;
	font-size: 120%;
	font-weight: bold;
	text-transform: uppercase;
	padding: 2px 12px;
	margin: 12px 0px 0px 0px;
}

div.CollapsibleTitle {
	font-size: 105%;
	background: #CACBCD;
	border-top: 1px solid #aaa;
	border-bottom: 1px dashed #999;
	font-weight: bold;
	color: #333333;
	width: auto;
	padding: 2px 12px;
	margin: 12px 0px 0px 0px;
	clear: left;
}

div.CollapsibleHeader a:link, 
div.CollapsibleHeader a:visited,
div.CollapsibleTitle a:link, 
div.CollapsibleTitle a:visited {
	display: block;
	font-size: 75%;
	vertical-align: middle;
	text-transform: none;
	float: right;
}

div.CollapsibleHeader a:link, 
div.CollapsibleHeader a:visited {
	margin: 2px 0px;
}

div.CollapsibleTitle a:link, 
div.CollapsibleTitle a:visited {
	color: #FFFFFF;
	margin: 2px 0px;
	background: inherit;
}

div.CollapsibleHeader a:hover,
div.CollapsibleTitle a:hover {
	color: inherit;
	background: inherit;
}

table.listing td
{
	border-bottom: 1px solid #E6E6E6;
}

table.listing td, 
table.listing th,
table.listing caption, 
h2 {
	padding: 4px 12px 4px 12px;
	text-align: left;
}

table.listing tr {
	color: inherit;
	background: #F5F5F5;
}

table.listing th,
table.listing td.Header,
table.listing tr.Header td {
	font-weight: bold;
	color: inherit;
	border-bottom: 1px solid #6B86B3;
	background: #FFFFFF;
}

table.listing tr.alt 
{
	color: inherit;
	background: #FFFFFF;
}

td {
	margin: 0;
	padding: 0;
	vertical-align: top;
}

tr {
	margin: 0;
	padding: 0;
	vertical-align: top;
}

#breadcrumb {
    display: none;
}

/*--------- {Used to highlight table listings} ------------*/
table.highlightTable
{}

table.highlightTable tr.highlight td
{
	background: #fefeee;
}

table.highlightTable tr.highlightAlt td
{
	background: #f6f6d5;
}

.gridHeader
{
	font-weight: bold;
}

#tabs {
  list-style: none;
  float: right;
  margin: -25px 0 4px 0;
}

#tabs li {
  float: left;
  margin: 0;
  padding: 0 0 0 9px;
}

#tabs a {
  display: block;
  padding: 5px 15px 4px 6px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
    
#tabs a:hover {
  color: #F8D245;
}

body.Posts li#PostsTab,
body.Articles li#ArticlesTab,
body.Feedback li#FeedbackTab,
body.Links li#LinksTab,
body.Galleries li.galleryTab,
body.Stats li#StatsTab,
body.Options li#OptionsTab,
body.ImportExport li#ImportExportTab {
	background-color: #fff;
	-moz-border-radius-topleft: 4px;
	-khtml-border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-khtml-border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

body.Posts li#PostsTab a,
body.Articles li#ArticlesTab a,
body.Feedback li#FeedbackTab a,
body.Links li#LinksTab a,
body.Galleries #tabs li.galleryTab a,
body.Stats li#StatsTab a,
body.Options li#OptionsTab a,
body.ImportExport li#ImportExportTab a {
	color: #000;
}

#main {
    float: left;
    width: 100%;
}

.error
{
	color: #c00;
}

div.errorPage
{
	padding: 4px; 
	border: 1px solid #CCC; 
	width: 500px;
	background: #fff;
}

div.errorPage h2
{
	color: #660033;
	background: #FFFFCC;
	border: 1px dashed #DBDB64;
}

div.errorPage div
{
	padding: 4px; 
	background: #eee;
	margin-top: 24px; 
	margin-bottom: 48px;
	border: 1px solid #CCC; 
}

div.errorPage strong
{
	margin: 0;
}

/* Feedback table */
#feedback
{
	border-collapse: collapse;
}

#feedback, #feedback td, #feedback th
{
	border: 0;
	margin: 0;
}

#feedback th
{
	color: #004;
	vertical-align: baseline;
	padding: 5px;
}

#feedback td
{
	padding: 4px;
}

#feedback th.icons, #feedback td.icons
{
	text-align: right;
	margin: 0;
	padding: 0;
}

#feedback td img
{
	width: 16px;
	height: 17px;
	display: inline;
	margin-left: 4px;
	vertical-align: bottom;
	margin-top: 2px;
}

#feedback td img.email
{
	width: 16px;
	height: 17px;
}

#feedback tr.body td
{
	padding-bottom: 8px;
}

#feedback-filter
{
	float: right;
	margin: 1px 10px 0 0;
}

#feedback-filter select
{
    width: 10em;
}

a.active
{
	text-decoration: underline;
}

fieldset {
	margin: 4px 0 8px 0;
}

fieldset select {
    display: block;
    clear: both;
}

div.options, fieldset.options
{
	width: 350px; 
	float: left;
	margin-right: 10px;
}

div.options label {
    float: left;
}

div.wide, fieldset.wide
{
	width: 460px;
}

#editPost .textbox
{
	width: 697px;
}

fieldset select.timezonelist
{
	font-size: .8em;	
}

.clear { clear: both; }
.left { float:left; }
.right { float: right; }
.block { display: block; }
.inline { display: inline; }

#dynamic-table .textbox
{
  width: 225px;
}

#dynamic-table tr.new,
#dynamic-table tr.updated
{
	font-weight:bold;
	background-color: #FFFF66;
}

#dynamic-table th,
#dynamic-table td
{
	width:24%;
}

#dynamic-content button
{
    border: none;
	margin-right: .5em;
	padding-right: 15px;
	color: #00c;
	cursor: pointer;
}

#dynamic-content button:hover
{
  background-color: #ffd;
  color: #a50;
}

#dynamic-content .dynamic-add
{
	background: transparent url(../../Images/tag_blue_add.png) no-repeat scroll right center;
}

#dynamic-content .dynamic-edit
{
	background: transparent url(../../Images/tag_blue_edit.png) no-repeat scroll right center;
}

#dynamic-content .dynamic-delete
{
	background: transparent url(../../Images/tag_blue_delete.png) no-repeat scroll right center;
}

#dynamic-content .dynamic-save
{
    background: transparent url(../../Images/accept.png) no-repeat scroll right center;
}

#dynamic-content .dynamic-cancel
{
	background: transparent url(../../Images/cross.png) no-repeat scroll right center;
}

#messagePanelWrapper
{
	padding: .25em 1em;
	border:1px solid #FFF;
}
#messagePanelWrapper p
{
	font-size:.9em;
	margin:0;
	padding:0;
}

#messagePanel { padding-left: 20px; }

#messagePanelWrapper.error
{
	background-color:#FFADAD;
	border:1px solid #FF5757;
}
#messagePanelWrapper.error #messagePanel
{
	background: transparent url(../../Images/exclamation.png) no-repeat scroll left center;
}

#messagePanelWrapper.warn,
#messagePanelWrapper.info
{
	background-color:#FFFF66;
	border:1px solid #B2B347;
}
#messagePanelWrapper.warn #messagePanel,
#messagePanelWrapper.info #messagePanel
{
	background: transparent url(../../Images/error.png) no-repeat scroll left center;
}

#messagePanelWrapper.success
{
	background-color:#F8FFF0;
	border:1px solid #A0DC11;
}
#messagePanelWrapper.success #messagePanel
{
	background: transparent url(../../Images/accept.png) no-repeat scroll left center;
}

div.button-row
{
	clear: both;
}

/*-------------{table styles}--------------*/
table
{
	border-collapse: collapse;
}

table tr.header
{
	background-color: #ffc;
}

table.log
{
	border: solid 1px #ddd;
}

table.log .pre-header input, table.log .pre-header label
{
	float: left;
}

table.log .pre-header input.button
{
	float: right;
}

table.log th.logger
{
	width: 200px;
}

table.log tr
{
	vertical-align: top;
}

table.log td, table.log th
{
	font-size: .8em;
	padding: 5px;
	text-align: left;
}

table.log td, table.log th
{
	border: solid 1px #eee;
}

table.log td.date
{
	font-size: smaller;
}

table tr.alt
{
	color: inherit;
	background: #ffffef;
}

table tr
{
	color: inherit;
	background: #fff;
}

table tr.selected
{
	background-color: #e7f4fe;
}

table.users-table td, table.users-table th
{
	font-size: 1.1em;
}

select.wide-dropdown
{
    font-size: .9em;
}

select.number
{
    width: 4em;
}

#configure-form input.textbox, #configure-form textarea.textarea
{
    width: 315px;
}

#stylesheetTest {
    height: 25px;
    clear: both;
    padding-bottom: 10px;
}

#footer 
{
    position: relative;
    height: 25px;
    font-size: .8em;
    background-color: #000;
    border-top: solid 8px #000;
    padding: 0 10px 0 10px;
    clear: both;
}

#footer, #login-status {
    color: #eee;
}

#footer #version 
{
    float: right;
}

#footer #copyright 
{
    float: left;
}

#login-status a, #footer a {
    color: #F8D245;
}

/* --- dictionary ---*/
dl 
{
    width: 41.1em;
    line-height: 2em;
    margin: 2em 0;
    padding: 0;
}

dt 
{
    width: 6em;
    float: left;
    margin: 0;
    padding: .5em;
    border-top: 1px solid #999;
    font-weight: bold;
}

/* commented backslash hack for mac-ie5 \*/
dt { clear: both; }
/* end hack */

dd 
{
    float: left;
    width: 24em;
    margin: 0 0 0 0;
    padding: .5em;
    border-top: 1px solid #999;
}

#admin-options {
    float: left;
}