body
{
	/*background: #D9D9EF;*/
	background: #E0E0E5;
	color: #333;
	margin: 8px;
	padding: 0;
}

.hide { display: none; }

#logo
{
	background: url(../../images/SubtextLogo_small.png);
	width: 150px;
	height: 49px;
	display: block;
	margin: 10px 0 0 10px;
}

* html #logo
{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/SubtextLogo_small.png", sizingMethod="crop");
}

#logo a
{
	width: 150px;
	height: 49px;
	display: block;
	margin: 0;
	padding: 0;
}

#logo a span
{
	display: none;
}

body,
td,
th,
h3
{
	font-family: "trebuchet ms", "lucida grande", verdana, arial, geneva, lucida, sans-serif;
	font-size: x-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
}

h1 
{
	font-size: 170%;
	padding: 8px 12px;
	margin-bottom: 0px;
}

h2 
{
	margin: 0;
	padding: 0;
}

html>body, 
html>body td, 
html>body th 
{
	font-size: small;
}

div.LeftNavHeader 
{
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
	color: #333333;
	font-size: 80%;
	text-transform: uppercase;
	font-weight: bold;
	height: 17px;
	margin-top: 23px;
	padding-top: 3px;
	text-align: center;
	width: auto;
}

div.Pager  {
	padding-bottom: 4px;
	margin-bottom: 8px;
	float: right;
}

div.Pager div {
	float: left;
	margin: 1px 2px 1px 2px;
}

div.Pager a:link, 
div.Pager a:visited  {
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 1px 2px 1px 2px;
	float: left;
	display: block;
	clear: none;
}

div.Pager a.Current:link, 
div.Pager a.Current:visited  {
	font-weight: bold;
	border-top: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
	margin: 0px 2px 0px 2px;
}

a:link, a:visited {
	color: #002C99;
	font-weight: bold;
	text-decoration: none;
	background: inherit;
}

a:hover 
{
	color: #CC0066;
	text-decoration: underline;
}

a.Button:link,
a.Button:visited 
{
	display: block;
	float: left;
	padding: 2px 8px;
	background: #6B86B3;
	border: 1px solid #333333;
	text-transform: uppercase;
	margin-right: 8px;
	color: #FFFFFF;
	font-size: 95%;
	font-weight: bold;
	width: 70px;
	text-align: center;
}

a.RightButton:link,
a.RightButton:visited 
{
	display: block;
	float: right;
	padding: 2px 8px;
	background: #6B86B3;
	border: 1px solid #333333;
	text-transform: uppercase;
	margin-right: 8px;
	color: #FFFFFF;
	font-size: 95%;
	font-weight: bold;
	width: 70px;
	text-align: center;
}

html>body a.Button {
	width: auto;
	min-width: 70px;
}

a.Button:hover {
	color: #CC0066;
	text-decoration: underline;
	background: #FFFFFF;
}

a.Thumbnail {
	float: left;
	display: block;
	margin: 12px 12px 12px 0px;
	color: inherit;
	background-color: #FFF;	
	border: 1px solid #CCC;
}

a.Thumbnail:hover {
	color: inherit;
	background-color: #FFECF5;
}

a.Thumbnail IMG {
	margin: 12px;
	border: 1px solid #999;	
}

p.ThumbnailTitle {
	font-size: 160%;
	float: left;
	padding-top: 48px;
	margin-left: 13%;
}

p.ThumbnailTitle span {
	font-size: 60%;
}

p.InlineSubtitle {
	border-bottom: 1px solid #CCC;
	font-size: 120%;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 12px;
}

a.ButtonInline:link,
a.ButtonInline:visited {
	display: block;
	clear: none;
	padding: 2px 8px;
	background: #6B86B3;
	border: 1px solid #333333;
	margin-right: 8px;
	color: #FFFFFF;
	font-size: 90%;
	font-weight: bold;
	width: 100px;
	text-align: center;
}

html>body a.ButtonInline:link,
html>body a.ButtonInline:visited {
	float: left;
	margin-left: 4px;
}

a.ButtonInline:hover {
	color: #CC0066;
	text-decoration: underline;
	background: #FFFFFF;
}

br.clear 
{
	clear: both;
}

div#BlogTitle a:link, div#BlogTitle a:visited {
	color: #6B86B3;
	background: inherit;
}

div#BlogTitle a:hover, div#BlogTitle a:active {
	color: #CC0066;
	background: inherit;
}

div.LeftNavContent li {
	display: block;
	margin: 0;
	padding: 0;
}

div.LeftNavContent ul {
	display: block;
	list-style: none;
	margin: 4px 4px 4px 0px;
	overflow: hidden;
	padding: 0;
}

div.Action 
{
	color: #333333;
	border-bottom: 1px dashed #999;
	margin-bottom: 8px;
	padding: 8px 12px 0px 12px;
	background: #EEEEEE;
}

div.Dialog {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	border: 1px solid #AAAAAA;
}

div.DialogTitle {
	font-size: 105%;
	border-bottom: 1px dashed #999;
	font-weight: bold;
	color: #333333;
	width: auto;
	padding: 2px 12px;
	clear: left;
	background: #E5E5E5;
}

div.DialogBody {
	color: #333333;
	background: #EEEEEE;
	padding: 12px 12px 2px 12px;
}

div#Main div.Edit p  {
	margin: 0px 0px 10px 0px;
}

div.Edit a.Toggle {
	margin: 1px 0px;
	float: right;
}

div.ImageList {
	padding-left: 12px;
	padding-bottom: 18%;
}

/*
html>body div.ImageList {
	margin-bottom: 36px;
}

*/
div.ImageThumbnail {
	float: left;
	margin-top: 12px;
	margin-right: 12px;
	color: #333333;
	background: #F5F5F5;
	border: 1px solid #DDDDDD;
	width: 144px;
	height: 180px;
	text-align: center;
	vertical-align: bottom;
	overflow: hidden;
}

div.ImageThumbnail IMG {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 1px solid #999;
}

div.ImageThumbnail div.ImageThumbnailImage {
	margin-top: 12px;
	margin-bottom: 8px;
}

div.ImageThumbnail div.ImageThumbnailTitle {
	font-size: 83%;
	margin: 0px 12px 8px 12px;
}

iframe {
	border: 1px solid #999;
}

div#Main div.Edit p.Label,

div.MessagePanel {
	color: #333333;
	background: #EEEEEE;
	border: 1px dashed #CCCCCC;
	padding: 12px;
	font-weight: bold;
}

div.ErrorPanel {
	color: #660033;
	background: #FFFFCC;
	border: 1px dashed #DBDB64;
	padding: 12px;
	font-weight: bold;
}

div.ErrorPanel IMG,
div.MessagePanel IMG {
	float: left;
}

div.ErrorPanel DIV,
div.MessagePanel DIV {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 44px;
}

div#Main div.Edit p.ValueLabel {
	font-weight: bold;
	color: #000000;
	margin: 2px 0px 8px 0px;
	background: inherit;
}

div#SiteNav {
	font-size: 90%;
	padding: 2px 8px;
	text-align: right;
}

div, ul {
	border: 0; /*border: 1px solid #3C0;*/
}

html>body div#SubNav 
{
	padding-bottom: 5px;
}

img {
	border: 0;
/*	display: block; */
}

img.Inline {
	display: inline;
}

img#HeaderLogo {
	display: inline;
	margin: 10px 0 10px 0px;
}

img#PoweredBy {
	float: right;
}

span.BreadcrumbLabel {
	color: #666699;
	background: inherit;
}

table#BodyTable {
	color: #333333;
	border: 1px solid #999;
	clear: left;
	background: #FFFFFF;
}

table#Footer {
	color: #333333;
	border: 1px solid #999;
	margin-top: 8px;
	background: #FFFFFF;
}

table#Footer td {
	border-bottom: 1px solid #6B86B3;
	padding: 4px 8px;
}

table.Listing 
{
	border-bottom: 3px solid #6B86B3;
	margin: 0px 0px 8px 0px;
	width: 100%;
}

div.CollapsibleHeader 
{
	color: #333333;
	background: #CACBCD;
	border-bottom: 1px dashed #999;
	border-top: 1px solid #999999;
	font-size: 120%;
	font-weight: bold;
	text-transform: uppercase;
	width: auto;
	padding: 2px 12px;
	margin: 12px 0px 0px 0px;
}

div.CollapsibleTitle {
	font-size: 105%;
	background: #CACBCD;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px dashed #999;
	font-weight: bold;
	color: #333333;
	width: auto;
	padding: 2px 12px;
	margin: 12px 0px 0px 0px;
	clear: left;
}

div.CollapsibleHeader a:link, 
div.CollapsibleHeader a:visited,
div.CollapsibleTitle a:link, 
div.CollapsibleTitle a:visited {
	display: block;
	font-size: 75%;
	vertical-align: middle;
	text-transform: none;
	float: right;
}

div.CollapsibleHeader a:link, 
div.CollapsibleHeader a:visited {
	margin: 2px 0px;
}

div.CollapsibleTitle a:link, 
div.CollapsibleTitle a:visited {
	color: #FFFFFF;
	margin: 2px 0px;
	background: inherit;
}

div.CollapsibleHeader a:hover,
div.CollapsibleTitle a:hover {
	color: inherit;
	background: inherit;
}

table.Listing td
{
	border-bottom: 1px solid #E6E6E6;
}

table.Listing td, 
table.Listing th,
table.Listing caption, 
h2 {
	padding: 4px 12px 4px 12px;
	text-align: left;
}

table.Listing tr {
	color: inherit;
	background: #F5F5F5;
}

table.Listing th,
table.Listing td.Header,
table.Listing tr.Header td {
	font-weight: bold;
	color: inherit;
	border-bottom: 1px solid #6B86B3;
	background: #FFFFFF;
}

table.Listing tr.Alt 
{
	color: inherit;
	background: #FFFFFF;
}

td {
	margin: 0;
	padding: 0;
	vertical-align: top;
}

td div#LeftNavHeader 
{
	background: #00C2FF;
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
	color: #333;
	font-size: 80%;
	text-transform: uppercase;
	padding-bottom: 4px;
	height: 13px;
	text-align: center;
	width: auto;
	font-weight: bold;
}

*>td div#LeftNavHeader 
{
	padding: 4px;
}

td#Body {
	border-left: 1px solid #999;
}

td#Header {
	border-top: 3px solid #6B86B3;
}

td.NavHeaderRow {
	color: inherit;
}

td.NavLeftCell {
	width: 160px;
}

tr {
	margin: 0;
	padding: 0;
	vertical-align: top;
}



#TopNav {
	width: auto;
}

html>body #TopNav {
	min-width: 560px;
}

#BlogTitle {
	clear: none;
	color: #333333;
	float: right;
	font-size: 170%;
	font-weight: bold;
	letter-spacing: -1px;
	margin-right: 8px;
	padding: 4px;
	position: relative;
	text-align: right;
	z-index: 10;
	background: inherit;
}

.LeftNavContent {
	width:auto;
	font-size: 85%;
	padding: 8px;
}

#Main {
	padding: 20px;
}

#SubNav 
{
	font-size: 85%;
	background: #00C2FF;
	border-left: 1px solid #999;
	/*border-top: 1px solid #999;*/
	color: #000;
	height: 13px;
	float:left;
	width:100%;
	margin: 0px;
	padding: 3px 8px 2px 8px;
	z-index: 100;
}
*>#SubNav {width:98%;}

#SubNav A:link, 
#SubNav A:visited {
	color: #001E6A;
	background: inherit;	
	/*font-weight: normal;*/
}

#SubNav A:hover {
	color: inherit;
	background: transparent;
}


/*--------- {Used to highlight table listings} ------------*/
table.highlightTable
{}

table.highlightTable tr.highlight td
{
	background: #fefeee;
}

table.highlightTable tr.highlightAlt td
{
	background: #f6f6d5;
}

.gridHeader
{
	font-weight: bold;
}



#headerSS {
  float:left;
  width:100%;
  background:#FFF url("bg.gif") repeat-x bottom;
  border-bottom:1px solid #00C2FF;
  font-size:93%;
  line-height:normal;
  }
#headerSS ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
#headerSS li {
  float:left;
  background:url("left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  }
#headerSS a {
  float:left;
  display:block;
  background:url("right.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#FFF;
  }
  
  
#headerSS a:hover {
  color:#C0C0C0;
  }


body.Posts li#PostsTab,
body.Articles li#ArticlesTab,
body.Feedback li#FeedbackTab,
body.Links li#LinksTab,
body.Users li#UsersTab,
body.Galleries .NavHeaderRow #TopNav li.galleryTab,
body.Stats li#StatsTab,
body.Options li#OptionsTab,
body.ImportExport li#ImportExportTab 
{
	background-image:url("left_on.gif");
}
 
body.Posts a#TabPosts,
body.Articles a#TabArticles,
body.Feedback a#TabFeedback,
body.Users a#TabUsers,
body.Links a#TabLinks,
body.Galleries a#TabGalleries,
body.Stats a#TabStats,
body.Options a#TabOptions,
body.ImportExport a#TabImportExport  {
  background-image:url("right_on.gif");
  color:#333;
  padding-bottom:5px;
  }

.error
{
	color: #c00;
}

div.errorPage
{
	padding: 4px; 
	border: 1px solid #CCC; 
	width: 500px;
	background: #fff;
}

div.errorPage h2
{
	color: #660033;
	background: #FFFFCC;
	border: 1px dashed #DBDB64;
}

div.errorPage div
{
	padding: 4px; 
	background: #eee;
	margin-top: 24px; 
	margin-bottom: 48px;
	border: 1px solid #CCC; 
}

div.errorPage strong
{
	margin: 0;
}

/* Feedback table */
#feedback
{
	border-collapse: collapse;
}

#feedback, #feedback td, #feedback th
{
	border: 0;
	margin: 0;
}

#feedback th
{
	color: #004;
	vertical-align: baseline;
	padding: 5px;
}

#feedback td
{
	padding: 4px;
}

#feedback th.icons, #feedback td.icons
{
	text-align: right;
	margin: 0;
	padding: 0;
}

#feedback td img
{
	width: 16px;
	height: 17px;
	display: inline;
	margin-left: 4px;
	vertical-align: bottom;
	margin-top: 2px;
}

#feedback td img.email
{
	width: 16px;
	height: 17px;
}

#feedback tr.body td
{
	padding-bottom: 8px;
}

.FeedbackTypeControl
{
	float:right;
	padding: 17px 10px 0px 0px;
}
/*#cbShowOnlyCommentsx
{
	float:right;
	padding: 17px 10px 0px 0px;
}*/

a.active
{
	text-decoration: underline;
}

div.LeftNavContent ul li a.active
{
	font-weight: bold;
	font-size: larger;
	text-decoration: none;
}

fieldset
{
	margin: 4px 0 8px 0;
}

div.options, fieldset.options
{
	width: 350px; 
	float: left;
	margin-right: 10px;
}

div.wide, fieldset.wide
{
	width: 430px;
}

#editPost .textbox
{
	width: 697px;
}

fieldset select.timezonelist
{
	font-size: .8em;	
}

.clear { clear: both; }
.left { float:left; }
.right { float: right; }
.block { display: block; }
.inline { display: inline; }


div.role-chooser ul li
{
	display: inline;
	float: left;
}

div.role-chooser ul
{
	padding: 0;
	margin: 0;
}

div.role-chooser ul li
{
	margin-left: 0;
	margin-right: 10px;
}

div.role-chooser ul li input, 
div.role-chooser ul li label
{
	display: inline-block;
	margin: 0;
}

div.button-row
{
	clear: both;
}

/*-------------{table styles}--------------*/
table
{
	border-collapse: collapse;
}

table tr.header
{
	background-color: #ffc;
}

table.log
{
	border: solid 1px #ddd;
}

table.log .pre-header input, table.log .pre-header label
{
	float: left;
}

table.log .pre-header input.button
{
	float: right;
}

table.log th.logger
{
	width: 200px;
}

table.log tr
{
	vertical-align: top;
}

table.log td, table.log th
{
	font-size: .8em;
	padding: 5px;
	text-align: left;
}

table.log td, table.log th
{
	border: solid 1px #eee;
}

table.log td.date
{
	font-size: smaller;
}

table tr.alt
{
	color: inherit;
	background: #ffffef;
}

table tr
{
	color: inherit;
	background: #fff;
}

table tr.selected
{
	background-color: #e7f4fe;
}

table.users-table td, table.users-table th
{
	font-size: 1.1em;
}