/*
Skin Name: ArtistCE
Author: Gurkan Yeniceri
Graphics: Elif Altan Yeniceri

This is the community edition of my skin that I am using on my web site at www.analystdeveloper.com
*/

body {
	font-size : 0.9em;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin : 0px;
	background : url(images/bcgrmain.jpg);
	background-repeat: repeat-x;
	background-color : #edf0f5;
}

.entry{
	border-style: dotted; 
	border-width: 1px; 
	margin-bottom: 5px;
	text-align: justified;
}

.info{
	margin: 5px 0px 0px 0px;
	background-color: #69c;
	/*border-bottom: gainsboro 1px solid;*/
	font-size: 0.75em;
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: right;
}

#disclaimer{
	font-size : 0.9em;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#feedList #Link{
	font-size : 0.8em;
}

.entry h4{
	margin-top: 0px;
	font-size: 12px;
	background-color: #cfeaf2;
}

.entryDate h3{
	font-size : 9pt;
	margin-top : 0px;
}

.post {
	font-size: 11px;
	padding: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#blogmap, #stats, #sourceforge, #ads, #disclaimer{
	border-right: gainsboro 1px solid;
	border-left: gainsboro 1px solid;
	border-bottom: gainsboro 1px solid;
	border-color: #cfeaf2;
	background-color: #c4c4c4;
}

a:visited,
a:active,
a:link {	
	color : #000;
	text-decoration : none;
}

.post a{
	color : #FF0066;
	text-decoration : underline dotted;
	background: url(Images/external.png) no-repeat;
	padding-left: 10px;
	border-bottom: 1px dashed  #FF0066;
}

#searchBox .sText{
	width : 140px;
	font-size: 10px;
	border: 1px dotted #000080;
	position:absolute;
}

#searchBox .sButton {
	width : 31px;
	height: 19px;
	border: 0px dotted #000080;
	margin-left: 147px;
	position:absolute;
	background: url(Images/search_go.gif) no-repeat;
}

#searchBox{
	border: gainsboro 1px solid;
	border-color: #cfeaf2;
	background-color: #c4c4c4;
}

#searchBox #item{
	font-size: 9px;
}

h1 {	
	margin : 0px;
	font-size : 1.5em;
}

h1 a:visited,
h1 a:active,
h1 a:link {
	color : #000;
}

h1 a:hover {
	color : #47F;
	text-decoration : none;
}

h2 {
	margin-top : 5px;
	font-size : 1em;
}

h4{
	margin-top : 5px;
	background-color: WhiteSmoke;
}

h5 {
	margin: 0px;
	padding: 0px;
	color : #000000;
	/*background: url(Images/bullet_on.gif) 3px 3px no-repeat;*/
	background: url(Images/button.gif) no-repeat;
	text-align : center;
	height: 15px;
	
}

ul li a:hover{
	text-decoration: underline;
}

#leftmenu h5{
	font-size : 10px;
	margin : 0px;
}

#top {
	padding : 10px;
	/*background-color : #C0C0C0;*/
	color : #000;
	border-bottom : 1px solid #47F;
}

#name{
	/*create a new head.gif for yourself*/
	background: url(Images/head.gif) no-repeat;
	height:119px;
	width:502px;
}

#tagline {
	font-size : 0.8em;
	margin : 0px;
}

p.date img {
	vertical-align : middle;
}

p.date {
	font-size : 0.9em;
	font-weight : normal;
	border-bottom : 1px solid #AAA;	
	margin-bottom : 0px;
	padding : 2px 0px;
}

blockquote {
	font-style : italic;
}

#leftmenu {
	position : absolute;
	left : 5px;
	margin-top : 12px;
	width : 185px;
	/*background-color : #C0C0C0;*/
}

#leftmenu ul{
	list-style : none;
	margin : 0px;
	padding : 2px;
	margin-left : 0px;
	margin-bottom : 10px;
	font-size : 0.8em;
	border-right: gainsboro 1px solid;
	border-left: gainsboro 1px solid;
	border-bottom: gainsboro 1px solid;
	border-color: #cfeaf2;
	background-color: #c4c4c4;
	font-size : 8pt;
}
#stats, #disclaimer{
	font-size : 8pt;
}
#main {
	margin : 0px 0px 0px 190px;
	/*background-color: #C0C0C0;*/
	padding : 10px;
	/*border-left : 1px solid #47F;
	border-right : 1px solid #555;
	border-bottom : 4px solid #47F;*/
}

#footer {
	margin-left : 185px;
	padding-top : 5px;
	text-align : center;
	font-size : 0.7em;
}

#comments h4 span {
	color : #999;
}

#comments h4 {
	margin : 0px;
	font-size : 0.9em;
}

#comments h3{
	text-align: center;
}

#comments .comment .EditLink a{
	color:#FF0000;
	font-size: 12px;
}

.comment{
	border: gainsboro 1px solid;
	margin-bottom: 6px;
}

#commentform .fixed, .HIP .input{
	color: #003300; 
	border: 1px dotted #000080;
	width: 80%;
}

#commentform .label{
	font-size : 0.9em;
}

.contact{
	color: #003300; 
	border: 1px dotted #000080;
	width: 400px;
}

p {
	margin : 10px 0px;
}

#relatedlinks ul {
	list-style : none;
	margin-left : 10px;
	padding : 0px;
}

#calendar{
	background-color: #c4c4c4;
	font-size : 12px;
	
}

#calendar .title{
	background: url(Images/button.gif) no-repeat;
	font-size : 10px;
	margin-top: 0px;
	font-weight: bold;
	height: 15px;
}

#calendar .next a:hover{
	color : #47F;
}

#calendar .day a{
	color : #00CCFF;
}

#calendar .day-header{
	background-color: #ccffff;
	font-size : 10px;
	width: 185px;
}

#calendar .other-month{
	color: #ff0066;
	font-size : 10px;
}

#calendar .today{
	background-color: #cc66ff;
	font-size : 10px;
}

#calendar .day{
	font-size : 10px;
}

#calendar #entryCal{
	border-color: #cfeaf2;
}