<?xml version="1.0" encoding="utf-8" ?>
<SkinTemplates>
    <SkinTemplate Name="Leafy" StyleSheet="leafy.css" StyleMergeMode="MergedAfter">
        <Styles>
            <Style href="~/css/lightbox.css" media="screen"/>
            <Style href="~/scripts/XFNHighlighter.css" />
            <Style href="~/skins/_System/csharp.css" />
            <Style href="~/skins/_System/commonstyle.css" />
            <Style href="~/skins/_System/commonlayout.css" />
            <Style href="print.css" media="print" />
        </Styles>
        <Scripts>
            <Script Src="~/scripts/XFNHighlighter.js" />
            <Script Src="~/scripts/lightbox.js" />
        </Scripts>
    </SkinTemplate>

    <SkinTemplate Name="Rain" StyleSheet="rain.css" StyleMergeMode="MergedAfter">
        <Styles>
            <Style href="~/css/lightbox.css" media="screen"/>
            <Style href="~/scripts/XFNHighlighter.css" />
            <Style href="~/skins/_System/csharp.css" />
            <Style href="~/skins/_System/commonstyle.css" />
            <Style href="~/skins/_System/commonlayout.css" />
            <Style href="print.css" media="print" />
        </Styles>
        <Scripts>
            <Script Src="~/scripts/lightbox.js" />
            <Script Src="~/scripts/XFNHighlighter.js" />
        </Scripts>
    </SkinTemplate>

</SkinTemplates>