<?xml version="1.0" encoding="utf-8" ?>
<SkinTemplates>
    <SkinTemplate Name="Mobile" StyleMergeMode="MergedAfter" MobileSupport="MobileOnly">
        <Styles>
            <Style href="~/skins/_System/commonstyle.css" />
            <Style href="~/skins/_System/commonlayout.css" />
        </Styles>
    </SkinTemplate>
</SkinTemplates>