/* ------------- {search color scheme} -------------- */
/* scarlet */
#searchResults ul li
{
	color: #ac2c2b;
	text-align: left;
}

#search input.searchButton
{
	background-color: #ac2c2b;
}

/* very light gray */
#search input.searchterm, #search #searchResults
{
	background-color: #f6f6f6;
}

/* Border dark gray */
#search input.searchterm, #search #searchResults
{
	border-color: #aaa;
}

/* ------------- {typography} ----------------- */
#searchResults h5
{
	float: left;
	font-size: 1.1em;
	color: #444;
	margin: 0;
	padding: 0;
}



#searchResults ul li a
{
	font-size: .9em;
}

/* ------------- {search layout} -------------- */
#search
{
    text-align: right;
	margin-right: 15px;
	margin-top: 15px;
}

#search input.searchterm
{
	padding: 0;
	border: solid 1px;
}

#search input.searchButton
{
	color: #fff;
	width: 29px !important;
	width: 25px;
	font-weight: normal;
	border: none;
	padding: 0 2px 0 2px;
	text-align: center;
}