<?xml version="1.0" encoding="utf-8" ?>
<SkinTemplates>
    <SkinTemplate Name="Blue" StyleSheet="Blue.css" StyleMergeMode="MergedAfter">
        <Styles>
            <Style href="~/skins/_System/csharp.css" />
            <Style href="~/skins/_System/commonstyle.css" />
            <Style href="~/skins/_System/commonlayout.css" />
            <Style href="print.css" media="print" />
            <Style href="search.css" />
        </Styles>
    </SkinTemplate>

    <SkinTemplate Name="Orange" StyleMergeMode="MergedAfter">
        <Styles>
            <Style href="~/skins/_System/csharp.css" />
            <Style href="~/skins/_System/commonstyle.css" />
            <Style href="~/skins/_System/commonlayout.css" />
            <Style href="print.css" media="print" />
            <Style href="search.css" />
        </Styles>
    </SkinTemplate>

    <SkinTemplate Name="ScarletAndGrey" StyleSheet="ScarletAndGrey.css" StyleMergeMode="MergedAfter">
        <Styles>
            <Style href="~/scripts/lightbox.css"  media="screen" />
            <Style href="~/skins/_System/csharp.css" />
            <Style href="~/skins/_System/commonstyle.css" />
            <Style href="~/skins/_System/commonlayout.css" />
            <Style href="print.css" media="print" />
            <Style href="ScarletAndGrey-search.css" />
        </Styles>
        <Scripts>
            <Script Src="~/scripts/prototype.js" />
            <Script Src="~/scripts/scriptaculous.js?load=effects" />
            <Script Src="~/scripts/lightbox.js" />
        </Scripts>
    </SkinTemplate>
</SkinTemplates>