/*
Original Design by Adam Particka (webmaster@principleofdesign.com)
Found on the Open Source Web Design site: http://www.oswd.org/design/preview/id/1570

Design converted to CSS by the Subtext team.

*/

body 
{
	font-size: small;
	cursor: default;
	color: #777;
}

/*---------- {color scheme} ----------------*/
/* orange */
a, div.contentbox h2
{
	color: #ffba27;
}

/* darker orange */
div.previousNext a
{
	color: #efb027;
}

/* very light orange */
a:hover, a.printlink:hover 
{
	color: #ffdf4f;
}

div.previousNext a:hover
{
}

/* light grey */
#title h2, a.active
{
	color: #ccc;
}

div.contentbox h2
{
	background-color: #f9f9f9;
}

#header, #sidebar, div.footer
{
	border-color: #ddd;
}

#search input.searchterm
{
	color: #999;
}

/* dark gray */
#sidebar div.contentbox h2, #content div.contentbox h2
{
	border-color: #aaa;
}

div.contentbox
{
	border-color: #777;
}

/* ---------- {typography} -------------*/
body
{
	font-family: arial;
}

h1
{
	font-size: 1.2em;
}

h2
{
	font-size: 1.0em;
}

h3
{
	font-size: .9em;
	margin: 0;
	padding: 0;
}

#title h1 a
{
	font-size: 1.6em;
	font-weight: normal;
	text-transform: lowercase;
}

#title h2
{
	font-size: 1.5em;
	font-weight: normal;
	text-transform: lowercase;
}

#sidebar div.contentbox li a
{
	font-size: .9em;
	line-height: .8em;
}

.postinfo
{
	font-size: .8em;
}

.postinfo a
{
	font-size: 1em;
}

.comment
{
	width: 545px;
	margin: 2px 0 7px 0;
}

.comment a
{
	font-size: .9em;
}

.commentInfo
{
	margin-left: 5px;
	padding: 4px;
}

div.commentbody
{
	background-color: #fafafa;
	padding: 8px;
	width: 450px;
	min-height: 40px;
}

div.author
{
	border: solid 1px #967758;
	padding: 4px;
}

div.author div.commentbody
{
	background-color: #f0f0f0;
}

/*----------- {links} ------------------*/

a 
{
	text-decoration: none;
	font-size: 1.2em;
}

a:hover, a.printlink:hover 
{
	text-decoration: underline;
}

a.printlink:link, a.printlink:visited  
{

	text-decoration: none; 
	background-color: #fff;
	font-weight: normal;
}

/* -------------- {layout} -----------------*/
#main
{
	width: 800px;
	margin: 30px auto 0 auto;
}

#header
{
	float: left;
	width: 100%;
	height: 70px;
	border-bottom: solid 1px;
}

#title, #title h1, #title h2
{
	margin: 0;
	padding: 0;
}

#title
{
	float: left;
	width: 420px;
	margin-left: 5px;
}

#content
{
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
}

#sidebar
{
	width: 163px;
	float: left;
	margin: 0 0 0 20px;
	padding: 0;
	border-right: solid 1px;
}

#blogPosts
{
	width: 570px;
	float: left;
	padding-left: 17px;
}

div.footer
{
	clear: both;
	border-top: solid 1px;
	text-align: center;
}

/* ------------ {sidebar} -------------- */

#sidebar ul
{
	margin: 5px 0 0 0;
	padding: 0;
}

#sidebar ul li
{
	list-style-type: none;
	line-height: 1.7em;
}

#sidebar #nav
{
	margin-bottom: 20px;
}

/* ------------ {contentbox} --------------- */
#sidebar div.contentbox
{
	width: 140px;
}

div.contentbox
{
	border: solid 1px;
	margin-bottom: 20px;
}

div.contentbox h2
{
	border-bottom: solid 1px;
	margin: 0;
	padding: 2px 0 2px 0;
	font-size: 1.0em;
	text-transform: lowercase;
	font-weight: normal;
	text-align: center;
}

#blogPosts div.contentbox
{
	width: 544px;
	margin: 0;
	position: relative;
	bottom:6px;
	right: 6px;
}

#blogPosts div.contentbox h2
{
	text-align: left;
	padding-left: 5px;
}

div.content
{
	margin: 7px 5px 7px 7px;
}

.postinfo
{
	
}

/*---------------- {misc - special effects} --------------*/

.debug
{
	display: none;
}

div.previousNext
{
	width: 100%;
	text-align: center;
	font-size: .9em;
	padding: 4px;
}

span.commentInfo
{
	clear: none;
}

.comment h3
{
	clear: both;
}

