<cruisecontrol>
	<project name="SubText-2.0">
		<workingDirectory>E:\CCNET-Projects\workingFolder\Subtext2.0</workingDirectory>
		<artifactDirectory>E:\CCNET-Projects\artifact\Subtext2.0</artifactDirectory>

		<webURL>http://build.subtextproject.com/ccnet/server/local/project/SubText-2.0/ViewLatestBuildReport.aspx</webURL>
		<modificationDelaySeconds>60</modificationDelaySeconds>

		<!-- SVN configuration -->
		<sourcecontrol type="filtered">
			<sourceControlProvider type="svn">
				<executable>C:\Program Files\Subversion\bin\svn.exe</executable>
				<trunkUrl>https://subtext.svn.sourceforge.net/svnroot/subtext/trunk</trunkUrl>
				<workingDirectory>E:\CCNET-Projects\workingFolder\Subtext2.0</workingDirectory>
				<autoGetSource>true</autoGetSource>
				<webUrlBuilder type="websvn">
					<url>http://svn.sourceforge.net/viewvc/subtext{0}?view=markup&amp;pathrev={1}</url>
				</webUrlBuilder>
			</sourceControlProvider>
			<inclusionFilters>
				<pathFilter>
					<pattern>/trunk/SubtextSolution/**/*.*</pattern>
				</pathFilter>
			</inclusionFilters>
		</sourcecontrol>

		<labeller type="defaultlabeller">
			<prefix>2.0.0.</prefix>
			<incrementOnFailure>false</incrementOnFailure>
		</labeller>

		<prebuild>
			<!--
			<nant>
				<executable>E:\CCNET-Projects\workingFolder\Subtext2.0\BuildTools\Nant\NAnt.exe</executable>
				<baseDirectory>SubtextSolution</baseDirectory>
				<buildFile>recreateDB.build</buildFile>
			</nant>
				   -->
		</prebuild>

		<tasks>
			<!-- Build configutation -->
			<nant>
				<executable>E:\CCNET-Projects\workingFolder\Subtext2.0\BuildTools\Nant\NAnt.exe</executable>
				<baseDirectory>SubtextSolution</baseDirectory>
				<buildFile>SubText-CCNET.build</buildFile>
				<buildArgs>-D:msbuild.exe="C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\MSBuild.exe"</buildArgs>
				<buildTimeoutSeconds>3600</buildTimeoutSeconds>
				<targetList>
					<target>testAndCover</target>
					<target>reporting</target>
					<target>release</target>
					<target>dist.source</target>
				</targetList>
			</nant>
		</tasks>

		<publishers>
			<merge>
				<files>
					<file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\ncover.xml</file>
					<file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\unittest.xml</file>
					<file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\ccnet-fxcop.xml</file>

					<!--
                  
                  Remove since moved to its own project
                  
               <file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\ApplicationMetrics.xml</file>
               <file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\AssembliesBuildOrder.xml</file>
               <file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\AssembliesDependencies.xml</file>
               <file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\AssembliesMetrics.xml</file>
               <file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\InfoWarnings.xml</file>
               <file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\NDependMain.xml</file>
               <file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\TypesDependencies.xml</file>
               <file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\TypesMetrics.xml</file>
               -->

					<file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\buildinfo.xml</file>
				</files>
			</merge>
			<xmllogger/>
			<statistics>
				<statisticList>
					<statistic name='TestCountMb' xpath='sum(//report-result/counter/@run-count)'/>
					<statistic name='TestFailuresMb' xpath='sum(//report-result/counter/@failure-count)'/>
					<statistic name='TestIgnoredMb' xpath='sum(//report-result/counter/@ignore-count)+sum(//report-result/counter/@skip-count)'/>
					<statistic name='Coverage' xpath='round(//coverageReport/project/@coverage)'/>
					<statistic name='Code Lines' xpath='round(//coverageReport/project/@nonCommentLines)'/>
				</statisticList>
			</statistics>

			<twitter>
				<user>subtextbuild</user>
				<password>subtext</password>
			</twitter>
		</publishers>

		<externalLinks>
			<externalLink name="Project Site" url="http://www.subtextproject.com" />
			<externalLink name="Subtext SF Dashboard" url="http://sourceforge.net/projects/subtext" />
			<externalLink name="Bug Tracker" url="http://sourceforge.net/tracker/?group_id=137896&amp;atid=739979" />
			<externalLink name="Forum" url="http://sourceforge.net/forum/forum.php?forum_id=464968" />
			<externalLink name="Build archive" url="http://build.subtextproject.com/builds/" />
		</externalLinks>
	</project>

	<!--
   
   <project name="SubText-2.0-reporting">
      <workingDirectory>E:\CCNET-Projects\workingFolder\Subtext2.0</workingDirectory>
      <artifactDirectory>E:\CCNET-Projects\artifact\Subtext2.0Reporting</artifactDirectory>

      <webURL>http://build.subtextproject.com/ccnet/server/local/project/SubText-2.0-reporting/ViewProjectReport.aspx</webURL>
      
      <tasks>
         <nant>
            <executable>E:\CCNET-Projects\workingFolder\Subtext2.0\BuildTools\Nant\NAnt.exe</executable>
            <baseDirectory>SubtextSolution</baseDirectory>
            <buildFile>SubText-Reporting.build</buildFile>
            <buildTimeoutSeconds>3600</buildTimeoutSeconds>
            <targetList>
               <target>code.metrics</target>
               <target>ndoc</target>
            </targetList>
         </nant>
      </tasks>
      
      <publishers>
         <merge>
            <files>
               <file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\ApplicationMetrics.xml</file>
               <file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\AssembliesBuildOrder.xml</file>
               <file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\AssembliesDependencies.xml</file>
               <file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\AssembliesMetrics.xml</file>
               <file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\InfoWarnings.xml</file>
               <file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\NDependMain.xml</file>
               <file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\TypesDependencies.xml</file>
               <file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\TypesMetrics.xml</file>
               <file>E:\CCNET-Projects\workingFolder\Subtext2.0\logs\buildinfo.xml</file>
            </files>
         </merge>
         <xmllogger/>
      </publishers>
      
   </project>
   
   -->

	<project name="SubText-1.9">
		<workingDirectory>E:\CCNET-Projects\workingFolder\Subtext1.9</workingDirectory>
		<artifactDirectory>E:\CCNET-Projects\artifact\Subtext1.9</artifactDirectory>

		<webURL>http://build.subtextproject.com/ccnet/server/local/project/SubText-1.9/ViewLatestBuildReport.aspx</webURL>
		<modificationDelaySeconds>60</modificationDelaySeconds>


		<!-- SVN configuration -->
		<sourcecontrol type="filtered">
			<sourceControlProvider type="svn">
				<executable>C:\Program Files\Subversion\bin\svn.exe</executable>
				<trunkUrl>https://subtext.svn.sourceforge.net/svnroot/subtext/branches/Release1.9</trunkUrl>
				<workingDirectory>E:\CCNET-Projects\workingFolder\Subtext1.9</workingDirectory>
				<autoGetSource>true</autoGetSource>
				<webUrlBuilder type="websvn">
					<url>http://svn.sourceforge.net/viewvc/subtext{0}?view=markup&amp;pathrev={1}</url>
				</webUrlBuilder>
			</sourceControlProvider>
			<inclusionFilters>
				<pathFilter>
					<pattern>/branches/Release1.9/SubtextSolution/**/*.*</pattern>
				</pathFilter>
			</inclusionFilters>
		</sourcecontrol>

		<labeller type="defaultlabeller">
			<prefix>1.9.6.</prefix>
			<incrementOnFailure>false</incrementOnFailure>
		</labeller>


		<prebuild>
			<nant>
				<executable>E:\CCNET-Projects\workingFolder\Subtext1.9\BuildTools\Nant\NAnt.exe</executable>
				<baseDirectory>SubtextSolution</baseDirectory>
				<buildFile>recreateDB.build</buildFile>
			</nant>
		</prebuild>


		<tasks>
			<!-- Build configutation -->
			<nant>
				<executable>E:\CCNET-Projects\workingFolder\Subtext1.9\BuildTools\Nant\NAnt.exe</executable>
				<baseDirectory>SubtextSolution</baseDirectory>
				<buildFile>SubText-CCNET.build</buildFile>
				<buildArgs>-D:fxcop.exe="E:\CCNET-Projects\workingFolder\Subtext2.0\BuildTools\FxCop\FxCopCmd.exe" -D:msbuild.exe="C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\MSBuild.exe"</buildArgs>
				<buildTimeoutSeconds>3600</buildTimeoutSeconds>
				<targetList>
					<target>testAndCover</target>
					<target>reporting</target>
					<target>release</target>
					<target>dist.source</target>
				</targetList>
			</nant>
		</tasks>

		<publishers>
			<merge>
				<files>
					<file>E:\CCNET-Projects\workingFolder\Subtext1.9\logs\ncover.xml</file>
					<file>E:\CCNET-Projects\workingFolder\Subtext1.9\logs\unittest.xml</file>
					<file>E:\CCNET-Projects\workingFolder\Subtext1.9\logs\ccnet-fxcop.xml</file>
					<file>E:\CCNET-Projects\workingFolder\Subtext1.9\logs\ApplicationMetrics.xml</file>
					<file>E:\CCNET-Projects\workingFolder\Subtext1.9\logs\AssembliesBuildOrder.xml</file>
					<file>E:\CCNET-Projects\workingFolder\Subtext1.9\logs\AssembliesDependencies.xml</file>
					<file>E:\CCNET-Projects\workingFolder\Subtext1.9\logs\AssembliesMetrics.xml</file>
					<file>E:\CCNET-Projects\workingFolder\Subtext1.9\logs\InfoWarnings.xml</file>
					<file>E:\CCNET-Projects\workingFolder\Subtext1.9\logs\NDependMain.xml</file>
					<file>E:\CCNET-Projects\workingFolder\Subtext1.9\logs\TypesDependencies.xml</file>
					<file>E:\CCNET-Projects\workingFolder\Subtext1.9\logs\TypesMetrics.xml</file>
					<file>E:\CCNET-Projects\workingFolder\Subtext1.9\logs\buildinfo.xml</file>
				</files>
			</merge>
			<xmllogger/>
			<statistics>
				<statisticList>
					<statistic name='TestCountMb' xpath='sum(//report-result/counter/@run-count)'/>
					<statistic name='TestFailuresMb' xpath='sum(//report-result/counter/@failure-count)'/>
					<statistic name='TestIgnoredMb' xpath='sum(//report-result/counter/@ignore-count)+sum(//report-result/counter/@skip-count)'/>
					<statistic name='Coverage' xpath='round(//coverageReport/project/@coverage)'/>
					<statistic name='Code Lines' xpath='round(//coverageReport/project/@nonCommentLines)'/>
				</statisticList>
			</statistics>
			<twitter>
				<user>subtextbuild</user>
				<password>subtext</password>
			</twitter>
		</publishers>

		<externalLinks>
			<externalLink name="Project Website" url="http://www.subtextproject.com" />
			<externalLink name="Subtext SF Dashboard" url="http://sourceforge.net/projects/subtext" />
			<externalLink name="Bug Tracker" url="http://sourceforge.net/tracker/?group_id=137896&amp;atid=739979" />
			<externalLink name="Forum" url="http://sourceforge.net/forum/forum.php?forum_id=464968" />
			<externalLink name="Build archive" url="http://build.subtextproject.com/builds/" />
		</externalLinks>
	</project>

	<project name="CI-Config">
		<workingDirectory>E:\CCNET-Projects\workingFolder\Subtext\BuildTools\CCNET_Config</workingDirectory>
		<artifactDirectory>E:\CCNET-Projects\artifact\CIConfig</artifactDirectory>
		<webURL>http://build.subtextproject.com/ccnet/server/local/project/CI-Config/ViewLatestBuildReport.aspx</webURL>

		<sourcecontrol type="filtered">
			<sourceControlProvider type="svn">
				<executable>C:\Program Files\Subversion\bin\svn.exe</executable>
				<trunkUrl>https://subtext.svn.sourceforge.net/svnroot/subtext/trunk/BuildTools/CCNET_Config</trunkUrl>
				<workingDirectory>E:\CCNET-Projects\workingFolder\Subtext\BuildTools\CCNET_Config</workingDirectory>
				<autoGetSource>true</autoGetSource>
				<webUrlBuilder type="websvn">
					<url>http://svn.sourceforge.net/viewvc/subtext{0}?view=markup&amp;pathrev={1}</url>
				</webUrlBuilder>
			</sourceControlProvider>
		</sourcecontrol>

		<tasks>
			<nant>
				<executable>E:\CCNET-Projects\workingFolder\Subtext2.0\BuildTools\Nant\NAnt.exe</executable>
				<baseDirectory>.</baseDirectory>
				<buildFile>Update-CCNET.build</buildFile>
				<buildArgs>-D:ccnet.root="C:\Program Files\CruiseControl.NET"</buildArgs>

				<targetList>
					<target>copyfiles</target>
				</targetList>

			</nant>
		</tasks>
	</project>



</cruisecontrol>
