* html body
{
	font-size: x-small; /* for IE5/Win */
	f\ont-size: small; /* for other IE versions */
	text-align: center;
}

* html body #main
{
	text-align: left;
}

/*All IE browsers*/
* html ul.postInfo li
{
	border-left: 1px solid #999;
	padding: 0 0.4em 0 0.4em;
	margin: 0 0.4em 0 -0.4em;
}

/*Win IE browsers - hide from Mac IE\*/
* html ul.postInfo { height: 1%; }

* html ul.postInfo li
{
	display: block;
	float: left;
}

/*End hide*/
/*Mac IE 5*/
* html ul.postInfo li:first-child { border-left: 0; }