<?xml version="1.0" encoding="utf-8" ?>
<SkinTemplates>
    <SkinTemplate Name="Origami" StyleMergeMode="MergedAfter">
        <Styles>
            <Style href="~/css/lightbox.css" media="screen"/>
            <Style href="~/scripts/XFNHighlighter.css" />
            <Style href="~/skins/_System/csharp.css" />
            <Style href="~/skins/_System/commonstyle.css" />
            <Style href="~/skins/_System/commonlayout.css" />
            <Style href="user-styles.css" media="all" />
            <Style href="print.css" media="print" />
            <Style href="core.css" media="screen" />
            <Style href="tables.css" media="screen" />
            <Style href="core-IE.css" media="screen" conditional="if IE" />
            <Style href="ie5_5.css" media="screen" conditional="if IE 5" />
        </Styles>
        <Scripts>
            <Script Src="~/scripts/lightbox.js" Defer="true" />
            <Script Src="~/scripts/LiveCommentPreview.js" Defer="true" />
            <Script Src="~/scripts/ExternalLinks.js" Defer="true" />
            <Script Src="~/scripts/XFNHighlighter.js" Defer="true" />
            <Script Src="Scripts/styleSwitcher.js" />
        </Scripts>
    </SkinTemplate>
</SkinTemplates>