div.previousNext
{
	width: 450px;
}

/*--------{tags}-------------*/
div.sidebar-node #tag-cloud
{
	font-size: 1em;
	margin: 0;
	padding: 0;
}

div.sidebar-node #tag-cloud li, div.sidebar-node #tag-cloud li a
{
	display: inline;
	background: none;
	padding: 0;
	margin: 0;
}

div.sidebar-node #tag-cloud li a
{
	list-style-type: none;
	line-height: 1.4em;
}

/* ------------- {search color scheme} -------------- */
#searchResults
{
	background-color: #fff;
}

#searchResults ul li
{
	color: #ffba27;
}

/* very light gray */
#search input.searchterm, #search #searchResults
{
	background-color: #f6f6f6;
}

/* Border dark gray */
#search input.searchterm, #search #searchResults
{
	border-color: #ddd;
}

/* ------------- {search layout} -------------- */
#searchWrapper
{
	position: relative;
	width: 100%;
}

* html #searchWrapper
{
	display: none;
}

#search
{
	padding: 0;
	margin: 0 0 5px 0;
	width: 100%;
	float: none;
}

#search input
{
	margin-left: 5px;
	padding: 0;
}

#search input.searchterm
{
	width: 150px;
	border: solid 1px #444;
}

#searchResults
{
	position: absolute;
	width: 300px;
	text-align: left;
	border: solid 1px #000;
	left: -125px;
}

#searchResults h5
{
	margin-left: 5px;
}

#searchResults ul
{
	width: 298px;
}

#searchResults ul, #searchResults ul li
{
	margin-left: 0;
}

#search #search-progress
{
	position: absolute;
}