<?xml version="1.0" encoding="utf-8" ?>
<SkinTemplates>
    <SkinTemplate Name="Piyo" StyleMergeMode="MergedAfter">
        <Scripts>
            <Script Src="Scripts/piyo.js" />
            <Script Src="~/scripts/lightbox.js" />
        </Scripts>
        <Styles>
            <Style href="~/skins/_System/csharp.css" />
            <Style href="~/skins/_System/commonstyle.css" />
            <Style href="~/skins/_System/commonlayout.css" />
            <Style href="~/css/lightbox.css" media="screen" />
            <Style title="fixed" href="piyo-fixed.css" />
            <Style title="elastic" href="piyo-elastic.css" />
            <Style href="print.css" media="print" />
            <Style href="ie.css" media="screen" conditional="if IE" />
        </Styles>
    </SkinTemplate>
</SkinTemplates>