* html body
{
	font-size: x-small; /* for IE5/Win */
	f\ont-size: small; /* for other IE versions */
	text-align: center;
}

* html body #main
{
	text-align: left;
}

* html body #content
{
	overflow: hidden;
}

* html body #logo
{
	margin-left: 2px;
}

* html body #mainInner
{
	margin: 0 4px 0 4px;
}

* html body #nav a
{
	padding-bottom: 2px;
}

* html body #nav a:hover
{
	padding-bottom: 0;
}

* html body #blogstats
{
	margin-top: -1.9em;
}

/*All IE browsers*/
* html ul.postInfo li, * html #nav li
{
	border-left: 1px solid #999;
	padding: 0 0.4em 0 0.4em;
	margin: -4px 0.4em -1px -0.4em;
}

/*Win IE browsers - hide from Mac IE\*/
* html ul.postInfo, * html #nav { height: 1%; }

* html ul.postInfo li
{
	display: block;
	float: left;
}

/*End hide*/
/*Mac IE 5*/
* html ul.postInfo li:first-child, * html #nav li:first-child { border-left: 0; }

* html body .blogpost p
{
	margin-top: 5px;
}