h1 a:visited,
h1 a:active,
h1 a:link {
	color : #000;
}

h1 a:hover {
	color : #093;
}

a:visited,
a:active,
a:link {
	color : #093;
}

#top {
	background-color : #CEA;
	color : #000;
	border-bottom : 4px solid #093;
}

p.date {
	border-bottom : 1px solid #AAA;	
}

#main {
	background-color : #EEE;
	border-bottom : 4px solid #093;
}

#comments h4 span {
	color : #999;
}

h3 {
	border-bottom : 1px solid #AAA;
}

