<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Subtext.Plugins.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Subtext.Plugins.Core.Properties.Settings>
            <setting name="Subtext_Plugins_Core_com_community_credit_www_AffiliateServices"
                serializeAs="String">
                <value>http://www.community-credit.com/services/affiliateservices.asmx</value>
            </setting>
        </Subtext.Plugins.Core.Properties.Settings>
    </applicationSettings>
</configuration>