<?xml version="1.0" encoding="utf-8" ?>
<SkinTemplates>
    <SkinTemplate Name="BlueBook" StyleSheet="Blue.css">
        <Scripts>
            <Script Src="~/scripts/niceforms.js" />
            <Script Src="~/scripts/lightbox.js" />
        </Scripts>
        <Styles>
            <Style href="~/css/lightbox.css" />
            <Style href="~/skins/_System/csharp.css" />
            <Style href="~/skins/_System/commonstyle.css" />
            <Style href="~/skins/_System/commonlayout.css" />
            <Style href="niceforms-default.css" />
            <Style href="print.css" media="print" />
            <Style href="IE7Patches.css" conditional="if gte IE 7" />
            <Style href="IE6Patches.css" conditional="if IE 6" />
        </Styles>
    </SkinTemplate>

    <SkinTemplate Name="GreenBook" StyleSheet="Green.css" StyleMergeMode="MergedAfter">
        <Scripts>
            <Script Src="~/scripts/niceforms.js" />
            <Script Src="~/scripts/lightbox.js" />
        </Scripts>
        <Styles>
            <Style href="~/css/lightbox.css" />
            <Style href="~/skins/_System/csharp.css" />
            <Style href="~/skins/_System/commonstyle.css" />
            <Style href="~/skins/_System/commonlayout.css" />
            <Style href="niceforms-default.css" />
            <Style href="print.css" media="print" />
            <Style href="IE7Patches.css" conditional="if gte IE 7" />
            <Style href="IE6Patches.css" conditional="if IE 6" />
        </Styles>
    </SkinTemplate>
    
    <SkinTemplate Name="RedBook" StyleSheet="Red.css" StyleMergeMode="MergedAfter">
        <Scripts>
            <Script Src="~/scripts/niceforms.js" />
            <Script Src="~/scripts/lightbox.js" />
        </Scripts>
        <Styles>
            <Style href="~/css/lightbox.css" />
            <Style href="~/skins/_System/csharp.css" />
            <Style href="~/skins/_System/commonstyle.css" />
            <Style href="~/skins/_System/commonlayout.css" />
            <Style href="niceforms-default.css" />
            <Style href="print.css" media="print" />
            <Style href="IE7Patches.css" conditional="if gte IE 7" />
            <Style href="IE6Patches.css" conditional="if IE 6" />
        </Styles>
    </SkinTemplate>
</SkinTemplates>