<configuration>
	<appSettings>
		<add key="Admin.DefaultTemplate" value="~/Admin/Resources/PageTemplate.ascx" />
		<add key="Admin.DownlevelTemplate" value="~/Admin/Resources/PageTemplate.ascx" />
		<add key="Admin.DefaultContent" value="PageContent" />
	</appSettings>

    <system.web>
    
		<!-- ===========================================================================
		This setting is configured so that only authenticated users can visit any of the
		pages in the Admin directory.
		============================================================================ -->
		<authorization>
			<deny users="?" />
		</authorization>	
	
    </system.web>
</configuration>