<configuration>
    <system.web>
    
		<!-- ===========================================================================
		This setting is configured so that only authenticated users can visit any of the
		pages in the Admin directory.
		============================================================================ -->
		<authorization>
			<deny users="?" />
		</authorization>	
	
    </system.web>
</configuration>