<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<reverseDOS>
		<settings 
			lagTime="20000" 
			responseCode="403" 
			concurrencyLimit="6" />
		<trustedAddresses>
			<!--<address pattern="your ip address here" isRegex="false" />-->
			<directory pattern="/admin/" isRegex="true" />
		</trustedAddresses>
		<filters>
			<!-- general rule (don't allow > 4 <a href= links in a single post: -->
			<filter isRegex="true" matchCount="5">href=</filter>

			<!-- poker crapola -->
			<filter isRegex="true">poker|online.casino|slots|roulette|baccarat|blackjack|keno</filter>

			<!-- drugs: -->
			<filter isRegex="true">valtrex|viagra|meridia|zoloft|adipex|lisinopril|cephalexin|ambien|doxycycline|cialis|zithromax|levitra|atenolol|phentermine|levaquin</filter>

			<!-- smut: -->
			<filter isRegex="true">sexwizja.how.pl|camgirlslive.com|aff-friend-finder.net</filter>
			<filter isRegex="true">searchingrobot.info|bestweblinks.info|alltheinternet.com|searchnut.info|hypersearcher.info|fuck|fantasysearch.info</filter>

			<!-- crap referrer sites: -->
			<filter isRegex="true">
				online-gambling|casino|ua-princeton.com|e-holdem|jimhic.com|razordude.com|slot-machines|
				alleghenydist.com|juris-net.com|terriandersonandassoc.com|tomumberg2004.com|pimp-my-ride-tuning.com
			</filter>
			<filter isRegex="true">foolia.com|basdt.com|ovalx.com|colunn.com|harry-potter-fire.com|pelikk.com|trans-union-review.com</filter>
			<filter isRegex="true">
				molords.com|crm20.com|loop-back-focus.com|whatislev.com|21core.com|
				loop-back-focus.com|trans-mid.com|var28.com|barcodecs.com|mobuma.com|member2.com|trans-mid.com|credit-union-4u.com
			</filter>
			<filter isRegex="true">car-parts-auto.info|insurance-2.com|car-and-tire.info|crm20.com|insurance-zone.com|online-55.com|cams.com</filter>
			<filter isRegex="true">
				game2code.info|game1code.info|klikni_suka.com|carpet2clean.info|auto-motorcycle-helmet.info|car-q.info|
				insurance-zone.com|insurance-2.com|car-r.info|ford-truck.info|and-tire.info|parts-auto.info|online-55.com
			</filter>
		</filters>
	</reverseDOS>
</configuration>