<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="BlogConfigurationSettings" type="Subtext.Framework.Util.XmlSerializerSectionHandler, Subtext.Framework"/>
		<section name="HandlerConfiguration" type="Subtext.Framework.Util.XmlSerializerSectionHandler, Subtext.Framework"/>
		<section name="SyndicationCompression" type="Subtext.Framework.Syndication.Compression.SyndicationCompressionSectionHandler, Subtext.Framework" />
		<section name="ObjectProvider" type="Subtext.Framework.Providers.ObjectProviderSectionHandler, Subtext.Framework" />
		<section name="Database" type="Subtext.Framework.Providers.DbProviderSectionHandler, Subtext.Framework" />
		<section name="Email" type="Subtext.Extensibility.Providers.EmailProviderSectionHandler, Subtext.Extensibility" />
		<section name="Installation" type="Subtext.Extensibility.Providers.InstallationProviderSectionHandler, Subtext.Extensibility" />
		<section name="Import" type="Subtext.Extensibility.Providers.ImportProviderSectionHandler, Subtext.Extensibility" />
		<section name="RichTextEditor" type="Subtext.Extensibility.Providers.RichTextEditorProviderSectionHandler, Subtext.Extensibility" />
		<section name="AllowableCommentHtml" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="FriendlyUrlSettings" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>

	<!-- separatingCharacter - Auto Generated Friendly URLs
		will replace spaces with this character. Leave blank to simply remove
		spaces entirely.
		Valid values are 
			- (hyphen) . (period ) and _ (underscore)
		
		limitCharacterLength - when set to a number greater than 0, the Auto
		Generated Friendly URL will stop after specified number of characters.
	-->
	<FriendlyUrlSettings>		
		<add key="separatingCharacter" value="_" />
		<add key="limitWordCount" value="10" />
	</FriendlyUrlSettings>
	<!--
		This section contains a set of key / value pairs to indicate which HTML tags
		are allowed in comments. The key contains the tag (such as 'strong' or 'a')
		and the value is a comma delimited set of attributes that tag may have.
		If no attributes are allowed, set value=""
	-->
	<AllowableCommentHtml>
		<add key="a" value="href,title" />
		<add key="b" value="" />
		<add key="strong" value="" />
		<add key="blockquote" value="" />
		<add key="i" value="" />
		<add key="em" value="" />
		<add key="u" value="" />
	</AllowableCommentHtml>
	<!-- 
		This section is used to map URLS to the control that 
		renders the contents for a given URL.  The ordering DOES matter.
	-->
	<HandlerConfiguration defaultPageLocation="DTP.aspx" type="Subtext.Common.UrlManager.HandlerConfiguration, Subtext.Common">
		<HttpHandlers>
			<HttpHandler pattern="/login.aspx" handlerType="Page" pageLocation="Login.aspx" />
			<HttpHandler pattern="/Admin/" handlerType="Directory" directoryLocation="Admin" />
			<HttpHandler pattern="/Providers/" handlerType="Directory" directoryLocation="Providers" />
			<HttpHandler pattern="/rss\.aspx$" type="Subtext.Common.Syndication.RssHandler, Subtext.Common" handlerType="Direct" />
			<HttpHandler pattern="/atom\.aspx$" type = "Subtext.Common.Syndication.AtomHandler, Subtext.Common" handlerType="Direct" />
			<HttpHandler pattern="/comments/commentRss/\d+\.aspx$" type = "Subtext.Common.Syndication.RssCommentHandler, Subtext.Common" handlerType="Direct" />
			<HttpHandler pattern="/aggbug/\d+\.aspx$" type = "Subtext.Framework.Tracking.AggBugHandler, Subtext.Framework" handlerType="Direct" />
			<HttpHandler pattern="/customcss\.aspx$" type = "Subtext.Web.UI.Handlers.BlogSecondaryCssHandler, Subtext.Web" handlerType="Direct" />
			<HttpHandler pattern="(?:/category\/(\d|\w|\s)+\.aspx/rss/?)$" type = "Subtext.Common.Syndication.RssCategoryHandler, Subtext.Common" handlerType="Direct" />
			<HttpHandler pattern="(?:/ArchivePostPage.aspx)$" controls="ArchivePostPage.ascx" />
			<HttpHandler pattern="(?:/LinkPage.aspx)$" controls="LinkPage.ascx" />
			<HttpHandler pattern="(?:/ArticleCategories.aspx)$" controls="ArticleCategories.ascx" />
			<HttpHandler pattern="(?:/archives\.aspx)$" controls="SingleColumn.ascx" />
			<HttpHandler pattern="(?:/archive/\d{4}/\d{2}/\d{2}/\d+\.aspx)$" controls="viewpost.ascx,Comments.ascx,PostComment.ascx" />
			<HttpHandler pattern="(?:/archive/\d{4}/\d{2}/\d{2}/[-_,+\.\w]+\.aspx)$" controls="viewpost.ascx,Comments.ascx,PostComment.ascx" />
			<HttpHandler pattern="(?:/archive/\d{4}/\d{1,2}/\d{1,2}\.aspx)$" controls="ArchiveDay.ascx" />
			<HttpHandler pattern="(?:/archive/\d{4}/\d{1,2}\.aspx)$" controls="ArchiveMonth.ascx" />
			<HttpHandler pattern="(?:/articles/\d+\.aspx)$" controls="viewpost.ascx,Comments.ascx,PostComment.ascx" />
			<HttpHandler pattern="(?:/articles/[-_,+\.\w]+\.aspx)$" controls="viewpost.ascx,Comments.ascx,PostComment.ascx" />		
			<HttpHandler pattern="(?:/contact\.aspx)$" controls="Contact.ascx" />
			<HttpHandler pattern="(?:/posts/|/story/|/archive/)" type="Subtext.Web.UI.Handlers.RedirectHandler, Subtext.Web"  handlerType="Direct" />
			<HttpHandler pattern="(?:/gallery\/\d+\.aspx)$" controls="GalleryThumbNailViewer.ascx" />
			<HttpHandler pattern="(?:/gallery\/image\/\d+\.aspx)$" controls="ViewPicture.ascx" />
			<HttpHandler pattern="(?:/(?:category|stories)/(\w|\s)+\.aspx)$" controls="CategoryEntryList.ascx" />
			<HttpHandler pattern="(?:/comments\/\d+\.aspx)$" type = "Subtext.Common.Syndication.CommentHandler, Subtext.Common" handlerType="Direct" />
			<HttpHandler pattern="(?:/services\/trackbacks/\d+\.aspx)$" type = "Subtext.Framework.Tracking.TrackBackHandler, Subtext.Framework" handlerType="Direct" />
			<HttpHandler pattern="(?:/services\/pingback\.aspx)$" type = "Subtext.Framework.Tracking.PingBackService, Subtext.Framework" handlerType="Direct" />
			<HttpHandler pattern="(?:/services\/metablogapi\.aspx)$" type = "Subtext.Framework.XmlRpc.MetaWeblog, Subtext.Framework" handlerType="Direct" />
			
			<!-- this needs to be last -->
			<HttpHandler pattern="(?:((\/\/default\.aspx)?|(\/\/?))?)$" controls="homepage.ascx"/>
		</HttpHandlers>
	</HandlerConfiguration>

	<!-- 
		This is a REQUIRED provider that essentially configures an Object Data Source 
		for Subtext.  Access to the Object Data Sources are typically wrapped via classes 
		such as Entries.
		
		If DataObjectProvider is specified, then a Database provider must also be configured.
	-->
	<ObjectProvider defaultProvider="DatabaseObjectProvider">
		<providers>
			<add name="DatabaseObjectProvider" type="Subtext.Framework.Data.DatabaseObjectProvider, Subtext.Framework" />
		</providers>
	</ObjectProvider>
	
	<!--
		This provider is only necessary if DataObjectProvider is specified as the object 
		data source.  This provider abstracts the underlying database, whether it be 
		SQL, Access, MySQl, Oracle, or whatever.
	-->
	<Database defaultProvider="SqlDataProvider">
		<providers>
			<add name="SqlDataProvider" 
				type="Subtext.Framework.Data.SqlDataProvider, Subtext.Framework" 
				connectionString="${ConnectionString}" />
		</providers>
	</Database>
	
	<Email defaultProvider="DotNetOpenMailProvider">
		<providers>
			<!-- 
				If your SMTP server requires authentication, you may add.
				
				userName="user"
				password="pw"
				
				attributes to these providers.
				-->
			<add name="DotNetOpenMailProvider" 
				type="Subtext.Framework.Email.DotNetOpenMailProvider, Subtext.Framework" 
				smtpServer="localhost" 
				adminEmail="admin@ThisRepresentsYourBlog.com" />
			
			<add name="SystemMailProvider" 
				type="Subtext.Framework.Email.SystemMailProvider, Subtext.Framework" 
				smtpServer="localhost" 
				adminEmail="admin@ThisRepresentsYourBlog.com" />
				
		</providers>
	</Email>
	
	<Installation defaultProvider="SqlInstallationProvider">
		<providers>
			<add name="SqlInstallationProvider"
				type="Subtext.Installation.SqlInstallationProvider, Subtext.Installation"
				connectionString="${ConnectionString}" />
		</providers>
	</Installation>
	
	<Import defaultProvider="DotText095ImportProvider">
		<providers>
			<add name="DotText095ImportProvider"
				type="Subtext.Installation.Import.DotText095ImportProvider, Subtext.Installation"
				description=".TEXT 0.95 Import Provider"
				/>
		</providers>
	</Import>
	
	<!--
		Configuration from RichTextEditor provider
		Remember the trailing / at the end of all path
		This section works like any other provider section, so, to enable one provider,
		just write its name in the defaultProvider attribute
	-->
	<RichTextEditor defaultProvider="FtbRichTextEditorProvider">
		<providers>
			<add name="FtbRichTextEditorProvider"
				type="Subtext.Web.Providers.RichTextEditor.FTB.FtbRichTextEditorProvider, Subtext.Web"
				description="FreeTextBox RichTextEditor Provider"
				toolbarlayout="Bold,Italic,Underline,Strikethrough;Superscript,Subscript,RemoveFormat|FontFacesMenu,FontSizesMenu,FontForeColorsMenu|InsertTable|JustifyLeft,JustifyRight,JustifyCenter,JustifyFull;BulletedList,NumberedList,Indent,Outdent;CreateLink,Unlink,Insert,InsertRule|Cut,Copy,Paste;Undo,Redo|ieSpellCheck,WordClean|InsertImage,InsertImageFromGallery"
				FormatHtmlTagsToXhtml="true"
				RemoveServerNamefromUrls="false"
				WebFormFolder="~/Providers/RichTextEditor/FTB/"
				/>
			<!--
				The following provider allow FCKeditor to be used as rich text editor inside SubText
				Configuration parameters are:
				WebFormFolder: the path where the provider files are located (default should be ~/Providers/RichTextEditor/FCKeditor/)
				ToolbarSet: the set of toolbar buttons to use, the possibilities are Default,Basic,SubText, but the best is SubText
				Skin: the style of the toolbar buttons [default|office2003|silver]
				******** connector related settings ********
				ImageBrowserURL: the path where the ImageBrowser is located (don't change unless you know what you are doing)
				LinkBrowserURL: the path where the LinkBrowser is located (don't change unless you know what you are doing)
				ImageConnectorURL: the path where the connector for the ImageBrowser is located (don't change unless you know what you are doing)
				LinkConnectorURL: the path where the connector for the LinkBrowser is located (don't change unless you know what you are doing)
				FileAllowedExtensions: extensions to be retrieved when the connector lists files (.* means all)
				ImageAllowedExtensions: extensions to be retrieved when the connector lists images (.* means all)
			-->
			<add name="FCKeditorRichTextEditorProvider"
				type="Subtext.Providers.RichTextEditor.FCKeditor.FCKeditorRichTextEditorProvider, Subtext.Providers.RichTextEditor.FCKeditor"
				description="FCKeditor RichTextEditor Provider"
				WebFormFolder="~/Providers/RichTextEditor/FCKeditor/"
				ToolbarSet="SubText"
				Skin="office2003"
				ImageBrowserURL="~/Providers/RichTextEditor/FCKeditor/editor/filemanager/browser/default/browser.html?Type=Image&amp;Connector={0}"
				LinkBrowserURL="~/Providers/RichTextEditor/FCKeditor/editor/filemanager/browser/default/browser.html?Connector={0}"
				ImageConnectorURL="~/Providers/RichTextEditor/FCKeditor/editor/filemanager/browser/default/connectors/aspx/connector.aspx"
				LinkConnectorURL="~/Providers/RichTextEditor/FCKeditor/editor/filemanager/browser/default/connectors/aspx/connector.aspx"
				FileAllowedExtensions=".*"
				ImageAllowedExtensions="jpg|gif|png"
				/>
			<add name="PlainTextRichTextEditorProvider"
				type="Subtext.Web.Providers.RichTextEditor.PlainText.PlainTextRichTextEditorProvider, Subtext.Web"
				description="Plain text RichTextEditor Provider"
				cols="10"
				rows="10"
				cssClass="txt"
				/>
		</providers>
	</RichTextEditor>
	
	
	<!--
		Supported Types "gzip|deflate"
		Supported Levels "normal|low|high"		
	-->
	<SyndicationCompression type="gzip" level="high" />

	<BlogConfigurationSettings type="Subtext.Framework.Configuration.BlogConfigurationSettings, Subtext.Framework">
		<Tracking 
			enableAggBugs = "true" 
			enableWebStats = "true" 
			queueStats = "true" 
			queueStatsCount = "5" 
			enableTrackBacks = "true" 
			enablePingBacks = "true" 
			pingWeblogs = "true" />
	
		<!--	
			Checkout Subtext.Framework.Security for hashing passwords.  
			This should be set when first installing the application 
			and really shouldn't be changed afterwards.	
		-->
		<UseHashedPasswords>true</UseHashedPasswords>
	    
		<!-- Globally control access to web services -->
		<AllowServiceAccess>true</AllowServiceAccess>
	  
		<AllowImages>true</AllowImages>
	  
		<!-- Globally control use of XHTML -->
		<UseXHTML>true</UseXHTML>
	   
		<!-- Default Item Count -->
		<ItemCount>25</ItemCount>
	 
		<!-- Default Server Time Zone -->
		<ServerTimeZone>-5</ServerTimeZone>
		
		<!-- Whether or not to GZIP the RSS and/or atom feeds. -->
		<UseSyndicationCompression>true</UseSyndicationCompression>
			
		<!-- Chooses a doctype to use for the site -->
		<!-- XHTML 1.0 Transitional -->
		<DocTypeDeclaration>!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"</DocTypeDeclaration>
		
		<!-- OTHER DocTypes (http://htmlhelp.com/tools/validator/doctype.html)
		HTML 4.01 Strict		!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"
		HTML 4.01 Transitional	!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"	
		HTML 4.01 Frameset		!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd"
		XHTML 1.0 Strict		!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
		XHTML 1.0 Transitional	!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
		XHTML 1.0 Frameset		!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd"
		HTML 3.2				!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN"
		-->
	</BlogConfigurationSettings>

	<appSettings>
		<!-- Connection String -->
		<add key="ConnectionString" value="Server=localhost;Database=SubtextData;Trusted_Connection=True" />
		<add key="log4net.Internal.Debug" value="true" />
		
		<!-- Admin -->
		<add key="Admin.DefaultTemplate" value="~/Admin/Resources/PageTemplate.ascx" />
		<add key="Admin.DownlevelTemplate" value="~/Admin/Resources/PageTemplate.ascx" />
		<add key="Admin.DefaultContent" value="PageContent" />
		
		<!-- Aggregate Blog Stuff -->
		<add key="AggregateEnabled" value="false" />
		<add key="AggregateTitle" value="A Subtext Community" />
		<add key="AggregateUrl" value="http://localhost/Subtext.Web" />
		<add key="AggregateDescription" value=".NET by Subtext" />
		<add key="AggregateHost" value="localhost" />

		<!--UI Text -->		
		<add key="PostCollection" value="Post Categories" />
		<add key="ArticleCollection" value="Article Categories" />
		<add key="ImageCollection" value="Image Galleries" />
		<add key="Archives" value="Archives" />
		
		<!-- 
			Spam Words.  This is a super simple SPAM filter to 
			serve as a stop gap till we have a more full featured implementation.
		-->
		<add key="SpamWords" value="Casino Roulette holdem pill diet free jackpot casinos gambling betting propecia medication hydrocone pharmacy prescription prescriptions online cheap pharmacies adult poker money" />
		
		<!-- 
			Another temporary setting. If true, then the Contact Me messages 
			are routed to the feedback table.  This will be replaced with 
			something better.
		-->
		<add key="ContactToFeedback" value="false" />
		
		<!--
			This is so the Forgot Password knows where to 
			send the email for the Host Admin.  This will 
			change soon. It's a temporary solution.
		-->
		<add key="HostEmailAddress" value="HOST-EMAIL" />
	</appSettings>

	<system.web>
	
		<!-- Subtext is not yet globalized. This should keep things clean for now -->
		<globalization culture="en-US" />	
		
		<!--We do not use session in Subtext. This should not be changed. -->
		<sessionState mode="Off" />
		
		<!-- We allow larger uploads in the galleries -->
		<httpRuntime  executionTimeout="90"   maxRequestLength="819200" useFullyQualifiedRedirectUrl="false" />

		<!-- We check all comment/public inputs -->	
		<pages validateRequest="false" autoEventWireup="true" />

		<compilation defaultLanguage="c#" debug="false" />
		
		<!-- RemoteOnly | On | Off -->
		<customErrors mode="RemoteOnly" defaultRedirect="~/SystemMessages/Error.aspx">
			<error statusCode="404" redirect="~/SystemMessages/FileNotFound.aspx" />
		</customErrors>
		
		<authentication mode="Forms">
			<forms name=".SubtextCookie" 
				loginUrl="login.aspx" 
				protection="All" 
				requireSSL="false" 
				slidingExpiration="true"
				timeout="90" />
		</authentication> 

		<httpHandlers>
			<!-- 
				Can not see to load asmx like .aspx, since we will grab 
				all requests later, make sure these are processed by their 
				default factory 
			-->
			<add verb="*" path="*.asmx" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
		    
		    <!-- This is for FTB 3.0 support -->
		    <add verb="GET" path="FtbWebResource.axd" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox" />
    
			<!-- 
				Since we are grabbing all requests after this, 
				make sure these pages do not rely on the URL Redirection service.
			-->
			<add verb="*" path="Install/*.aspx" type="System.Web.UI.PageHandlerFactory" />
			<add verb="*" path="Providers/*/*.aspx" type="System.Web.UI.PageHandlerFactory" />
			<add verb="*" path="SystemMessages/*.aspx" type="System.Web.UI.PageHandlerFactory" />
			<add verb="*" path="HostAdmin/*.aspx" type="System.Web.UI.PageHandlerFactory" />
			<add verb="*" path="HostAdmin/*/*.aspx" type="System.Web.UI.PageHandlerFactory" />
			<add verb="*" path="Logout.aspx" type="System.Web.UI.PageHandlerFactory" />
			<add verb="*" path="BlogMLExport.ashx" type="Subtext.Web.Admin.Handlers.BlogMLExport, Subtext.Web" />
				
			<!-- This will process any ext mapped to aspnet_isapi.dll -->
			<add verb="*" path="*" type="Subtext.Common.UrlManager.UrlReWriteHandlerFactory, Subtext.Common" />
		</httpHandlers>   
	
		<httpModules>
			<add name="ServiceRouter" type= "Subtext.Web.Modules.BlogServiceModule, Subtext.Web" />
			<add type="AngryPets.Web.Frameworks.ReverseDOS.FilterModule, AngryPets.Web.Frameworks.ReverseDOS" name="reverseDOS" />
		</httpModules>
			
		<browserCaps> 
			<!--NETSCAPE 6 & 7 --> 
			<case match="^Mozilla/5\.0 \([^)]*\) (Gecko/[-\d]+ )?Netscape[6|7]/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)).*"> 
				tagwriter=System.Web.UI.HtmlTextWriter 
				browser=Netscape 
				version=${version} 
				majorversion=${major} 
				minorversion=${minor} 
				frames=true 
				tables=true 
				cookies=true 
				javascript=true 
				javaapplets=true 
				ecmascriptversion=1.5 
				w3cdomversion=1.0 
				css1=true 
				css2=true 
				xml=true 

				<filter match="^b" with="${letters}"> 
					beta=true 
				</filter> 
			</case> 
			
			<!-- MOZILLA --> 
			<case match="^Mozilla/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)).*"> 
				css1=true 
				
				<!-- is this negating? confirm -->
				<case match="^[5-9]\." with="${version}">
					css2=true 
					tagwriter=System.Web.UI.HtmlTextWriter
				</case> 
			</case> 
		</browserCaps>
	</system.web>
	
	<runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="log4net"
                              publicKeyToken="b32731d11ce58905"
                              culture="neutral" />
            <bindingRedirect oldVersion="1.2.0.30714"
                             newVersion="1.2.9.0"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
