body {
	font-size : 0.9em;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin : 0px;
}

a:visited,
a:active,
a:link {
	color : #06A;
	text-decoration : none;
}

a:hover {
	text-decoration : underline;
}

h1 {
	margin : 0px;
	font-size : 1.5em;	
	background-color : #ADF;
	padding-top : 1em;
	padding-left : 5px;
	padding-bottom : 5px;
	border-bottom : 2px solid #69A;
}

h1 a:hover {
	text-decoration : none;
}

h2 {
	margin-top : 10px;
	font-size : 1em;
}

h5 
{
	margin: 0px;
	padding: 0px;
}

#tagline {	
	position : absolute;
	top : 5px;
	right : 5px;
	margin : 0px;
	margin-left : 5px;
	color : #06A;
	font-size : 0.9em;
}

p.date img {
	vertical-align : middle;
}

p.date {
	font-size : 1em;
	font-weight : bold;
	border-bottom : 1px solid #AAA;	
	margin-bottom : 0px;
	padding : 2px 0px;
}

blockquote {
	font-style : italic;
}

p.postfoot {
	font-size : 0.75em;
}

#main {
	margin-left : 10px;
	margin-right : 10px;
}

#rightmenu {
	float : right;
	width : 250px;
	background-color : #FFF;
	padding-left : 10px;
	padding-bottom : 20px;
	padding-right : 10px;
}

#rightmenu h3 {
	margin : 10px 0px 0px 0px;
	color : #06A;
	background-color : #ADF;
	padding : 2px 5px;
	font-size : 0.9em;
	border : 1px solid #69A;
	border-bottom : none;
}

#rightmenu ul {
	list-style : none;
	margin : 0px;
	padding : 5px;	
	border : 1px solid #69A;
}

#footer {
	border-top : 1px solid #7AC;
	padding-top : 5px;
	text-align : center;
	font-size : 0.7em;
}

input.text {
	width : 300px;	
}

textarea {
	width : 300px;
	height : 200px;	
}

#comments h4 span {
	color : #999;
}

#comments h4 {
	margin : 0px;
	font-size : 0.9em;
}

p {
	margin : 10px 0px;
}

h3 {
	font-size : 1.2em;
	border-bottom : 1px solid #AAA;
}

#relatedlinks ul {
	list-style : none;
	margin-left : 10px;
	padding : 0px;
}

a.printIcon
{
	background: url('images/printer.gif') no-repeat top left;
	padding-bottom: 4px;
}

a.printIcon span
{
	background: url('images/printer.gif') no-repeat top left;
	padding-left: 17px;
}