body 
{ 
	padding: 32px; 
	font-size: small; 
	background: #eee; 
	margin: 0 auto; 
	width: 80%; 
	color: #000; 
	font-family: verdana, arial, sans-serif 
}

#main
{
	width: 600px;
}

#main, .bordered
{
	border: solid 1px #bbb;
	padding: 32px;
	background: #fff; 
}

#main
{
	width: 600px;
	border: #bbb 1px solid; 
	padding: 32px; 
	background: #fff; 
}

#logo
{
	width: 261px;
	height: 85px;
	background: url(../../../images/SubtextLogo.png) no-repeat;
}

* html #logo
{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../../images/SubtextLogo.png", sizingMethod="crop");
}
		
h2
{ 
	font-weight: bold; 
	font-size: 1.05em; 
	margin: 0px 0px 8px 0; 
	text-transform: uppercase; 
	color: #555; 
	font-family: "trebuchet ms", ""lucida grande"", verdana, arial, sans-serif 
}

p 
{ 
	padding-right: 0px; 
	padding-left: 0px; 
	padding-bottom: 6px; 
	margin: 0px; 
	padding-top: 6px 
}

a:link 
{ 
	color: #002c99; 
	text-decoration: none 
}

a:visited 
{ 
	color: #002c99; 
	text-decoration: none 
}

a:hover 
{ 
	color: #cc0066; 
	background-color: #f5f5f5; 
	text-decoration: underline 
}

.footnote
{
	font-size: .8em;
	clear: both;
}

#installationQuestionTable
{
	border-top: solid 1px #BBBBBB;
	border-right: solid 1px #BBBBBB;
}

#installationQuestionTable TD, #installationQuestionTable TH
{
	border-left: solid 1px #BBBBBB;
	border-bottom: solid 1px #BBBBBB;
}

.error
{
	color: Red;
}

img
{
	border: none;
}

span.majorchoice
{
	display: block;
	width: 400px;
	height: 40px;
	clear: both;
	float: left;
	margin-bottom: 30px;
}

span.majorchoice input
{
	float: left;
	margin-top: 20px;
}

span.majorchoice label
{
	display: inline-block;
	margin: 0;
	border: solid 1px #ddd;
	float: left;
	width: 250px;
	height: 100%;
	padding: 20px 0 0 100px;
	margin-left: 5px;
	font-size: 1.2em;
	background-color: #fffadb;
}

span.majorchoice label:hover
{
	background-color: #ffefab;
}

div.summary
{
	padding: 4px;
	margin-bottom: 8px;
	float: left;
}

div.summary dl
{
	float: left;
	width: 100%;
}

div.summary dt
{
	display: block;
	width: 100px;
	float: left;
	text-align: right;
	clear: left;
	margin: 0;
}

div.summary dt label
{
	display: block;
	float: right;
	margin: 0;
	padding: 4px 0;
	width: 100%;
}

div.summary dd
{
	display: block;
	width: 260px;
	margin-left: 0;
	padding-left: 8px;
	float: left;
	padding: 4px 0 4px 8px;
}

.hidden
{
	display:none;
}

.clear
{
	clear: both;
}

.note 
{
    color: #777;
    font-style: italic;
}

.emphasis 
{
	font-size: 1.2em;
	color: #A52A2A;
}

span.accesskey {
	text-decoration: underline;
}