<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="BlogConfigurationSettings" type="Subtext.Framework.Util.XmlSerializerSectionHandler, Subtext.Framework"/>
	</configSections>

	<BlogConfigurationSettings type="Subtext.Framework.Configuration.BlogConfigurationSettings, Subtext.Framework">

		<Tracking 
			enableAggBugs = "true" 
			enableWebStats = "true" 
			queueStats = "true" 
			queueStatsCount = "5" 
			enableTrackBacks = "true" 
			enablePingBacks = "true" 
			pingWeblogs = "true" />
	
		<BlogProviders>
			<!-- 
				This provider powers the wrapper classes such as Entries. In general, it controls 
				whether data is loaded from a DbProvider, GenericDataProvider, or some other custom 
				implementation. Having a valid DTOProvider is not optional.  
			-->
			<DTOProvider type="UnitTests.Subtext.UnitTestDTOProvider, UnitTests.Subtext" />
				
			<!-- Controls how Subtext sends email. By default, SystemMail is used. -->
			<EmailProvider type = "Subtext.Framework.Email.SystemMail, Subtext.Framework" smtpServer = "localhost" adminEmail = "admin@YOURBLOG.com"/>
		</BlogProviders>

	<!--	
		Checkout Subtext.Framework.Security for hashing passwords.  
		This should be set when first installing the application 
		and really shouldn't be changed afterwards.	
	-->
	<UseHashedPasswords>true</UseHashedPasswords>
    
	<!-- Globally control access to web services -->
	<AllowServiceAccess>true</AllowServiceAccess>
  
	<AllowImages>true</AllowImages>
  
	<!-- Globally control use of XHTML -->
	<UseXHTML>true</UseXHTML>
   
	<!-- Default Item Count -->
	<ItemCount>25</ItemCount>
 
	<!-- Default Server Time Zone -->
	<ServerTimeZone>-5</ServerTimeZone>
	
	<!-- Default Days Till Comments Close 
	-->
	<DaysTillCommentsClose>30</DaysTillCommentsClose>

	<!-- Whether or not to GZIP the RSS and/or atom feeds. -->
	<UseSyndicationCompression>true</UseSyndicationCompression>
</BlogConfigurationSettings>

	<appSettings>
		<!-- Admin Stuff -->
		<add key="Admin.DefaultTemplate" value="~/Admin/Resources/PageTemplate.ascx" />
		<add key="Admin.DownlevelTemplate" value="~/Admin/Resources/PageTemplate.ascx" />
		<add key="Admin.DefaultContent" value="PageContent" />
		
		<!-- Aggregate Blog Stuff -->
		<add key="AggregateTitle" value = "A Subtext Community" />
		<add key="AggregateUrl" value = "http://localhost/Subtext.Web" />
		<add key="AggregateDescription" value = ".NET by Subtext" />
		<add key="AggregateHost" value = "localhost" />

		<!--UI Text -->		
		<add key="PostCollection" value = "Post Categories" />
		<add key="ArticleCollection" value = "Article Categories" />
		<add key="ImageCollection" value = "Image Galleries" />
		<add key="Archives" value="Archives" />
	</appSettings>
</configuration>