body
{
 background: #fff;
}
span.rememberMe
{
	display: block;
}

.rememberMe label
{
	display: inline;
}

#loginPage input.button
{
	float: right;
	margin-top: -25px;
}
input#btnOpenIdLogin_loginButton
{
	margin-left: 65px;
	padding: 3px 10px;
	font-size: 1.4em;
}
#btnOpenIdLogin tr td input
{
	float: left;
}
.openidLogin 
{
	background-color: #fffadb !important;
	border: solid 1px #cbb930;
	font-size: 1.4em;
	width: 250px;
}
#loginPage fieldset
{
	width: 450px;
	padding: 15px 50px;
}

.forgotPassword
{
	clear: both;
	margin-top: 8px;
	display: block;
	font-size: .8em;
}