body
{
	margin: 0;
	background-color: #fff;
	font-size: small;
	font-family: verdana, arial, sans-serif;
	background-color: #eeeeee;
}

div.main
{
	position: relative;
	width: 380px;
	border: solid 1px #ccc;
	padding: 18px 32px;
	background: #fff;
	margin: 50px auto;
}

h1
{
	padding: 0 0 18px 0;
	font-weight: bold;
	font-size: 150%;
	margin: 0px;
	color: #164ab0;
}

#logo
{
	width: 261px;
	height: 85px;
	background: url(../../images/SubtextLogo.png) no-repeat;
}

* html #logo
{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/SubtextLogo.png", sizingMethod="crop");
}

h2
{
	padding: 0px;
	font-weight: bold;
	font-size: 105%;
	margin: 0px 0px 8px;
	text-transform: uppercase;
	color: #009;
	border-bottom: #ddd 1px solid;
	font-family: "trebuchet ms" , "" lucida grande "" , verdana, arial, sans-serif;
}

p
{
	padding: 6px 0 6px 0;
	margin: 0px;
}

a:link, a:visited
{
	color: #002c99;
	text-decoration: none;
}

a:hover
{
	color: #cc0066;
	background-color: #f5f5f5;
	text-decoration: underline;
}

a.Button
{
	border: solid 1px #999;
	padding: 3px 12px 3px 12px;
	display: block;
	font-weight: bold;
	background: #000999;
	float: left;
	color: #fff;
}

.remember
{
	margin: 4px 0px 0px 70px;
}

.clear
{
	clear: both;
}

span.error
{
	color: #c00;
	font-weight: bold;
}