/******* Generic Styles ****/
body 
{
	text-align: center;
	font: .8em myriad, "gill sans", helvetica, arial, sans-serif;
	background-color: #DDDDDD;
	min-width: 794px;
	color: #444444;
}

.clear 
{
	clear: both;
}

a:link
{	
	color : #223355;
	text-decoration: none;
}

a:visited
{
	color: #6699CC;
	text-decoration: none;
}

a:hover 
{	
	color: #BF5010;
}

a.img, a.img, a.img
{
	border: none;
}

h1, h2, h3
{
	font-family: Georgia, "Times New Roman", Times, serif;
	text-shadow: 0.2em 0.2em 0.1em #CCC;
}

h1
{
	font-size: 1.25em;
}

h2
{
	font-size: 1.2em;
}

h3
{
	font-size: 1em;
}

h1 a:visited,
h1 a:active,
h1 a:link
{
	color : #BF5010;
	/*margin-left : 10px;*/
	margin-top : 10px;
	text-decoration : none;
}

h1 a:hover 
{
	color: #6699CC;
	margin-top : 10px;
	text-decoration : none;
}

blockquote 
{
	margin-left: 18px;
	font-family: verdana, helvetica, sans-serif;
	font-family: verdana, helvetica, sans-serif;
	font-size: .95em;
	line-height: 1.3em;
	padding: 10px;
	background-color: #F9F9FC;
}

input.text {
	width : 300px;	
}

textarea {
	width : 300px;
	height : 200px;	
}

#comments h4 span 
{
	color : #999;
}

#comments h4 
{
	margin : 0px;
	font-size : 0.9em;
}

.Textbox, textarea
{
	border: 1px solid #AAAAAA;
	width: 100%;
}

.button
{
	border: 1px solid #AAAAAA;
	background-color: #CCD4E0;
}

input, textarea
{
	font-family: verdana, geneva, arial, sans-serif;
	font-size: 10px;
}

img
{
	border: 0px;
}

.caption
{
	font-family: arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.update
{
	color: red;
}

/********* Image Drop Shadow **********/

.dropshadow2{
	float:left;
	clear:left;
	background: url(/HaackedWeb/Images/shadowAlpha.png) no-repeat bottom right !important;
	background: url(/HaackedWeb/Images/shadow.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	width: 500px;
	padding: 0px;
}
.innerbox{
	position:relative;
	bottom:6px;
	right: 6px;
	border: 1px solid #999999;
	padding:4px;
	margin: 0px 0px 0px 0px;
}
.innerbox{
	/* IE5 hack */
	\margin: 0px 0px -3px 0px;
	ma\rgin:  0px 0px 0px 0px;
}
.innerbox p{		
	font-size:14px;
	margin: 3px;
}

/******** LAYOUT *******************/
#main 
{
	margin:0 auto 0 auto;
	width:799px;
	text-align: left;
}

#backgroundleft
{
    margin: 0px;
    background: #FFFFFF url(/HaackedWeb/Skins/HaackedOrange/Images/leftBorder.gif) repeat-y left;
    width: 784px;
}

#background
{
    background: #FFFFFF url(/HaackedWeb/Skins/HaackedOrange/Images/rightBorder.gif) repeat-y right;
    margin-right: -11px;
    margin-left: 11px;
    position: relative;
    top: 0px;
    left: 0px;
    padding-top: 3px;
    width: 783px;
}

#content
{
	float: left;
	width: 560px;
	margin-top: 10px;
	padding: 0 20px 0 10px;
	border-right: 1px dotted #CCCCCC;
	line-height: 1.6em;
	min-height: 500px;
}

.ad
{
	padding: 0; 
	margin: 15px 0; 
	position: absolute;
}

#adwrap
{
	padding: 0; 
	margin: 0; 
	height: 80px;
}

#linkadwrap
{
	padding: 0; 
	margin: 0; 
	height: 115px;
	width: 205px;
}

#footer 
{
	text-align: center;
	font-size : 0.7em;
}

#bottom
{
	background: url(/HaackedWeb/Skins/HaackedOrange/Images/bottom.gif) no-repeat ;
	height: 31px;
	width: 794px;
}

#logo
{
	background: url(/HaackedWeb/Skins/HaackedOrange/Images/Header.jpg);
	width: 772px;
	height: 174px;
}

/********** Content Styling ************/
.blogpost
{
	font-size : .9em;
	font-family : myriad, "gill sans", helvetica, arial, sans-serif;
	padding-bottom: 20px;
	overflow: auto;
}

.blogdate
{
	margin-right: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dotted #CCCCCC;
}

.postfooter
{
	margin: 0px;
	margin-top: 14px;
	color: #AAAAAA;
	font-size: 0.8em;
}

.title
{
	color: #CC7733;
	/* consider image background: url(/images/someimage.gif) no-repeat left top; */
	padding: 3px 0px 3px 0px;
	text-shadow: 0.2em 0.2em 0.1em #CCC;
}


.date
{
	color: #666666;
	font-weight: normal;
	font-size: .7em;
	text-shadow: 0.2em 0.2em 0.1em #CCC;
	padding-left: 20px;
}

.daylink
{
	font-family: Georgia, "Times New Roman", Times, serif;
}

/************** Navigation Styling *******************/
#nav a
{
	font-family: "lucida grande", verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: .9em;
	color: #444444;
	margin-bottom: 0;
	text-decoration: none;
}

#nav a:hover
{
	color: #BF5010;
	border-bottom: solid 2px #BF5010;
}

#blogstats
{
	text-align: right;
	padding-left: 150px;
	font-size: .7em;
}

/* Sidebar Styling
=================================*/
#sidebar
{
	float: right;
	width: 150px;
	font-size: .8em;
	margin-right: 11px;
	padding-left:10px;
	padding-right:10px;
	min-height: 500px;
}

#sidebar h2
{
	font-family: "lucida grande", verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: #999999;
	margin-bottom: 0;
}

#sidebar ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#sidebar ul li a
{
	color: #BF5010;
}

#sidebar ul li
{
	font-size: .9em;
	font-family: "lucida grande", verdana, arial, helvetica, sans-serif;
	border: solid 1px #FFFFFF;
	line-height: 1.5em;
}

#sidebar ul li:hover
{
	border-color:#000000;
	color: #000000;
}

#sidebar ul li a:hover
{
	color: #000000;
}

.adminLink a:link
.adminLink a:visited
{
	color: #0000CC;
	text-decoration: underline;
}

.adminLink a:hover
{
	color: #FFCC00;
	text-decoration: underline;
}

#sidebar #aboutMeBox p
{
	margin-top: 4px;
	margin-bottom: 4px;
}

#sidebar #aboutMeBox
{
	margin-bottom: 15px;
}