<?xml version="1.0"?>
<SkinTemplates xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!--
		Note that multiple skins may share the same template folder.
		Each template folder by default should have a style.css file. 
		This file does not need to be configured in this section.
		
		For skins that share a template folder, the skins should be 
		distinguished by their stylesheet.  Note that when specifying 
		a StyleSheet="" attribute, this style is rendered AFTER "style.css" 
		allowing the skin to override template specific styles.
	-->
	<Skins>
		<SkinTemplate Name="AnotherEon001" TemplateFolder="AnotherEon001" StyleMergeMode="MergedAfter">
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="http://haacked.com/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>
		
		<SkinTemplate Name="Blue" TemplateFolder="Colors" StyleSheet="Blue.css" StyleMergeMode="MergedAfter">
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="print.css" media="print" />
				<Style href="search.css" />
			</Styles>
		</SkinTemplate>

		<SkinTemplate Name="BlueBook" TemplateFolder="RedBook" StyleSheet="Blue.css" ExcludeDefaultStyle="true" ScriptMergeMode="Merge">
			<Scripts>
				<Script Src="~/Admin/Resources/Scripts/niceForms.js" />
			</Scripts>
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="niceforms-default.css" />
				<Style href="IEHacks.css" conditional="if IE" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>

		<SkinTemplate Name="Gradient" TemplateFolder="Gradient" ExcludeDefaultStyle="false" StyleMergeMode="MergedAfter" ScriptMergeMode="Merge">
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="IEPatches.css" conditional="if IE" media="screen" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>

		<SkinTemplate Name="GreenBook" TemplateFolder="RedBook" StyleSheet="Green.css" StyleMergeMode="MergedAfter">
			<Scripts>
				<Script Src="~/Admin/Resources/Scripts/niceForms.js" />
				<Script Src="blah.js" />
			</Scripts>
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="niceforms-default.css" />
                <Style href="IEHacks.css" conditional="if IE" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>

		<SkinTemplate Name="KeyWest" TemplateFolder="KeyWest" StyleMergeMode="MergedFirst">
            <Styles>
                <Style href="~/skins/_System/csharp.css" />
                <Style href="~/skins/_System/commonstyle.css" />
                <Style href="~/skins/_System/commonlayout.css" />
                <Style href="print.css" media="print" />
            </Styles>
        </SkinTemplate>

        <SkinTemplate Name="Leafy" TemplateFolder="Nature" StyleSheet="leafy.css" StyleMergeMode="MergedAfter">
            <Styles>
                <Style href="~/scripts/lightbox.css" media="screen" />
                <Style href="~/scripts/XFNHighlighter.css" />
                <Style href="~/skins/_System/csharp.css" />
                <Style href="~/skins/_System/commonstyle.css" />
                <Style href="~/skins/_System/commonlayout.css" />
                <Style href="print.css" media="print" />
            </Styles>
            <Scripts>
                <Script Src="~/scripts/XFNHighlighter.js" />
                <Script Src="~/scripts/lightbox.js" />
            </Scripts>
        </SkinTemplate>

        <SkinTemplate Name="lightz" TemplateFolder="Lightz" StyleMergeMode="None">
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>

		<SkinTemplate Name="Naked" TemplateFolder="Naked" />

        <SkinTemplate Name="Mobile" TemplateFolder="Naked" MobileSupport="MobileOnly" />

        <SkinTemplate Name="Orange" TemplateFolder="Colors">
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="print.css" media="print" />
				<Style href="search.css" />
			</Styles>
		</SkinTemplate>

		<SkinTemplate Name="Origami" TemplateFolder="Origami" StyleMergeMode="MergedAfter" ScriptMergeMode="Merge">
            <Styles>
                <Style href="~/skins/_System/csharp.css" />
                <Style href="~/skins/_System/commonstyle.css" />
                <Style href="~/skins/_System/commonlayout.css" />
                <Style href="Styles/user-styles.css" media="all" />
                <Style href="Styles/print.css" media="print" />
                <Style href="Styles/core.css" media="screen" />
                <Style href="Styles/tables.css" media="screen" />
            </Styles>
            <Scripts>
                <Script Src="Scripts/cookies.js" />
                <Script Src="Scripts/prototype.js" Defer="true"/>
                <Script Src="Scripts/effects.js" />
                <Script Src="Scripts/init.js" />
                <Script Src="Scripts/behaviour.js" />
                <Script Src="Scripts/coreFunctions.js" />
                <Script Src="Scripts/styleSwitcher.js" />
            </Scripts>
        </SkinTemplate>

        <SkinTemplate Name="Piyo" TemplateFolder="Piyo" StyleMergeMode="MergedAfter" ScriptMergeMode="Merge">
			<Scripts>
				<Script Src="Scripts/piyo.js" />
                <Script Src="~/scripts/prototype.js" />
                <Script Src="~/scripts/scriptaculous.js?load=effects" />
                <Script Src="~/scripts/lightbox.js" />
			</Scripts>
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
                <Style href="~/scripts/lightbox.css" media="screen" />
				<Style title="fixed" href="piyo-fixed.css" media="screen"/>
                <Style title="elastic" href="piyo-elastic.css" media="screen"/>
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>

		<SkinTemplate Name="Rain" TemplateFolder="Nature" StyleSheet="rain.css" ScriptMergeMode="Merge">
			<Styles>
				<Style href="~/scripts/lightbox.css" />
				<Style href="~/scripts/XFNHighlighter.css" />
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="print.css" media="print" />
			</Styles>
			<Scripts>
				<Script Src="~/scripts/lightbox.js" />
				<Script Src="~/scripts/XFNHighlighter.js" />
			</Scripts>
		</SkinTemplate>

		<SkinTemplate Name="RedBook" TemplateFolder="RedBook" StyleSheet="Red.css" ScriptMergeMode="Merge">
			<Scripts>
				<Script Src="~/Admin/Resources/Scripts/niceForms.js" />
                <Script Src="http://www.google.com/adsense.js" />
			</Scripts>
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="niceforms-default.css" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>

		<SkinTemplate Name="Semagogy" TemplateFolder="Semagogy" ScriptMergeMode="DontMerge">
            <Scripts>
                <Script Src="Scripts/DarkHorseLayoutEngine.js" />
            </Scripts>
            <Styles>
                <Style href="~/skins/_System/csharp.css" />
                <Style href="~/skins/_System/commonstyle.css" />
                <Style href="~/skins/_System/commonlayout.css" />
                <Style href="print.css" media="print" />
            </Styles>
        </SkinTemplate>

        <SkinTemplate Name="Submarine" TemplateFolder="Submarine" StyleMergeMode="MergedAfter" ScriptMergeMode="Merge">
			<Scripts>
				<Script Src="~/Admin/Resources/Scripts/niceForms.js" />
				<Script Src="~/scripts/lightbox.js" />
				<Script Src="~/scripts/XFNHighlighter.js" />
				<Script Src="~/scripts/ExternalLinks.js" />
				<Script Src="~/scripts/LiveCommentPreview.js" />
				<Script Src="~/scripts/AmazonTooltips.js" />
			</Scripts>
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="~/scripts/XFNHighlighter.css" />
				<Style href="~/scripts/lightbox.css" />
				<Style href="niceforms-default.css" media="all" conditional="if IE"/>
                <Style href="IEHacks.css" conditional="if IE" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>

		<SkinTemplate Name="WPSkin" TemplateFolder="WPSkin" StyleMergeMode="None" ExcludeDefaultStyle="true" >
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>
		
	</Skins>
</SkinTemplates>