<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="webServer" value="localhost" />
		<add key="port" value="2733" />
		<add key="connectionString" value="Server=.\SQLExpress;AttachDbFilename=|DataDirectory|Subtext_WatinTests.mdf;Database=Subtext_WatinTests;Trusted_Connection=Yes;" />
	</appSettings>
</configuration>