<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <pages pageBaseType="Subtext.Web.HostAdmin.HostAdminPage" masterPageFile="~/aspx/HostAdmin/HostAdminTemplate.Master">
            <controls>
                <add tagPrefix="st" tagName="BlogsEditor" src="~/aspx/HostAdmin/UserControls/BlogsEditor.ascx" />
                <add tagPrefix="st" tagName="GroupsEditor" src="~/aspx/HostAdmin/UserControls/GroupsEditor.ascx" />
            </controls>
        </pages>
    </system.web>
</configuration>
