<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
      <pages userControlBaseType="Subtext.Web.UI.Controls.BaseControl">
        <controls>
          <!-- 
          Default Skin User Controls. 
          
          Unless your skin changes the markup for these controls, you won't need to include them in your skin.
          -->
          <add tagName="ShareThisPost" src="~/Skins/_System/Controls/ShareThisPost.ascx" tagPrefix="st" />
          <add tagName="TagCloud" src="~/Skins/_System/Controls/TagCloud.ascx" tagPrefix="st" />
        </controls>
        
      </pages>
    </system.web>
</configuration>
