<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="BlogConfigurationSettings" type="Subtext.Framework.Util.XmlSerializerSectionHandler, Subtext.Framework"/>
		<section name="SyndicationCompression" type="Subtext.Framework.Syndication.Compression.SyndicationCompressionSectionHandler, Subtext.Framework" />
		<section name="ObjectProvider" type="Subtext.Framework.Providers.ObjectProviderSectionHandler, Subtext.Framework" />
		<section name="Database" type="Subtext.Framework.Providers.DbProviderSectionHandler, Subtext.Framework" />
		<section name="Email" type="Subtext.Extensibility.Providers.EmailProviderSectionHandler, Subtext.Extensibility" />
		<section name="Installation" type="Subtext.Extensibility.Providers.InstallationProviderSectionHandler, Subtext.Extensibility" />
		<section name="Import" type="Subtext.Extensibility.Providers.ImportProviderSectionHandler, Subtext.Extensibility" />
		<section name="FriendlyUrlSettings" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="RichTextEditor" type="Subtext.Extensibility.Providers.RichTextEditorProviderSectionHandler, Subtext.Extensibility" />		
	</configSections> 
	
	<FriendlyUrlSettings>		
		<add key="separatingCharacter" value="_" />
		<add key="limitWordCount" value="5" />
	</FriendlyUrlSettings>
	
	<!-- 
		This is a REQUIRED provider that essentially configures an Object Data Source 
		for Subtext.  Access to the Object Data Sources are typically wrapped via classes 
		such as Entries.
		
		If DataObjectProvider is specified, then a Database provider must also be configured.
	-->
	<ObjectProvider defaultProvider="DatabaseObjectProvider">
		<providers>
			<add name="DatabaseObjectProvider" type="Subtext.Framework.Data.DatabaseObjectProvider, Subtext.Framework" />
		</providers>
	</ObjectProvider>
	
	<!--
		This provider is only necessary if DataObjectProvider is specified as the object 
		data source.  This provider abstracts the underlying database, whether it be 
		SQL, Access, MySQl, Oracle, or whatever.
	-->
	<Database defaultProvider="SqlDataProvider">
		<providers>
			<add name="SqlDataProvider" 
				type="Subtext.Framework.Data.SqlDataProvider, Subtext.Framework" 
				connectionString="${ConnectionString}" />
		</providers>
	</Database>

	<Email	defaultProvider="SystemMailProvider">
		<providers>
			<add name="SystemMailProvider" 
				type="Subtext.Framework.Email.SystemMailProvider, Subtext.Framework" 
				smtpServer="localhost" 
				adminEmail="admin@YOURBLOG.com" />
		</providers>
	</Email>
	
	<Installation defaultProvider="SqlInstallationProvider">
		<providers>
			<add name="SqlInstallationProvider"
				type="Subtext.Installation.SqlInstallationProvider, Subtext.Installation"
				defaultConnectionString="${ConnectionString}" />
		</providers>
	</Installation>
	
	<Import defaultProvider="DotText095ImportProvider">
		<providers>
			<add name="DotText095ImportProvider"
				type="Subtext.Installation.Import.DotText095ImportProvider, Subtext.Installation"
				description=".TEXT 0.95 Import Provider."
			/>
			
			<add name="UnitTestImportProvider"
				type="UnitTests.Subtext.UnitTestImportProvider, UnitTests.Subtext" />

		</providers>
	</Import>

	<!--
		Configuration from RichTextEditor provider
		Remember the trailing / at the end of all path
		This section works like any other provider section, so, to enable one provider,
		just write its name in the defaultProvider attribute
	-->
	<RichTextEditor defaultProvider="FtbRichTextEditorProvider">
		<providers>
			<add name="FtbRichTextEditorProvider"
				type="Subtext.Web.Providers.RichTextEditor.FTB.FtbRichTextEditorProvider, Subtext.Web"
				description="FreeTextBox RichTextEditor Provider"
				toolbarlayout="Bold,Italic,Underline,Strikethrough;Superscript,Subscript,RemoveFormat|FontFacesMenu,FontSizesMenu,FontForeColorsMenu|InsertTable|JustifyLeft,JustifyRight,JustifyCenter,JustifyFull;BulletedList,NumberedList,Indent,Outdent;CreateLink,Unlink,Insert,InsertRule|Cut,Copy,Paste;Undo,Redo|ieSpellCheck,WordClean|InsertImage,InsertImageFromGallery"
				FormatHtmlTagsToXhtml="true"
				RemoveServerNamefromUrls="false"
				WebFormFolder="~/Providers/RichTextEditor/FTB/"
				/>
			<!--
				The following provider allow FCKeditor to be used as rich text editor inside SubText
				Configuration parameters are:
				WebFormFolder: the path where the provider files are located (default should be ~/Providers/RichTextEditor/FCKeditor/)
				ToolbarSet: the set of toolbar buttons to use, the possibilities are Default,Basic,SubText, but the best is SubText
				Skin: the style of the toolbar buttons [default|office2003|silver]
				******** connector related settings ********
				ImageBrowserURL: the path where the ImageBrowser is located (don't change unless you know what you are doing)
				LinkBrowserURL: the path where the LinkBrowser is located (don't change unless you know what you are doing)
				ImageConnectorURL: the path where the connector for the ImageBrowser is located (don't change unless you know what you are doing)
				LinkConnectorURL: the path where the connector for the LinkBrowser is located (don't change unless you know what you are doing)
				FileAllowedExtensions: extensions to be retrieved when the connector lists files (.* means all)
				ImageAllowedExtensions: extensions to be retrieved when the connector lists images (.* means all)
			-->
			<add name="FCKeditorRichTextEditorProvider"
				type="Subtext.Providers.RichTextEditor.FCKeditor.FCKeditorRichTextEditorProvider, Subtext.Providers.RichTextEditor.FCKeditor"
				description="FCKeditor RichTextEditor Provider"
				WebFormFolder="~/Providers/RichTextEditor/FCKeditor/"
				ToolbarSet="SubText"
				Skin="office2003"
				ImageBrowserURL="~/Providers/RichTextEditor/FCKeditor/editor/filemanager/browser/default/browser.html?Type=Image&amp;Connector={0}"
				LinkBrowserURL="~/Providers/RichTextEditor/FCKeditor/editor/filemanager/browser/default/browser.html?Connector={0}"
				ImageConnectorURL="~/Providers/RichTextEditor/FCKeditor/editor/filemanager/browser/default/connectors/aspx/connector.aspx"
				LinkConnectorURL="~/Providers/RichTextEditor/FCKeditor/editor/filemanager/browser/default/connectors/aspx/connector.aspx"
				FileAllowedExtensions=".*"
				ImageAllowedExtensions="jpg|gif|png"
				/>
			<add name="PlainTextRichTextEditorProvider"
				type="Subtext.Web.Providers.RichTextEditor.PlainText.PlainTextRichTextEditorProvider, Subtext.Web"
				description="Plain text RichTextEditor Provider"
				cols="10"
				rows="10"
				cssClass="txt"
				/>
		</providers>
	</RichTextEditor>
	
	<!--
		Supported Types "gzip|deflate"
		Supported Levels "normal|low|high"		
	-->
	<SyndicationCompression type="gzip" level="high" />

	<BlogConfigurationSettings type="Subtext.Framework.Configuration.BlogConfigurationSettings, Subtext.Framework">

			<Tracking 
				enableAggBugs = "true" 
				enableWebStats = "true" 
				queueStats = "true" 
				queueStatsCount = "5" 
				enableTrackBacks = "true" 
				enablePingBacks = "true" 
				pingWeblogs = "true" />
		<!--	
			Checkout Subtext.Framework.Security for hashing passwords.  
			This should be set when first installing the application 
			and really shouldn't be changed afterwards.	
		-->
		<UseHashedPasswords>true</UseHashedPasswords>
	    
		<!-- Globally control access to web services -->
		<AllowServiceAccess>true</AllowServiceAccess>
	  
		<AllowImages>true</AllowImages>
	  
		<!-- Globally control use of XHTML -->
		<UseXHTML>true</UseXHTML>
	   
		<!-- Default Item Count -->
		<ItemCount>25</ItemCount>
	 
		<!-- Default Server Time Zone -->
		<ServerTimeZone>-5</ServerTimeZone>
		
		<!-- Default Days Till Comments Close 
		-->
		<DaysTillCommentsClose>30</DaysTillCommentsClose>

		<!-- Whether or not to GZIP the RSS and/or atom feeds. -->
		<UseSyndicationCompression>true</UseSyndicationCompression>
	</BlogConfigurationSettings>

	<appSettings>
		<!-- Connection String -->
		<add key="ConnectionString" value="Server=localhost;Database=SubtextData;Trusted_Connection=True" />
		
		<!-- Admin Stuff -->
		<add key="Admin.DefaultTemplate" value="~/Admin/Resources/PageTemplate.ascx" />
		<add key="Admin.DownlevelTemplate" value="~/Admin/Resources/PageTemplate.ascx" />
		<add key="Admin.DefaultContent" value="PageContent" />
		
		<!-- Aggregate Blog Stuff -->
		<add key="AggregateTitle" value = "A Subtext Community" />
		<add key="AggregateUrl" value = "http://localhost/Subtext.Web" />
		<add key="AggregateDescription" value = ".NET by Subtext" />
		<add key="AggregateHost" value = "localhost" />

		<!--UI Text -->		
		<add key="PostCollection" value = "Post Categories" />
		<add key="ArticleCollection" value = "Article Categories" />
		<add key="ImageCollection" value = "Image Galleries" />
		<add key="Archives" value="Archives" />
	</appSettings>
</configuration>
