<?xml version="1.0" encoding="utf-8" ?>
<Navigation>
	<OtherNode/>
	<RootPage title="Root" id="NEVER" url="#">
	  <Page title="Posts" id="Subtext.Web.Admin.Pages.EditPosts" url="Posts/Edit.aspx" >
		<Page title="Edit Categories" id="Subtext.Web.Admin.Pages.EditCategories" url="EditCategories.aspx" />
	  </Page>
	  <Page title="Articles" id="Subtext.Web.Admin.Pages.EditArticles" url="Articles/Edit.aspx" />
	  <Page title="Galleries" id="Subtext.Web.Admin.Pages.EditGalleries" url="EditGalleries.aspx" />
	  <Page title="Galleries" id="Subtext.Web.Admin.Pages.EditImage" url="EditGalleries.aspx" />
	  <Page title="Stats" id="Subtext.Web.Admin.Pages.Statistics" url="Statistics.aspx">
		<Page title="Views" id="Subtext.Web.Admin.Pages.StatsView" url="StatsView.aspx" />
		<Page title="Referrers" id="Subtext.Web.Admin.Pages.Referrers" url="Referrers.aspx" />
		<Page title="Error Log" id="Subtext.Web.Admin.Pages.ErrorLog" url="ErrorLog.aspx" />
	  </Page>
	  <Page title="Feedback" id="Subtext.Web.Admin.Pages.Feedback" url="Feedback/Default.aspx" />
	  <Page title="Links" id="Subtext.Web.Admin.Pages.EditLinks" url="EditLinks.aspx" />
	  <Page title="Options" id="Subtext.Web.Admin.Pages.AdminOptionsPage" url="Options.aspx">
		<Page title="Configure" id="Subtext.Web.Admin.Pages.Configure" url="Configure.aspx" />
		<Page title="Customize" id="Subtext.Web.Admin.Pages.Customize" url="Customize.aspx" />
		<Page title="Preferences" id="Subtext.Web.Admin.Pages.EditPreferences" url="Preferences.aspx" />
		<Page title="Key Words" id="Subtext.Web.Admin.Pages.EditKeyWords" url="EditKeyWords.aspx" />
		<Page title="Security" id="Subtext.Web.Admin.Pages.Security" url="Security.aspx" />
		<Page title="Comments" id="Subtext.Web.Admin.Pages.Comments" url="Comments.aspx" />
		<Page title="Syndication" id="Subtext.Web.Admin.Pages.Syndication" url="Syndication.aspx" />
	  </Page>
	  <Page title="Import/Export" id="Subtext.Web.Admin.Pages.ImportExportPage" url="ImportExport.aspx" />
	</RootPage>
</Navigation>