<?xml version="1.0" encoding="utf-8"?><configuration>
	<system.web>
        <pages pageBaseType="Subtext.Web.Admin.Pages.AdminPage" masterPageFile="~/aspx/Admin/WebUI/AdminPageTemplate.Master">
            <controls>
                <add tagPrefix="st" tagName="EntryEditor" src="~/aspx/Admin/UserControls/EntryEditor.ascx" />
                <add tagPrefix="st" tagName="CategoryLinks" src="~/aspx/Admin/UserControls/CategoryLinkList.ascx" />
                <add tagPrefix="st" tagName="RecentComments" src="~/aspx/Admin/UserControls/RecentComments.ascx" />
                <add tagPrefix="st" tagName="RecentPosts" src="~/aspx/Admin/UserControls/RecentPosts.ascx" />
                <add tagPrefix="st" tagName="PopularPosts" src="~/aspx/Admin/UserControls/PopularPosts.ascx" />
                <add tagPrefix="st" tagName="CategoryLinks" src="~/aspx/Admin/UserControls/CategoryLinkList.ascx" />
                <add tagPrefix="st" tagName="EntriesList" src="~/aspx/Admin/UserControls/EntriesList.ascx" />
            </controls>
            <namespaces>
                <add namespace="Subtext.Web.Admin" />
            </namespaces>
        </pages>

        <httpHandlers>
			<add verb="GET" path="FtbWebResource.axd" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox" />
		</httpHandlers>
	</system.web>
</configuration>