/*
Title:		Haacked.com Stylesheet for Print
Author:		Phil Haack
Updated:	Jan 02, 2005
Notes:		IE hacks are kept in IEPatches.css
			I could probably trim this down even more.
*/

body 
{
	font-family : "lucida grande", verdana, arial, helvetica, sans-serif;
	font-size: 12pt;
	background: #fff;
	color: #222;
}

#background, #bottom
{
	background: #fff;
}

div
{
	margin: 0;
	padding: 0;
}

/* --- { links } ----------------------- */
a:link
{	
	text-decoration: none;
	border-bottom: 1px dotted #bbb;
}

a:visited
{
	text-decoration: none;
	border-bottom: 1px dotted #bbb;
}

a:hover 
{	
	border-bottom: 1px dotted #bbb;
}

a.img, a img
{
	border: none;
}

/* --- { common elements } ----------------------- */

h1, h2, h3, h4
{
	text-shadow: 0.2em 0.2em 0.1em #CCC;
	margin: 0 0 1em 0;
}

h1
{
	font-size: 150%;
}

h2
{
	font-size: 125%;
}

h3
{
	font-size: 120%;
}

h4
{
	font-size: 100%;
}

/* --- { common elements } ----------------------- */
h2 a:visited,
h2 a:active,
h2 a:link
{
	color : #BF5010;
	margin-top : 10px;
	text-decoration : none;
}

h2 a:hover 
{
	color: #6699CC;
	margin-top : 10px;
	text-decoration : none;
}

blockquote 
{
	padding: 5px 10px 5px 20px;
	font-family: verdana, helvetica, sans-serif;
	font-size: 95%;
	line-height: 1.5em;
	background: #fff url(images/quotes.gif) no-repeat 0 0;
	border: solid 1px #999;
}

img
{
	border: 0px;
}

.caption
{
	font-family: arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.update
{
	color: red;
}

code
{
	font-size: 1.3em;
}

/* ---[ top ]------------------------------- */
#main, #Form1, #background
{
	width: 98%;
	margin: 0;
	padding: 0;
}

#mainInner
{
	width: 100%;
	margin: 0;
	padding: 0;
}

#mainContent
{
	width: 100%;
	margin: 0;
	padding: 0;
}

#logo, #logo h1, #myLinks, div.share
{
	display: none;
}

#loginMenuLink
{
}

#content
{
	width: 100%;
	margin: 0;
	line-height: 1.6em;
	border: none;
}

#footer 
{
	text-align: center;
	font-size : 70%;
	padding: 40px 0 0 0;
}

#license
{
	padding: 8px 0 0 0;
}

#bottom
{
}

/* --- { blog post styling } ----------------------- */
.blogpost
{
	font-size : 90%;
	padding: 0 0 8px 0;
	margin: 0;
	overflow: auto;
}

h2.postTitle
{
	font-family: Helvetica, "Times New Roman", Times, serif;
	font-size: 200%;
	padding: 0;
	margin: 15px 0 0 0;
	letter-spacing: -1px;
}

h2.postTitle a
{
	line-height: 30px;
	letter-spacing: -1px;
	color: #36A;
	text-decoration: none;
	border: none;
}

h2.postTitle a:hover
{
	/*color: #339933;*/
	color: #999;
}

h2.postTitle a:link:after, 
h2.postTitle a:visited:after, 
h2.postTitle a[href^="/"]:after, 
li.permalink a:link:after, 
li.permalink a:visited:after, 
li.permalink postTitle a[href^="/"]:after
{
	content: "";
}

h2.postTitle span
{
	font-family: helvetica, arial, sans-serif;
	font-size: 100%;
	color: #ddd;
	margin-left: .25em;
	display: none;
}

ul.postInfo
{
	list-style: none;
	border-bottom: dotted 1px;
}

span.author
{
	display: block;
	margin: 10px 0 -20px 40px;
	padding: 0;
}

li.commentCount
{
	display: none;
}

.blogdate
{
	margin-right: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dotted #CCCCCC;
}

.title
{
	color: #CC7733;
	/* consider image background: url(/images/someimage.gif) no-repeat left top; */
	padding: 3px 0px 3px 0px;
	text-shadow: 0.2em 0.2em 0.1em #CCC;
}


.date
{
	color: #666666;
	font-weight: normal;
	font-size: .7em;
	text-shadow: 0.2em 0.2em 0.1em #CCC;
	padding-left: 20px;
}

.daylink
{
	display: none;
}

/* --- { comments } ----------------------- */
#comments
{
	padding: 0 10px 0 10px;
}

#commentform
{
	display: none;
}

#bottomAds
{
	display: none;
}

#comments h2
{
	display: block;
	font-size: 100%;
	border-bottom: solid 1px #999;
	margin-bottom: 1em;
}

div.comment
{
	margin: 0 0 1em 0;
}

div.comment .commentInfo
{
	color: #333333;
	margin-bottom: .2em;
	padding-left: 26px;
	height: 22px;
	display: block;
	background: #fff;
}

div.comment h3
{
	font-size: 95%;
	color: #285090;
	margin: 0;
}

div.comment .commentText
{
	display: block;
	border: solid 1px #587796;
	background: #f1f7fb;
	padding: 1.2em 1.2em 1.2em 26px;
	background: #f3fafc url(images/CommentGradient.gif) repeat-x top left;
}

/* --- { top nav } ----------------------- */
#nav
{
	display: none;
}

#blogstats
{
	display: none;
}

/* --- { sidebar } ----------------------- */
#sidebar
{
	display: none;
}

/* --- { drop shadow for images } ----------------------- */

.dropshadow
{
	float:left;
	clear:left;
	background: url(/Images/shadowAlpha.png) no-repeat bottom right !important;
	background: url(/Images/shadow.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;
}

.innerbox
{
	position:relative;
	bottom:6px;
	right: 6px;
	border: 1px solid #999999;
	padding:4px;
	margin: 0px 0px 0px 0px;
}
.innerbox
{
	/* IE5 hack */
	\margin: 0px 0px -3px 0px;
	ma\rgin:  0px 0px 0px 0px;
}
.innerbox p
{
	font-size:14px;
	margin: 3px;
}

/* --- { C# code } ----------------------- */
.csharpcode
{
	font-size: 10pt;
	color: #000;
	font-family: Courier New , Courier, Monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}

.csharpcode pre { margin: 0px; }

.rem { color: #008000; }

.kwrd { color: #0000ff; }

.str { color: #006080; }

.op { color: #0000c0; }

.preproc { color: #cc6633; }

.asp { background-color: #ffff00; }

.html { color: #800000; }

.attr { color: #ff0000; }

.alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0px;
}

.lnum { color: #606060; }

/* --- { AdSense } ----------------------- */
div#adBar
{
	display: none;
}

div#adwrap
{
	display: none;
}

/* -- { dialog } ---------------------- */
dl.dialog
{
	display: inline;
	float: left;
	width: 100%;
	font-family: verdana, helvetica, sans-serif;
	line-height: 1.5em;
	background: #fafcfd;
}

dl.dialog dt
{
	margin: 0 0 0 10px;
	padding: 2px 0 2px 0;
	display: inline;
	width: 80px;
	float: left;
	font-weight: bold;
}

dl.dialog dd
{
	margin:0;
	padding: 2px 0 2px 0;
	margin-left: 90px;
}