<?xml version="1.0"?>
<SkinTemplates xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 <Skins>
 	<SkinTemplate SkinID="ArtistCE" Skin="ArtistCE">
		<Scripts>
			<Script Src="~/Admin/Resources/Scripts/niceForms.js" />
		</Scripts>
		<Styles>
			<Style href="niceforms-default.css" />
		</Styles>
	</SkinTemplate>
	<SkinTemplate SkinID="RedBook" Skin="RedBook" SecondaryCss="Red.css">
		<Scripts>
			<Script Src="~/Admin/Resources/Scripts/niceForms.js" />
		</Scripts>
		<Styles>
			<Style href="niceforms-default.css" />
			<Style href="print.css" media="print" />
		</Styles>
	</SkinTemplate>
	<SkinTemplate SkinID="BlueBook" Skin="RedBook" SecondaryCss="Blue.css">
		<Scripts>
			<Script Src="~/Admin/Resources/Scripts/niceForms.js" />
		</Scripts>
		<Styles>
			<Style href="niceforms-default.css" />
			<Style href="print.css" media="print" />
		</Styles>
	</SkinTemplate>
	<SkinTemplate SkinID="GreenBook" Skin="RedBook" SecondaryCss="Green.css">
		<Scripts>
			<Script Src="~/Admin/Resources/Scripts/niceForms.js" />
		</Scripts>
		<Styles>
			<Style href="niceforms-default.css" />
			<Style href="print.css" media="print" />
		</Styles>
	</SkinTemplate>
	<SkinTemplate SkinID="Nazar" Skin="Nazar">
		<Scripts>
			<Script Src="~/Admin/Resources/Scripts/niceForms.js" />
			<Script Src="~/scripts/lightbox.js" />
		</Scripts>
		<Styles>
			<Style href="niceforms-default.css" />
		</Styles>
	</SkinTemplate>
	<SkinTemplate SkinID="Submarine"  Skin="Submarine">
		<Scripts>
			<Script Src="~/Admin/Resources/Scripts/niceForms.js" />
			<Script Src="~/scripts/lightbox.js" />
			<Script Src="~/scripts/XFNHighlighter.js" />
			<Script Src="~/scripts/ExternalLinks.js" />
			<Script Src="~/scripts/LiveCommentPreview.js" />
			<Script Src="~/scripts/AmazonTooltips.js" />
		</Scripts>
		<Styles>
			<Style href="~/scripts/XFNHighlighter.css" />
			<Style href="~/scripts/lightbox.css" />
			<Style href="niceforms-default.css" />
			<Style href="print.css" media="print" />
		</Styles>
	</SkinTemplate>
	<SkinTemplate SkinID="Piyo" Skin="Piyo">
			<Scripts>
			<Script Src="Scripts/piyo.js" />
			<Script Src="Scripts/lightbox.js" />
		</Scripts>
		<Styles>
			<Style title="fixed" href="piyo-fixed.css" />
			<Style title="elastic" href="piyo-elastic.css" />
			<Style href="print.css" media="print" />
		</Styles>
	</SkinTemplate>
	<SkinTemplate SkinID="Semagogy" Skin="Semagogy">
		<Scripts>
			<Script Src="Scripts/DarkHorseLayoutEngine.js" />
		</Scripts>
		<Styles>
			<Style href="print.css" />
		</Styles>
	</SkinTemplate>
	<SkinTemplate SkinID="Haackify" Skin="Haackify">
		<Scripts>
			<Script Src="~/Admin/Resources/Scripts/niceForms.js" />
			<Script Src="~/scripts/lightbox.js" />
			<Script Src="~/scripts/XFNHighlighter.js" />
			<Script Src="~/scripts/ExternalLinks.js" />
			<Script Src="~/scripts/LiveCommentPreview.js" />
			<Script Src="~/scripts/AmazonTooltips.js" />
		</Scripts>
		<Styles>
			<Style href="~/scripts/XFNHighlighter.css" />
			<Style href="~/scripts/lightbox.css" />
			<Style href="niceforms-default.css" />
		</Styles>
	</SkinTemplate>
	<SkinTemplate SkinID="BlueGradient" Skin="Gradient">
		<Styles>
			<Style href="IEPatches.css" />
		</Styles>
	</SkinTemplate>
	<SkinTemplate SkinID="KeyWest" Skin="KeyWest" />
	<SkinTemplate SkinID="Naked" Skin="Naked" />
	<SkinTemplate SkinID="WPSkin" Skin="WPSkin" />
	<SkinTemplate SkinID="anothereon001" Skin="AnotherEon001" />
	<SkinTemplate SkinID="blue"		Skin="blue" />
	<SkinTemplate SkinID="simple"	Skin="simple" />
	<SkinTemplate SkinID="white"	Skin="white" />
	<SkinTemplate SkinID="gertrude-custom" Skin="gertrude" />
	<SkinTemplate SkinID="gertrude-blue"	Skin="gertrude" SecondaryCss="blue.css" />
	<SkinTemplate SkinID="gertrude-red"		Skin="gertrude" SecondaryCss="red.css" />
	<SkinTemplate SkinID="gertrude-green"	Skin="gertrude" SecondaryCss="green.css" />
	<SkinTemplate SkinID="marvin2-custom"	Skin="marvin2"  />
	<SkinTemplate SkinID="marvin2-green"	Skin="marvin2" SecondaryCss="green.css" />
	<SkinTemplate SkinID="marvin2-blue"		Skin="marvin2" SecondaryCss="blue.css" />
	<SkinTemplate SkinID="marvin2-red"		Skin="marvin2" SecondaryCss="red.css" />
	<SkinTemplate SkinID="marvin2-pink"		Skin="marvin2" SecondaryCss="pink.css" />
	<SkinTemplate SkinID="marvin2-vibrant" Skin="marvin2" SecondaryCss="vibrant.css" />
	<SkinTemplate SkinID="marvin2-brown"	Skin="marvin2" SecondaryCss="brown.css" />
	<SkinTemplate SkinID="marvin3-green"	Skin="marvin3" SecondaryCss="green.css" />
	<SkinTemplate SkinID="marvin3-blue"		Skin="marvin3" SecondaryCss="blue.css" />
	<SkinTemplate SkinID="marvin3-red"		Skin="marvin3" SecondaryCss="red.css" />	
	<SkinTemplate SkinID="marvin3-brown"	Skin="marvin3" SecondaryCss="brown.css" />
	<SkinTemplate SkinID="marvin3-pink"		Skin="marvin3" SecondaryCss="pink.css" />
	<SkinTemplate SkinID="marvin3-vibrant" Skin="marvin3" SecondaryCss="vibrant.css" />
	<SkinTemplate SkinID="marvin3-custom"	Skin="marvin3"  />
	<SkinTemplate SkinID="hover"			Skin="Hover" />
	<SkinTemplate SkinID="lighty"			Skin="Lighty" />
	<SkinTemplate SkinID="lightz"			Skin="Lightz" />
	
 </Skins>
</SkinTemplates>
