<?xml version="1.0"?>
<SkinTemplates xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<Skins>
		<SkinTemplate SkinID="AnotherEon001" Skin="AnotherEon001">
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>
		<SkinTemplate SkinID="Origami" Skin="Origami">
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="Styles/user-styles.css" media="all" />
				<Style href="Styles/print.css" media="print" />
				<Style href="Styles/core.css" media="screen" />
				<Style href="Styles/tables.css" media="screen" />
				<Style href="Styles/core-IE.css" media="screen" conditional="if IE" />
			</Styles>
			<Scripts>
				<Script Src="Scripts/cookies.js" />
				<Script Src="Scripts/prototype.js" />
				<Script Src="Scripts/effects.js" />
				<Script Src="Scripts/behaviour.js" />
				<Script Src="Scripts/coreFunctions.js" />
				<Script Src="Scripts/styleSwitcher.js" />
				<Script Src="Scripts/init.js" />
			</Scripts>
		</SkinTemplate>
		<SkinTemplate SkinID="RedBook" Skin="RedBook" SecondaryCss="Red.css">
			<Scripts>
				<Script Src="~/Admin/Resources/Scripts/niceForms.js" />
			</Scripts>
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="niceforms-default.css" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>
		<SkinTemplate SkinID="BlueBook" Skin="RedBook" SecondaryCss="Blue.css">
			<Scripts>
				<Script Src="~/Admin/Resources/Scripts/niceForms.js" />
			</Scripts>
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="niceforms-default.css" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>
		<SkinTemplate SkinID="GreenBook" Skin="RedBook" SecondaryCss="Green.css">
			<Scripts>
				<Script Src="~/Admin/Resources/Scripts/niceForms.js" />
			</Scripts>
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="niceforms-default.css" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>
		<SkinTemplate SkinID="Submarine"  Skin="Submarine">
			<Scripts>
				<Script Src="~/Admin/Resources/Scripts/niceForms.js" />
				<Script Src="~/scripts/lightbox.js" />
				<Script Src="~/scripts/XFNHighlighter.js" />
				<Script Src="~/scripts/ExternalLinks.js" />
				<Script Src="~/scripts/LiveCommentPreview.js" />
				<Script Src="~/scripts/AmazonTooltips.js" />
			</Scripts>
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="~/scripts/XFNHighlighter.css" />
				<Style href="~/scripts/lightbox.css" />
				<Style href="niceforms-default.css" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>
		<SkinTemplate SkinID="Piyo" Skin="Piyo">
			<Scripts>
				<Script Src="Scripts/piyo.js" />
				<Script Src="Scripts/lightbox.js" />
			</Scripts>
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style title="fixed" href="piyo-fixed.css" />
				<Style title="elastic" href="piyo-elastic.css" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>
		<SkinTemplate SkinID="Semagogy" Skin="Semagogy">
			<Scripts>
				<Script Src="Scripts/DarkHorseLayoutEngine.js" />
			</Scripts>
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>
		<SkinTemplate SkinID="Gradient" Skin="Gradient">
			<Styles>
				<Style href="IEPatches.css" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>
		<SkinTemplate SkinID="KeyWest" Skin="KeyWest">
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>
		<SkinTemplate SkinID="lightz" Skin="Lightz">
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>
		<SkinTemplate SkinID="Naked" Skin="Naked" />
		<SkinTemplate SkinID="WPSkin" Skin="WPSkin">
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>
		<SkinTemplate SkinID="blue"	Skin="blue">
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="print.css" media="print" />
			</Styles>
		</SkinTemplate>
		<SkinTemplate SkinID="White" Skin="White">
			<Styles>
				<Style href="~/skins/_System/csharp.css" />
				<Style href="~/skins/_System/commonstyle.css" />
				<Style href="~/skins/_System/commonlayout.css" />
				<Style href="print.css" media="print" />
				<Style href="search.css" />
			</Styles>
		</SkinTemplate>
	</Skins>
</SkinTemplates>
