<configuration>
  <system.web>

    <!-- ===========================================================================
    This setting is configured so that only authenticated users can visit any of the
    pages in the Admin directory.
    ============================================================================ -->
    <authorization>
      <allow roles="Admins" />
      <deny roles="HostAdmins"/>
      <deny users="*" />
    </authorization>	

    <httpHandlers>
      <add verb="GET" 
      path="FtbWebResource.axd" 
      type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox" />

      <add verb="GET"
      path="BlogMLExport.ashx"
      type="Subtext.Web.Admin.Handlers.BlogMLExport, Subtext.Web" />
    </httpHandlers>

  </system.web>
</configuration>