<div class="container">
   <span class="containerTitle">Build Status Key</span>
   <div class="containerContents">
      <div style="height:16px"><img src="images/error.png" class="statusimage"> Failure</div>
      <div style="height:16px"><img src="images/check.png" class="statusimage"> Success</div>
      <div style="height:16px"><img src="images/warning.png" class="statusimage"> Exception</div>
      <div style="height:16px"><img src="images/unknown.png" class="statusimage"> Unknown</div>
   </div>
</div>

<div class="container">
   <span class="containerTitle">Resources</span>
   <div class="containerContents">
      <ul>
         #foreach ($link in $links)
            <li><a href="$link.Url" class="$link.LinkClass">$link.Text</a></li>
         #end
      </ul>
   </div>
</div>

<div class="container">
   <span class="containerTitle">Servers</span>
   <div class="containerContents">
      <ul>
         #foreach ($slink in $serverlinks)
            <li><a href="$slink.Url" class="$slink.LinkClass">$slink.Text</a></li>
         #end
      </ul>
   </div>
</div>
