<script language="JavaScript">
<!--
function confirmPrompt(form, projectName)
{
   var msg = "";

   if (form.action.value == 'Force')
   {
      msg = "You are about to force a build for " + projectName + ". Are you sure?";
   }
   else
   {
      msg = "You are about to " + form.action.value.toLowerCase() + " the " + projectName + " project. Are you sure?";
   }
   return msg;
}

function getExpirationDate(duration)
{
   var UTCstring;
   Today = new Date();
   milliseconds = Date.parse(Today);
   Today.setTime(milliseconds + duration * 24 * 60 * 60 * 1000);
   UTCstring = Today.toUTCString();
   return UTCstring;
}

function getCookie(cookiename)
{
   var cookiestring = "" + document.cookie;

   var index1 = cookiestring.indexOf(cookiename);
   if (index1 == -1 || cookiename == "")
   {
      return "";
   }

   var index2 = cookiestring.indexOf(';',index1);
   if (index2 == -1)
   {
      index2 = cookiestring.length;
   }

   return unescape(cookiestring.substring(index1 + cookiename.length + 1, index2));
}

function setCookie(name, value, duration)
{
   cookiestring = name + "=" + escape(value) + ";EXPIRES=" + getExpirationDate(duration);
   document.cookie = cookiestring;
   if (!getCookie(name))
   {
      return false;
   }
   else
   {
      return true;
   }
}

function refresh()
{
   window.location = window.location;
}
//-->
</script>
<div class="container">
   <div class="containerContents">
      <form ID="RefreshForm" method="post" style="padding:0px 0px 6px 0px;margin:0px;">
         <table width="100%" style="padding:0px;margin:0px;" border="0">
            <tr>
               <td>
               #if ($forceBuildMessage.Length > 0)
                  <span id="StatusLabel">$forceBuildMessage</span>
               #else
                  &nbsp;
               #end
               </td>
               <td width="175" align="right">Refresh every <input type="text" id="refreshInterval" align="right" name="refreshInterval" value="30" size="1" maxlength="10" onblur="setRefreshInterval(this.value)"/> seconds</td>
               <td align="right" width="140"><input type="submit" align="right" name="$refreshButtonName" value="Refresh status" /></td>
            <tr>
         </table>
      </form>

      #if ($projectGrid.Length > 0)
      <table id="StatusGrid" rules="groups" cellspacing="0" cellpadding="0">
         <thead>
            <tr class="ProjectGridHeader">
               <td width="6px"></td>
               <td nowrap><a href="$projectNameSortLink"><b>Project Name</b></a></td>
               <td width="6px"></td>
               <td align="center" width="60"><a href="$buildStatusSortLink"><b>Build<br>Status</b></a></td>
               <td width="15"></td>
               <td align="left" width="240"><b>Current Activity</b></td>
               <td width="15"></td>
               <td align="left" nowrap><b>Last Build Label</b></td>
               <td width="20"></td>
               <td align="left" nowrap><a href="$lastBuildDateSortLink"><b>Last Build Time</b></a></td>
               <td width="15"></td>
            </tr>
         </thead>
         #foreach ($projectGridRow in $projectGrid)
            <tbody>
               <tr>
                  <td>&nbsp;</td>
                  <td align="left"><strong><a href="$projectGridRow.Url">$projectGridRow.Name</a></strong></td>
                  <td>&nbsp;</td>
                  <td align="center" nowrap valign="middle">
                     #if ($projectGridRow.BuildStatus == "Failure")
                        <img src="/ccnet/images/error.png" class="statusimage" alt="$projectGridRow.BuildStatus">
                     #elseif ($projectGridRow.BuildStatus == "Success")
                        <img src="/ccnet/images/check.png" class="statusimage" alt="$projectGridRow.BuildStatus">
                     #elseif ($projectGridRow.BuildStatus == "Unknown")
                        <img src="/ccnet/images/unknown.png" class="statusimage" alt="$projectGridRow.BuildStatus">
                     #else
                        <img src="/ccnet/images/warning.png" class="statusimage" alt="$projectGridRow.BuildStatus">
                     #end
                  </td>
                  <td>&nbsp;</td>
                  <td align="left">
                     #if ($projectGridRow.Activity == "CheckingModifications")
                        <img src="/ccnet/images/gear_view.png" class="statusimage" alt="Checking Modifications"> Checking Modifications
                     #elseif ($projectGridRow.Activity == "Building")
                        <img src="/ccnet/images/gear_run.png" class="statusimage" alt="$projectGridRow.Activity"> $projectGridRow.Activity
                     #else
                        $projectGridRow.Activity
                     #end
                  </td>
                  <td>&nbsp;</td>
                  <td align="left">$projectGridRow.LastBuildLabel</td>
                  <td>&nbsp;</td>
                  <td align="left" nowrap>$projectGridRow.LastBuildDate</td>
                  <td>&nbsp;</td>
               </tr>
               #if ($projectGridRow.CurrentMessage.Length > 0)
                  <tr class="shaded">
                     <td colspan="4">&nbsp;</td>
                     <td colspan="7">$projectGridRow.CurrentMessage</td>
                  </tr>  
                  <tr class="shaded divider">
                     <td colspan="11" align="center"><hr></td>
                  </tr>  
               #end
               <tr class="shaded">
                  <td colspan="4">&nbsp;</td>
                  <td colspan="7" align="center">
                     <form method="post" onsubmit="return confirm(confirmPrompt(this, '$projectGridRow.Name'))">
                        <input type="hidden" name="forcebuild" value="true" />
                        <input type="hidden" name="forceBuildProject" value="$projectGridRow.Name" />
                        <input type="hidden" name="forceBuildServer" value="$projectGridRow.ServerName" />
                        <input type="hidden" name="action" value=""/>
                           <table width="100%">
                              <tr>
                              <td align="left" width="200"><i>Project Status:</i> $projectGridRow.Status</td>
                              <td align="left"><a href="server/$projectGridRow.ServerName/project/$projectGridRow.Name/ViewLatestBuildReport.aspx">View Latest Build</a></td>
                              <td align="right">
                                 <font color="Black">
                                    #if ($projectGridRow.allowForceBuild)
                                       #if (($projectGridRow.Activity != "Sleeping") || ($forceBuildMessage.Length > 0 && $forceBuildMessage.EndsWith($projectGridRow.Name)))
                                          <input disabled type="submit" name="$projectGridRow.ForceBuildButtonName" value="Force" style="cursor:default"/>
                                       #else
                                          <input type="submit" name="$projectGridRow.ForceBuildButtonName" value="Force" onclick="this.form.action.value = this.value;"/>
                                       #end
                                    #end
                                    &nbsp;&nbsp;
                                    #if ($projectGridRow.AllowStartStopBuild)          
                                       <input type="submit" name="$projectGridRow.StartStopButtonName" value="$projectGridRow.StartStopButtonValue" onclick="this.form.action.value = this.value;"/>
                                    #end
                                 </font>
                              </td>
                           </tr>
                        </table>
                     </form>
                  </td>
               </tr>
            </tbody>
         #end
      </table>
      #end

      #if ($exceptions.Length > 0)
         #if ($projectGrid.Length > 0)
            <br>
         #end
         <table width="90%" style="padding:0px;margin:0px;">
            <tr><td align="left"><span id="ExceptionTitleLabel">There were exceptions connecting to the following servers:</span></td></tr>
         </table>

         <table id="ExceptionGrid" rules="groups" cellspacing="0" cellpadding="0">
         <thead>
            <tr class="ProjectGridHeader">
               <td width="6px"></td>
               <td><b>Server Name</b></td>
               <td nowrap><b>Url</b></td>
               <td width="6px"></td>
            </tr>
         </thead>
         #foreach ($exception in $exceptions)
            <tbody>
               <tr>
                  <td>&nbsp;</td>
                  <td>$exception.ServerName</td>
                  <td>$exception.Url</td>
                  <td>&nbsp;</td>
               </tr>
               <tr class="shaded">
                  <td>&nbsp;</td>
                  <td colspan="2">$exception.Message</td>
                  <td>&nbsp;</td>
               </tr>
            </tbody>
         #end
         </table>
      #end

      <br>
      
      <table width="100%" id="StatusGrid" rules="groups" cellpadding="0" cellspacing="0" border="0">
         <thead><tr class="ProjectGridHeader"><td width="6px"></td><td><b>ohloh Project Statistics</b></td></tr></thead>
         <tbody>
         <tr>
            <td>&nbsp;</td>
            <td><script type="text/javascript" src="http://www.ohloh.net/projects/3167/widgets/project_factoids"></script></td>
         </tr>
         <tr>
            <td>&nbsp;</td>
            <td><script type="text/javascript" src="http://www.ohloh.net/projects/3167/widgets/project_cocomo"></script></td>
         </tr>
         <tr>
            <td>&nbsp;</td>
            <td><script type="text/javascript" src="http://www.ohloh.net/projects/3167/widgets/project_languages"></script></td>
         </tr>
         </tbody>
      </table>

   </div>
</div>

<script language="JavaScript" >
<!--
function setRefreshInterval(interval)
{
   if (isNaN(interval))
   {
      interval = 0;
   }

   if (interval == 0)
   {
      if (!confirm("Setting the refresh interval to 0 will disable automatic refreshing. Are you sure?"))
      {
         document.getElementById('refreshInterval').value = intervalSeconds;
         return false;
      }
   }

   document.getElementById('refreshInterval').value = interval;
   setCookie('refreshInterval', interval, 365);
   if (interval > 0)
   {
      timer = setTimeout('refresh()', interval * 1000);
   }
   else
   {
      clearTimeout(timer);
   }
}

var intervalSeconds = parseInt(getCookie('refreshInterval'));
var timer;

if (isNaN(intervalSeconds))
{
   intervalSeconds = 0;
}


document.getElementById('refreshInterval').value = intervalSeconds;
if (intervalSeconds > 0)
{
   timer = setTimeout('refresh()', intervalSeconds * 1000);
}
else
{
   clearTimeout(timer)
}

//-->
</script>
