<div class="container">
   <span class="containerTitle">Recent Builds</span>
   <div class="containerContents">
      <div id="RecentBuildsPanel"> 
      <ul>
         $buildRows
         
         <!-- This uses an inline style so Firefox respects the height setting. -->
         <li style="padding-top: 25px"><a href="$allBuildsLink.Url">Show All</a>
      </ul>
      </div>
   </div>
</div>