<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BlogConfigurationSettings" type="Subtext.Framework.Util.XmlSerializerSectionHandler, Subtext.Framework" requirePermission="false" />
    <section name="HandlerConfiguration" type="Subtext.Framework.Util.XmlSerializerSectionHandler, Subtext.Framework" requirePermission="false" />
    <section name="SyndicationCompression" type="Subtext.Framework.Syndication.Compression.SyndicationCompressionSectionHandler, Subtext.Framework" requirePermission="false" />
    <section name="Email" type="Subtext.Extensibility.Providers.ProviderSectionHandler, Subtext.Extensibility" requirePermission="false" />
    <section name="BlogEntryEditor" type="Subtext.Extensibility.Providers.ProviderSectionHandler, Subtext.Extensibility" requirePermission="false" />
    <section name="AllowableCommentHtml" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="FriendlyUrlSettings" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="EnclosureMimetypes" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="FullTextSearchEngineSettings" type="Subtext.Framework.Util.XmlSerializerSectionHandler, Subtext.Framework" requirePermission="false" />
    <section name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection" requirePermission="false" allowLocation="true" />
  </configSections>
  <!-- Change the connectionStringName AppSetting to switch from one database to another. -->
  <connectionStrings>
    <clear />
    <add name="subtextData" connectionString="Server=.\SQLEXPRESS;Database=SubtextData;Trusted_Connection=True;User Instance=false;" />
  </connectionStrings>
  <FullTextSearchEngineSettings type="Subtext.Framework.Configuration.FullTextSearchEngineSettings, Subtext.Framework">
    <Parameters>
      <MinimumDocumentFrequency>10</MinimumDocumentFrequency>
    </Parameters>
  </FullTextSearchEngineSettings>
  <!-- separatingCharacter - Auto Generated Friendly URLs
    will replace spaces with this character. Leave blank to simply remove
    spaces entirely.
    Valid values are 
      - (hyphen) . (period ) and _ (underscore)
    
    textTransform - "None", "LowerCase", "UpperCase" (you can leave this one blank).
    limitCharacterLength - when set to a number greater than 0, the Auto
    Generated Friendly URL will stop after specified number of characters.
  -->
  <FriendlyUrlSettings>
    <add key="textTransform" value="LowerCase" />
    <add key="separatingCharacter" value="-" />
    <add key="limitWordCount" value="10" />
  </FriendlyUrlSettings>
  <!--
    This section contains a set of key / value pairs to indicate which HTML tags
    are allowed in comments. The key contains the tag (such as 'strong' or 'a')
    and the value is a comma delimited set of attributes that tag may have.
    If no attributes are allowed, set value=""
  -->
  <AllowableCommentHtml>
    <add key="a" value="href,title" />
    <add key="b" value="" />
    <add key="strong" value="" />
    <add key="blockquote" value="cite" />
    <add key="p" value="" />
    <add key="i" value="" />
    <add key="em" value="" />
    <add key="u" value="" />
    <add key="strike" value="" />
    <add key="super" value="" />
    <add key="sub" value="" />
    <add key="code" value="" />
  </AllowableCommentHtml>
  <!--
        This section contains a set of key / values pairs to:
        1 - define the default mimetypes available in the dropdown list
        2 - establish the mapping between file extension and mimetype
  -->
  <EnclosureMimetypes>
    <add key=".mp3" value="audio/mpeg" />
    <add key=".mp4" value="video/mp4" />
    <add key=".zip" value="application/octetstream" />
    <add key=".pdf" value="application/octetstream" />
    <add key=".wmv" value="video/wmv" />
    <add key=".wma" value="audio/wma" />
  </EnclosureMimetypes>
  <Email defaultProvider="SystemMailProvider">
    <providers>
      <!-- 
        If your SMTP server requires authentication, add the following attributes as needed:
        
          username="user"
          password="pw"
          port="portnumber"
          sslEnabled="true" or "false"
        
        If you want to always use the admin email as the FROM address for emails sent by Subtext, 
        set commentersEmailAsFromAddress to true.

        Note: To use GMail as your SMTP server, use the following settings:
          smtpServer="smtp.gmail.com" 
          username="username@gmail.com" 
          password="your-password"   
          port="587"
          sslEnabled="true"
        -->
      <add name="SystemMailProvider" type="Subtext.Framework.Email.SystemMailProvider, Subtext.Framework" smtpServer="smtp.gmail.com" username="youremail@gmail.com" password="...your password..." commentersEmailAsFromAddress="true" adminEmail="admin@ThisRepresentsYourBlog.com" port="587" sslEnabled="true" />
    </providers>
  </Email>
  <!--
    Configuration from BlogEntryEditor provider
    Remember the trailing / at the end of all path
    This section works like any other provider section, so, to enable one provider,
    just write its name in the defaultProvider attribute
  -->
  <BlogEntryEditor defaultProvider="FCKeditorBlogEntryEditorProvider">
    <providers>
      <add name="FtbBlogEntryEditorProvider" type="Subtext.Web.Providers.BlogEntryEditor.FTB.FtbBlogEntryEditorProvider, Subtext.Web" description="FreeTextBox BlogEntryEditor Provider" toolbarlayout="Bold,Italic,Underline,Strikethrough;Superscript,Subscript,RemoveFormat|FontFacesMenu,FontSizesMenu,FontForeColorsMenu|InsertTable|JustifyLeft,JustifyRight,JustifyCenter,JustifyFull;BulletedList,NumberedList,Indent,Outdent;CreateLink,Unlink,Insert,InsertRule|Cut,Copy,Paste;Undo,Redo|ieSpellCheck,WordClean|InsertImage,InsertImageFromGallery" FormatHtmlTagsToXhtml="true" RemoveServerNamefromUrls="false" WebFormFolder="~/aspx/providers/BlogEntryEditor/FTB/" Width="700px" Height="400px" />
      <!--
        The following provider allow FCKeditor to be used as rich text editor inside SubText
        Configuration parameters are:
        WebFormFolder: the path where the provider files are located (default should be ~/pages/providers/RichTextEditor/FCKeditor/)
        ToolbarSet: the set of toolbar buttons to use, the possibilities are Default,Basic,SubText, but the best is SubText
        Skin: the style of the toolbar buttons [default|office2003|silver]
        ******** connector related settings ********
        ImageBrowserURL: the path where the ImageBrowser is located (don't change unless you know what you are doing)
        LinkBrowserURL: the path where the LinkBrowser is located (don't change unless you know what you are doing)
        ImageConnectorURL: the path where the connector for the ImageBrowser is located (don't change unless you know what you are doing)
        LinkConnectorURL: the path where the connector for the LinkBrowser is located (don't change unless you know what you are doing)
        FileAllowedExtensions: extensions to be retrieved when the connector lists files (.* means all)
        ImageAllowedExtensions: extensions to be retrieved when the connector lists images (.* means all)
      -->
      <add name="FCKeditorBlogEntryEditorProvider" type="Subtext.Providers.BlogEntryEditor.FCKeditor.FckBlogEntryEditorProvider, Subtext.Providers.BlogEntryEditor.FCKeditor" description="FCKeditor RichTextEditor Provider" WebFormFolder="~/aspx/providers/BlogEntryEditor/FCKeditor/" ToolbarSet="SubText" Skin="office2003" ImageBrowserURL="~/aspx/providers/BlogEntryEditor/FCKeditor/editor/filemanager/browser/default/browser.html?Type=Image&amp;Connector={0}" LinkBrowserURL="~/aspx/providers/BlogEntryEditor/FCKeditor/editor/filemanager/browser/default/browser.html?Connector={0}" ImageConnectorURL="~/providers/BlogEntryEditor/FCKeditor/editor/filemanager/browser/default/connectors/aspx/connector.aspx" LinkConnectorURL="~/providers/BlogEntryEditor/FCKeditor/editor/filemanager/browser/default/connectors/aspx/connector.aspx" FileAllowedExtensions=".*" ImageAllowedExtensions="jpg|gif|png" Width="700px" Height="400px" />
      <add name="PlainTextBlogEntryEditorProvider" type="Subtext.Web.Providers.BlogEntryEditor.PlainText.PlainTextBlogEntryEditorProvider, Subtext.Web" description="Plain text BlogEntryEditor Provider" cols="10" rows="10" cssClass="txt" />
    </providers>
  </BlogEntryEditor>
  <!--
    Supported Types "gzip|deflate"
    Supported Levels "normal|low|high"		
  -->
  <SyndicationCompression type="gzip" level="high" />
  <BlogConfigurationSettings type="Subtext.Framework.Configuration.BlogConfigurationSettings, Subtext.Framework">
    <Tracking enableAggBugs="true" enableWebStats="true" queueStats="true" queueStatsCount="5" enableTrackBacks="true" enablePingBacks="true" pingWeblogs="true" />
    <!--	
      Checkout Subtext.Framework.Security for hashing passwords.  
      This should be set when first installing the application 
      and really shouldn't be changed afterwards.	
    -->
    <UseHashedPasswords>true</UseHashedPasswords>
    <!-- Globally control access to web services -->
    <AllowServiceAccess>true</AllowServiceAccess>
    <AllowImages>true</AllowImages>
    <AllowScriptsInPosts>true</AllowScriptsInPosts>
    <!-- Globally control use of XHTML -->
    <UseXHTML>true</UseXHTML>
    <!-- Default Item Count -->
    <ItemCount>25</ItemCount>
    <!-- Default Number of Posts to Show on Category Pages. Use 0 to show all. -->
    <CategoryListPostCount>0</CategoryListPostCount>
    <!-- Default Server Time Zone Offset -->
    <ServerTimeZone>-8</ServerTimeZone>
    <!-- Whether or not to GZIP the RSS and/or atom feeds. -->
    <UseSyndicationCompression>true</UseSyndicationCompression>
    <!-- When uploading gallery images, these are used for the resized images-->
    <GalleryImageMaxWidth>640</GalleryImageMaxWidth>
    <GalleryImageMaxHeight>480</GalleryImageMaxHeight>
    <GalleryImageThumbnailWidth>120</GalleryImageThumbnailWidth>
    <GalleryImageThumbnailHeight>120</GalleryImageThumbnailHeight>
  </BlogConfigurationSettings>
  <appSettings>
    <add key="subtextSkinsPackageSource" value="http://bit.ly/subtextnuget" />
    <add key="connectionStringName" value="subtextData" />
    <add key="log4net.Internal.Debug" value="false" />
    <!-- 
        Proxy for web requests such as trackbacks and Akismet. 
        This may be required in Medium Trust hosting environments. 
        Check with your admin.
      -->
    <add key="ProxyHost" value="" />
    <add key="ProxyPort" value="" />
    <add key="ProxyUsername" value="" />
    <add key="ProxyPassword" value="" />
    <!-- Aggregate Blog Stuff -->
    <add key="AggregateEnabled" value="false" />
    <add key="AggregateTitle" value="A Subtext Community" />
    <add key="AggregateUrl" value="http://localhost:2732/" />
    <add key="AggregateDescription" value=".NET by Subtext" />
    <add key="AggregateSkin" value="Aggregate/Simple" />
    <!--UI Text -->
    <add key="PostCollection" value="Post Categories" />
    <add key="ArticleCollection" value="Article Categories" />
    <add key="ImageCollection" value="Image Galleries" />
    <add key="Archives" value="Archives" />
    <add key="GravatarEnabled" value="true" />
    <add key="GravatarUrlFormatString" value="http://www.gravatar.com/avatar/{0}?s=50&amp;r=pg&amp;d=identicon" />
    <!-- 
      Another temporary setting. If true, then the Contact Me messages 
      are routed to the feedback table.  This will be replaced with 
      something better.
    -->
    <add key="ContactToFeedback" value="false" />
    <!--
      If you've ever turned on ContactToFeedback in the past, but later turn it off, 
      you may still want to show the existing messages in the feedback section.
    -->
    <add key="ShowContactToFeedback" value="false" />
    <!-- 
      Allows a hoster to turn off this feature system wide, just in case 
      there is a problem with it. Shouldn't be needed. Anything other 
      than false == true.
    -->
    <add key="InvisibleCaptchaEnabled" value="true" />
    <!--
      This is so the Forgot Password knows where to 
      send the email for the Host Admin.  This will 
      change soon. It's a temporary solution.
    -->
    <add key="HostEmailAddress" value="HOST-EMAIL" />
    <!-- 
      CommunityCredits Integration
      CommCreditEnabled: obviously, true to enable CommunityCredits, false to disable
      CommCreditAffiliateCode: AffiliateCode as given by Community Credits Affiliate Program
      CommCreditAffiliateKey: AffiliateKey specified when signing for the Community Credits Affiliate Program
      if you are a single blogger you don't have to become a Community Credits Affiliate
      but if you are setting up a community blog site please register to: http://www.community-credit.com/BecomeAnAffiliate.aspx
    -->
    <add key="CommCreditEnabled" value="false" />
    <add key="CommCreditAffiliateCode" value="SC145233" />
    <add key="CommCreditAffiliateKey" value="SBT145$3_" />
    <add key="FeedBurnerUrl" value="http://feedproxy.google.com/" />
  </appSettings>
  <system.web>
    <!-- You might need to change the value of this next item to Medium or 
    remove it entirely (for example, if you're hosting with GoDaddy)
    -->
    <!-- [Full|High|Medium|Low|Minimal] -->
    <!--<trust level="Medium" originUrl=".*" />-->
    <xhtmlConformance mode="Transitional" />
    <!-- Subtext is not yet globalized. This should keep things clean for now -->
    <globalization culture="en-US" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <!--We do not use session in Subtext. This should not be changed. -->
    <sessionState mode="Off" />
    <!-- We allow larger uploads in the galleries -->
    <httpRuntime executionTimeout="90" maxRequestLength="819200" useFullyQualifiedRedirectUrl="false" requestValidationMode="2.0" />
    <!-- We check all comment/public inputs -->
    <pages validateRequest="false" autoEventWireup="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="st" namespace="Subtext.Web.Controls" assembly="Subtext.Web" />
        <add tagPrefix="st" namespace="Subtext.Web.Admin.WebUI" assembly="Subtext.Web" />
        <add tagPrefix="st" namespace="Subtext.Web.UI.WebControls" assembly="Subtext.Web" />
        <add tagPrefix="st" namespace="Subtext.Web.Controls.Captcha" assembly="Subtext.Web" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Routing" />
        <add namespace="Subtext.Extensibility" />
        <add namespace="Subtext.Extensibility.Interfaces" />
        <add namespace="Subtext.Framework" />
        <add namespace="Subtext.Web.Properties" />
        <add namespace="Subtext.Framework.Configuration" />
        <add namespace="Subtext.Framework.Components" />
        <add namespace="Subtext.Framework.Routing" />
        <add namespace="Subtext.Framework.Security" />
      </namespaces>
      <tagMapping>
        <add tagType="System.Web.UI.HtmlControls.HtmlForm" mappedTagType="Subtext.Web.Controls.Form" />
      </tagMapping>
    </pages>
    <compilation defaultLanguage="C#" debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!-- RemoteOnly | On | Off -->
    <customErrors mode="Off" defaultRedirect="~/aspx/SystemMessages/Error.aspx" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/aspx/SystemMessages/FileNotFound.aspx" />
    </customErrors>
    <authentication mode="Forms">
      <forms name=".SubtextCookie" loginUrl="login.aspx" protection="All" requireSSL="false" slidingExpiration="true" timeout="86400" />
      <!--86400 minutes is approx 60 days-->
    </authentication>
    <httpHandlers>
      <!-- asp.net AJAX 1.0 config -->
      <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="true" />
      <!-- This is for FTB 3.0 support -->
      <add verb="GET" path="FtbWebResource.axd" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox" />
      <!-- 
        Since we are grabbing all requests after this, 
        make sure these pages do not rely on the URL Redirection service.
      -->
      <add verb="GET" path="css.axd" type="Subtext.Framework.Web.Handlers.CssHandler, Subtext.Framework" />
      <add verb="GET" path="js.axd" type="Subtext.Framework.Web.Handlers.JsHandler, Subtext.Framework" />
    </httpHandlers>
    <caching>
      <outputCache enableOutputCache="true" />
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="SubtextMaster" varyByCustom="Blogger" duration="60" />
          <add name="ChangedFrequently" varyByCustom="Blogger" duration="60" />
          <add name="ChangedRarely" varyByCustom="Blogger" duration="600" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
      <remove name="UrlRoutingHandler" />
      <remove name="CssHandler" />
      <remove name="JsHandler" />
      <!-- 
        Since we are grabbing all requests after this, 
        make sure these pages do not rely on the URL Redirection service.
      -->
      <add name="CssHandler" verb="GET" path="css.axd" type="Subtext.Framework.Web.Handlers.CssHandler, Subtext.Framework" preCondition="integratedMode" />
      <add name="JsHandler" verb="GET" path="js.axd" type="Subtext.Framework.Web.Handlers.JsHandler, Subtext.Framework" preCondition="integratedMode" />
    </handlers>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/Subtext.Web/pages/SystemMessages/FileNotFound.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="b32731d11ce58905" culture="neutral" />
        <bindingRedirect oldVersion="1.2.0.30714" newVersion="1.2.10.0" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lucene.Net" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.2.2" newVersion="2.9.2.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lucene.Net" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.2.2" newVersion="2.9.2.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lucene.Net" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.2.2" newVersion="2.9.2.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lucene.Net" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.2.2" newVersion="2.9.2.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lucene.Net" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.2.2" newVersion="2.9.2.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.20419.9005" newVersion="1.3.20419.9005" />
      </dependentAssembly>
    </assemblyBinding>
    <legacyHMACWarning enabled="0" />
  </runtime>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
       which is necessary for OpenID urls with unicode characters in the domain/host name. 
       It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <dotNetOpenAuth>
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <!-- You may also refer to README.Bin.html for instructions on enabling Intellisense for this section. -->
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
            <add endpoint="https://www.google.com/accounts/o8/ud" />
          </trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
               with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth" />
        </behaviors>
      </relyingParty>
    </openid>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
  </dotNetOpenAuth>
</configuration>