<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <!-- 
    Order changed 20th-Sep-2006 by Grant Drake for NCoverExplorer 1.3.5.
    
    The .Net 2.0 support is deprioritised as it makes NCoverExplorer perform slowly due to a problem
    that appears to be related to changes Microsoft have made to the TreeView control. Until that is
    resolved it is highly recommended people run NCoverExplorer under .Net 1.1 instead.
    -->
	  <supportedRuntime version="v1.1.4322" />
	  <supportedRuntime version="v2.0.50727" />
	  <requiredRuntime version="v1.1.4322" />
  </startup>
</configuration>