/*

To make good use of this skin, make sure to use the following CSS Classes in your blog post content.

.dropcap - First letter of your post. Makes a nice bookish effect.
span.pullout - Creates a green box on the side for setting aside an important detail.
blockquote.withline" - blockquote with a left green border.
*/
	
body
{
	font-size: medium;
}

/* css document */
/* links */
a:link	
{
	color:#888888;
	text-decoration:none;
}

a:hover	
{
	color: #E11284;
	text-decoration:none;
}

a:active	
{
	color:#888888;
	text-decoration:none;
}

a:visited	
{
	color:#888888;
	text-decoration:none;
}
	
/* content */	
#content
{
	text-align: left;
	width: 700px;
	margin: 0 auto
}

#navigation
{
	position: relative;
	left: 175px;
	top:120px
}

#flash
{
	position: relative;
	left: 0px;
	top: 115px
}

/* left and right conent */
.container2 
{
	position: relative;
	height: 50px;
}

.left-element 
{
	position: absolute;
	left: 0;
	width: 30%;
	margin: 4;
	white-space: wrap;
	padding: 4;
}

.right-element 
{
	position: absolute;
	right: 0;
	width: 65%;
	text-align: left; /* depends on element width */
	margin: 4;
	white-space: wrap;
	padding: 0px;
	padding-left: 4px;
}

body 
{
	background-image:url(images/bg.gif);
	background-repeat:repeat-x;
}
  
div.float 
{
	float: left;
}
  
h1 
{ 
	color: green;
	font-weight: bold; 
	font-size: 1.2em;
	line-height: 1.2em;
	font-family: arial; 
	font-variant: normal;
	font-style: normal;
}

h1 a.blogTitle
{
	font-size: 1.7em;
	margin-top: 75px;
	margin-bottom: 20px;
	float: left;
}

/* styling post */
.thinborder
{
	float:left;
	border:solid 1px #9ACD32;
	padding:5px;
	margin-right:5px;
}

.dropcap 
{
	float: left;
	font: 4em georgia, helvetica, verdana, arial, sans-serif;
	color: #9ACD32;
	border:solid 1px #AADD42;
	padding:5px;
	margin-right:5px;
}

.pullout
{
	background-color: #9ACD32;
	color:#f5f5f5;
	border: none;
}

/* blockquote styling */
blockquote.withline   
{
	font-family: "arial", courier, monospace;
	text-align: justify; padding:5px;
	border-left:1px solid #9ACD32;
}
  
/* rounded corners */
/* set millions of background images */
.rbroundbox { background: url(images/nt.gif) repeat; }
.rbtop div { background: url(images/tl.gif) no-repeat top left; }
.rbtop { background: url(images/tr.gif) no-repeat top right; }
.rbbot div { background: url(images/bl.gif) no-repeat bottom left; }
.rbbot { background: url(images/br.gif) no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.rbtop div, .rbtop, .rbbot div, .rbbot 
{
	width: 100%;
	height: 7px;
	font-size: 1px;
}
.rbcontent { margin: 0 7px; }
.rbroundbox { width: 100%; margin: 1em auto; }

/* navigation listamatic*/
#navcontainer
{
	width: 12em;
	padding: 0 0 1em 0;
	margin-bottom: 1em;
	font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
	color: #333;
}

ul.navlist
{
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

ul.navlist li
{
	border-bottom: 1px solid #000000;
	margin: 0;
}

ul.navlist li a
{
	display: block;
	padding: 5px 5px 5px 0.5em;
	background-color: #ffffff;
	color: #888888;
	text-decoration: none;
	width: 100%;
}

html>body ul.navlist li a { width: auto; }

ul.navlist li a:hover
{
	background-color: #E11284;
	color: #fff;
}

#sidebar h3, #sidebar ul.navlist li
{
	font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
	color: #888888;
	font-size: .8em;
}

#sidebar h3
{
	color: #555;
	margin: 0;
	padding: 0;
}

#sidebar ul.navlist, #sidebar ul.navlist li
{
	margin: 0;
	padding: 0;
}

#sidebar ul.navlist li
{
	border: none;
}

#sidebar ul.navlist li a
{
	background-color: #fcfecc;
}

#sidebar ul.navlist li a:hover
{
	background-color: #ffd;
	color: #E11284;
}

#star
{
	background: url(images/flash.gif);
	width: 93px;
	height: 93px;
	display: block;
	float: left;
}

#newsBox
{
	clear: both;
}

/* Zoom Cloud */

#comments h2, #comments h4, #commentform h3
{
	color: #333;
	font: bold 1em arial, helvetica, sans-serif;
}

#comments h4
{
	color: #676;
}

div.comment
{
	margin-top: 10px;
}

.commentText
{
	padding: 5px;
}

.commentInfo
{
	font-size: .8em;
}

#comments h4
{
	margin: 0;
	padding: 0;
}

h2.postTitle a
{
	/*color: #E11284;*/
	color: #676;
	font: bold 1.3em arial, helvetica, sans-serif;
}

h2.postTitle a:visited
{
	color: #787;
}

h2.postTitle a:hover
{
	color: #E11284;
}

span.postTitleDate
{
	color: #aaa;
	font: bold 1em arial, helvetica, sans-serif;
}

p.postfooter
{
	color: #888;
}

p.postfooter a:hover
{
	color: #e11284;
}

div.previousNext a:hover
{
	color: #e11284;
}