<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="BlogConfigurationSettings" type="Subtext.Framework.Util.XmlSerializerSectionHandler, Subtext.Framework"/>
		<section name="HandlerConfiguration" type="Subtext.Framework.Util.XmlSerializerSectionHandler, Subtext.Framework"/>
	</configSections>
	
	<HandlerConfiguration 	defaultPageLocation = "DTP.aspx" type = "Subtext.Common.UrlManager.HandlerConfiguration, Subtext.Common">
		<HttpHandlers>		
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/rss\.aspx)$" type = "Subtext.Common.Syndication.RssHandler, Subtext.Common" handlerType = "Direct" />
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/atom\.aspx)$" type = "Subtext.Common.Syndication.AtomHandler, Subtext.Common" handlerType = "Direct" />
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/comments/commentRss/\d+\.aspx)$" type = "Subtext.Common.Syndication.RssCommentHandler, Subtext.Common" handlerType = "Direct"/>
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/aggbug/\d+\.aspx)$" type = "Subtext.Framework.Tracking.AggBugHandler, Subtext.Framework" handlerType = "Direct"/>
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/customcss\.aspx)$" type = "Subtext.Web.UI.Handlers.BlogSecondaryCssHandler, Subtext.Web" handlerType = "Direct" />
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/category\/(\d|\w|\s)+\.aspx/rss)$" type = "Subtext.Common.Syndication.RssCategoryHandler, Subtext.Common" handlerType = "Direct" />
			<HttpHandler pattern = "^(?:((\/(?:Subtext.Web)?\/default\.aspx)?|(\/(?:Subtext.Web)?\/?))?)$"  controls = "homepage.ascx"/>
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/Archives\.aspx)$" controls="SingleColumn.ascx" />
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/articles/\d+\.aspx)$" controls = "viewpost.ascx,Comments.ascx,PostComment.ascx" />
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/articles/\w+\.aspx)$" controls = "viewpost.ascx,Comments.ascx,PostComment.ascx" />		
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/archive/\d{4}/\d{2}/\d{2}/\d+\.aspx)$" controls = "viewpost.ascx,Comments.ascx,PostComment.ascx" />
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/archive/\d{4}/\d{2}/\d{2}/\w+\.aspx)$" controls = "viewpost.ascx,Comments.ascx,PostComment.ascx" />
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/archive/\d{4}/\d{1,2}/\d{1,2}\.aspx)$" controls = "ArchiveDay.ascx" />
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/archive/\d{4}/\d{1,2}\.aspx)$" controls = "ArchiveMonth.ascx" />
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/contact\.aspx)$" controls="Contact.ascx" />
			<HttpHandler pattern = "(?:/Subtext.Web)?(/posts/|/story/|/archive/)" type="Subtext.Web.UI.Handlers.RedirectHandler,Subtext.Web"  handlerType = "Direct"/>
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/gallery\/\d+\.aspx)$" controls="GalleryThumbNailViewer.ascx" />
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/gallery\/image\/\d+\.aspx)$" controls="ViewPicture.ascx" />
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/(?:category|stories)/(\w|\s)+\.aspx)$" controls="CategoryEntryList.ascx" />
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/comments\/\d+\.aspx)$" type = "Subtext.Common.Syndication.CommentHandler, Subtext.Common" handlerType = "Direct" />
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/services\/trackbacks/\d+\.aspx)$" type = "Subtext.Framework.Tracking.TrackBackHandler, Subtext.Framework" handlerType = "Direct" />
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/services\/pingback\.aspx)$" type = "Subtext.Framework.Tracking.PingBackService, Subtext.Framework" handlerType = "Direct" />
			<HttpHandler pattern = "^(?:(?:/Subtext.Web)?/services\/metablogapi\.aspx)$" type = "Subtext.Framework.XmlRpc.MetaWeblog, Subtext.Framework" handlerType = "Direct" />
		</HttpHandlers>
	</HandlerConfiguration>

	<BlogConfigurationSettings type = "Subtext.Framework.Configuration.BlogConfigurationSettings, Subtext.Framework">

		<Tracking enableAggBugs = "true" enableWebStats = "true" queueStats = "true" queueStatsCount = "5" 
			enableTrackBacks = "true" enablePingBacks = "true" pingWeblogs = "true" />
	
		<BlogProviders>
			<!-- Controls how .Text formats Urls -->
			<UrlFormatProvider type = "Subtext.Framework.Format.UrlFormats, Subtext.Framework" />

			<!-- 
				This provider powers the wrapper classes such as Entries. In general, it controls whether data is loaded
				from a DbProvider, GenericDataProvider, or some other custom implementation. Having a valid DTOProvider is not
				optional.  
			-->
			<DTOProvider type = "Subtext.Framework.Data.DataDTOProvider, Subtext.Framework" />

			<!-- 
					By default .Text uses SQL Server as the backend data store. The DbProvider determines which DbProvider
					(a class which implements IDbProvider) is used. This is optional. 
			-->
			<DbProvider type = "Subtext.Framework.Data.SqlDataProvider, Subtext.Framework"
						connectionString = "Server=localhost;Database=SubtextData;Trusted_Connection=True" />
			
			<!--
				The ConfigProvider enables .Text to know which blog to load. You may specify a host, 
				application, or blogid. These values can be used to override what might be found via 
				the current url or web.config. It is up to the class which implements IConfig to 
				decide how and when to use these values. In the Subtext.Common asembly you should find 
				two sample implemenations. 	SinlgeBlogConfig and MultipleBlogConfig. Single will load 
				a blog based on the Request.ApplicationPath values (which you can override by setting 
				the Host and Application values). The MultipleBlogConfig will load a blog based on the 
				value found in the first folder after the Request.ApplicationPath. You may override the 
				host value. BlogID is not used for either implementation.
			-->
			<ConfigProvider type = "Subtext.Common.Config.MultipleBlogConfig, Subtext.Common" cacheTime = "120" />	
			
			<!-- Controls how .Text sends email. By default, SystemMail is used. -->
			<EmailProvider type = "Subtext.Framework.Email.SystemMail, Subtext.Framework" smtpServer = "localhost" adminEmail = "admin@YOURBLOG.com"/>
		</BlogProviders>

	<!-- Checkout DottextHelper for hashing passwords -->
	<UseHashedPasswords>true</UseHashedPasswords>
    
	<!-- Globally control access to web services -->
	<AllowServiceAccess>true</AllowServiceAccess>
  
	<AllowImages>true</AllowImages>
  
	<!-- Globally control use of XHTML -->
	<UseXHTML>true</UseXHTML>
   
	<ItemCount>25</ItemCount>
 
	<!-- Server Time Zone -->
	<ServerTimeZone>-5</ServerTimeZone>

</BlogConfigurationSettings>

	<appSettings>
		<!-- Admin Stuff -->
		<add key="Admin.DefaultTemplate" value="~/Admin/Resources/PageTemplate.ascx" />
		<add key="Admin.DownlevelTemplate" value="~/Admin/Resources/PageTemplate.ascx" />
		<add key="Admin.DefaultContent" value="PageContent" />
		
		<!-- Aggregate Blog Stuff -->
		<add key="AggregateTitle" value = "A .Text Community" />
		<add key="AggregateUrl" value = "http://localhost/Subtext.Web" />
		<add key="AggregateDescription" value = ".NET by .Text" />
		<add key="AggregateHost" value = "localhost" />

		<!--UI Text -->		
		<add key="PostCollection" value = "Post Categories" />
		<add key="ArticleCollection" value = "Article Categories" />
		<add key="ImageCollection" value = "Image Galleries" />
		<add key="Archives" value = "Archives" />
					
	</appSettings>

	<system.web>
	
	<!-- Subtext is not yet globalized. This should keep things clean for now -->
	<globalization culture="en-US" />	
	
	<!--We do not use session in .Text -->
	<sessionState mode="Off" />
	
	<!-- We allow larger uploads in the galleries -->
	<httpRuntime  executionTimeout="90"   maxRequestLength="819200" useFullyQualifiedRedirectUrl="false" />

	<!-- We check all comment/public inputs -->	
	<pages validateRequest="false" autoEventWireup = "true"/>

	<compilation defaultLanguage="c#" debug="true"/>
	<customErrors mode = "RemoteOnly"  defaultRedirect = "error.aspx"/>
	<authentication mode="Forms">
		<forms name=".SubtextCookie" loginUrl="login.aspx" protection="All"  timeout="90" />
	</authentication> 

	<httpHandlers>
		<!-- Can not see to load asmx like .aspx, since we will grap all requests later, make sure these are processed by their default factory -->
		<add verb="*" path="*.asmx" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
			
		<!--Since we are grabbing all requests after this, make sure Error.aspx does not rely on .Text -->
		<add verb="*" path="Error.aspx" type="System.Web.UI.PageHandlerFactory" />	
			
		<!--This will process any ext mapped to aspnet_isapi.dll -->
		<add verb="*" path="*" type="Subtext.Common.UrlManager.UrlReWriteHandlerFactory,Subtext.Common" />
	</httpHandlers>   
	
	<httpModules>
		<add name="ServiceRouter" type= "Subtext.Web.Modules.BlogServiceModule, Subtext.Web" />
	</httpModules>
		
	<browserCaps> 
		<!--NETSCAPE 6 & 7 --> 
		<case match="^Mozilla/5\.0 \([^)]*\) (Gecko/[-\d]+ )?Netscape[6|7]/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)).*"> 
			tagwriter=System.Web.UI.HtmlTextWriter 
			browser=Netscape 
			version=${version} 
			majorversion=${major} 
			minorversion=${minor} 
			frames=true 
			tables=true 
			cookies=true 
			javascript=true 
			javaapplets=true 
			ecmascriptversion=1.5 
			w3cdomversion=1.0 
			css1=true 
			css2=true 
			xml=true 

		<filter match="^b" with="${letters}"> 
			beta=true 
		</filter> 
	</case> 
			
	<!-- MOZILLA --> 
	<case match="^Mozilla/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)).*"> 
		css1=true 
		
		<!-- is this negating? confirm -->
		<case match="^[5-9]\." with="${version}">
			css2=true 
			tagwriter=System.Web.UI.HtmlTextWriter
		</case> 
	</case> 
  </browserCaps> 
		
		
	</system.web>
</configuration>
