<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Subtext.MasterPages.TemplateFile" value="~/PageTemplate.ascx" />
		<add key="Subtext.MasterPages.DefaultContent" value="MPContent" />
	</appSettings>

	
	<system.web>
		<!-- Subtext is not yet globalized. This should keep things clean for now -->
		<globalization culture="en-US" />	
		
		<!--We do not use session in Subtext. This should not be changed. -->
		<sessionState mode="Off" />

		<!-- We check all comment/public inputs -->	
		<pages validateRequest="false" autoEventWireup = "true"/>

		<compilation defaultLanguage="c#" debug="true"/>
		
		<customErrors mode="RemoteOnly"  defaultRedirect="~/error.aspx" />
		
		<authentication mode="None" />	
	</system.web>
</configuration>