/*
------------------------------
    Impromptu's
------------------------------
*/
.jqifade{
    position: absolute; 
    background-color: #aaaaaa; 
}
div.jqi{ 
    width: 400px; 
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
    position: absolute; 
    background-color: #ffffff; 
    font-size: 11px; 
    text-align: left; 
    border: solid 1px #eeeeee;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 7px;
}
div.jqi .jqicontainer{ 
    font-weight: bold; 
}
div.jqi .jqiclose{ 
    position: absolute;
    top: 4px; right: -2px; 
    width: 18px; 
    cursor: default; 
    color: #bbbbbb; 
    font-weight: bold; 
}
div.jqi .jqimessage{ 
    padding: 10px; 
    line-height: 20px; 
    color: #444444; 
}
div.jqi .jqibuttons{ 
    text-align: right; 
    padding: 5px 0 5px 0; 
    border: solid 1px #eeeeee; 
    background-color: #f4f4f4;
}
div.jqi button{ 
    padding: 3px 10px; 
    margin: 0 10px; 
    background-color: #2F6073; 
    border: solid 1px #f4f4f4; 
    color: #ffffff; 
    font-weight: bold; 
    font-size: 12px; 
}
div.jqi button:hover{ 
    background-color: #728A8C;
}
div.jqi button.jqidefaultbutton{ 
    /*background-color: #8DC05B;*/
    background-color: #BF5E26;
}
.jqiwarning .jqi .jqibuttons{ 
    background-color: #BF5E26;
}

/*
------------------------------
    impromptu
------------------------------
*/
.impromptuwarning .impromptu{ background-color: #aaaaaa; }
.impromptufade{
    position: absolute;
    background-color: #ffffff;
}
div.impromptu{
    position: absolute;
    background-color: #cccccc;
    padding: 10px; 
    width: 300px;
    text-align: left;
}
div.impromptu .impromptuclose{
    float: right;
    margin: -35px -10px 0 0;
    cursor: pointer;
    color: #213e80;
}
div.impromptu .impromptucontainer{
    background-color: #213e80;
    padding: 5px; 
    color: #ffffff;
    font-weight: bold;
}
div.impromptu .impromptumessage{
    background-color: #415ea0;
    padding: 10px;
}
div.impromptu .impromptubuttons{
    text-align: center;
    padding: 5px 0 0 0;
}
div.impromptu button{
    padding: 3px 10px 3px 10px;
    margin: 0 10px;
}

div.jqi h2 
{
    margin: 0;
    padding: 0;
}