body {
	font-size : small;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-left : 30px;
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #D9D6CB;
}

img
{
	border: 0px;
}

td
{
	font-size: small;
}

a
{	
	color : #223355;
	text-decoration: none;
}

a:hover {	
	text-decoration: underline;
}

h1 {	
	margin : 0px;
	padding-top : 5px;
	font-size : 1.8em;
}

h1 a:visited,
h1 a:active,
h1 a:link,
h1 a:hover {
	color : #FFF;
	/*margin-left : 10px;*/
	margin-top : 10px;
	text-decoration : none;
}

h2 {
	margin-top : 10px;
	font-size : 1em;
}

h5 
{
	margin: 0px;
	padding: 0px;
}

#top {
	background-color : #20375f;
	height: 75px;
	vertical-align: middle;	
}

#top td
{
	color: white;
}

#sub
{
	text-align: right;
	background-color: black;
	color: #CCCCCC;
	font-size: 0.8em;
	padding: 4px;
}

.headermaintitle
{
	font-family: "Trebuchet MS";
}

#tagline {		
	color : #FFFFFF;
	font-size : 1em;
	margin : 0px;
	background-color : #0000FF;
	padding : 5px;
}

p.date img {
	vertical-align : middle;
}

p.date {
	font-size : 1.2em;
	font-weight : bold;	
	margin-bottom : 0px;
	padding : 2px 0px;
	color : #AAAAAA;
	text-align: right;
}

p.date span {
	background-color : #FFF;
}
p.date a
{
	color: #888888;
}

blockquote {
	background-color: #EEEEEE;
	border: 0px;
	border-left: 18px solid #CCCCCC;
	padding: 4px;
	margin: 0px;
	
}

#leftmenu {
	position : relative;
	left : 0px;
	width : 180px;
	height: 100%;	
	padding: 0px;
	padding-bottom : 5px;
}

#leftmenu h3 {
	font-size : 1em;
	margin : 0px;
	padding : 4px;
	border-bottom : 1px solid #BBBBBB;	
}

#leftmenu ul {
	list-style : none;
	margin : 0px;	
	padding : 0px;
	margin-left : 8px;
	margin-bottom : 10px;
}

#leftmenu li {
	display : inline;
}

#leftmenu a:active,
#leftmenu a:visited,
#leftmenu a:link {
	display : block;
	color : #000;
	text-decoration : none;	
	margin-right : 0px;
	padding : 2px;
}

#leftmenu a:hover,
#leftmenu a.active {
	background-color : #CCD5E0;
}

#main {
}

#footer {
	margin : 0px;	
	padding-top : 5px;
	text-align : center;
	font-size : 0.7em;
}

input.text {
	width : 300px;	
}

textarea {
	width : 300px;
	height : 200px;	
}

#comments h4 span {
	color : #999;
}

#comments h4 {
	margin : 0px;
	font-size : 0.9em;
}

p {
	margin : 0px;
	margin-bottom: 14px;
}

h3 {
	font-size : 1.2em;
	border-bottom : 1px solid #AAA;
}

#relatedlinks ul {
	list-style : none;
	margin-left : 10px;
	padding : 0px;
}

.post
{
	border: 1px solid #CCCCCC;
	border-bottom-width: 2px;
	border-right-width: 2px;
	padding: 4px;
	margin-bottom: 28px;
}

.post h5, .post h2
{
	font-size: 1.5em;
	margin: 0px;
	margin-bottom: 4px;
}

#comments .post h2
{
	font-size: .9em;
}

.post .postfoot
{
	margin: 0px;
	margin-top: 14px;
	color: #AAAAAA;
	border-top: 1px solid #DDDDDD;
	font-size: 0.8em;
	height: 17px;
}
#comments .post 
{
	margin-left:60px;
}
pre
{
	margin: 0px;
	margin-left: 22px;
	font-size: 1.0em;
}
.Textbox, textarea
{
	border: 1px solid #AAAAAA;
	width: 100%;
}
.button
{
	border: 1px solid #AAAAAA;
	background-color: #CCD4E0;
}
input, textarea
{
	font-family: Verdana, Geneva, Arial, Sans-Serif;
	font-size: 10px;
}

.Framework
{
	border: 1px solid black;
	background-color: #EEEEEE;
}
.MainCell
{
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
	background-color: White;
	vertical-align: top;
}
.LeftCell
{
	width: 200px;
	vertical-align: top;
}
.FooterCell
{
	vertical-align: top;
}

div.news
{
	padding: 0 4px 4px 6px;
}

#leftmenu #tag-cloud 
{
	font-size: 1em;
}

#leftmenu #tag-cloud li, #leftmenu #tag-cloud li a
{
	display: inline;
}

/* ------------- {search color scheme} -------------- */
#searchResults ul li
{
	color: #ffba27;
}

/* very light gray */
#search input.searchterm, #search #searchResults
{
	background-color: #f6f6f6;
}

/* Border dark gray */
#search input.searchterm, #search #searchResults
{
	border-color: #ddd;
}

/* ------------- {search layout} -------------- */
#search
{
	padding: 0;
	margin: 0 0 5px 0;
	width: 100%;
	float: none;
}

#search input
{
	margin-left: 5px;
	padding: 0;
}

#search input.searchterm
{
	width: 100px;
	border: solid 1px #444;
}

#searchResults
{
	width: 500px;
	position: absolute;
	top: 18px;
	left: 0px;
	text-align: left;
}

#searchResults div.innerbox
{
	background-color: #f6f6f6;
	padding: 10px;
}

a.closeSearch
{
	position: absolute;
	top:0;
	right: 4px;
	display: block;
}