<cruisecontrol>
	<project name="SubText">
		<workingDirectory>E:\CCNET-Projects\workingFolder\Subtext</workingDirectory>
		<artifactDirectory>E:\CCNET-Projects\artifact\Subtext</artifactDirectory>
		
		<webURL>http://192.168.123.104/default.aspx?_action_ViewProjectReport=true&amp;server=local&amp;project=SubText</webURL>
		
		<modificationDelaySeconds>600</modificationDelaySeconds>
		
		<!-- SVN configuration -->
		
		<sourcecontrol type="svn">
			<executable>C:\Program Files\Subversion\bin\svn.exe</executable>
			<trunkUrl>https://svn.sourceforge.net/svnroot/subtext/trunk</trunkUrl>
			<workingDirectory>E:\CCNET-Projects\workingFolder\Subtext</workingDirectory>
			<autoGetSource>true</autoGetSource>
		</sourcecontrol>


   <labeller type="defaultlabeller">
     <prefix>1.0.4.</prefix>
     <incrementOnFailure>false</incrementOnFailure>
   </labeller>


		<tasks>
		
			<!-- Build configutation -->
		
			<nant>
				<executable>C:\Program Files\NAnt\bin\NAnt.exe</executable>
				<baseDirectory>SubtextSolution</baseDirectory>
				<buildFile>SubText-CCNET.build</buildFile>
				<buildArgs>-D:MbUnit.exe="C:\Program Files\MbUnit\MbUnit.Cons.exe" -D:NCover.exe="C:\Program Files\NCover\NCover.Console.exe" -D:fxcop.exe="C:\Program Files\Microsoft FxCop 1.35\FxCopCmd.exe" -D:ncoverexplorer.exe="C:\Program Files\NCoverExplorer\NCoverExplorer.Console.exe"</buildArgs>
				
				<targetList>
					<target>TestAndCover</target>
					<target>reporting</target>
				</targetList>
				
			</nant>
						
		</tasks>
		
		
		<publishers>
			<merge>
				<files>
					<file>E:\CCNET-Projects\workingFolder\Subtext\logs\ncover.xml</file>
					<file>E:\CCNET-Projects\workingFolder\Subtext\logs\unittest.xml</file>
					<file>E:\CCNET-Projects\workingFolder\Subtext\logs\ccnet-fxcop.xml</file>
				</files>
			</merge>
			<xmllogger/>
			
			<email from="buildmaster@subtextproject.com" mailhost="smtp.fastwebnet.it" includeDetails="TRUE">
				<users>
				
					<!-- Buildmaster -->
				
					<user name="simo" group="buildmaster" address="simo-dev@piyosailing.com"/>
					
					<!-- Developers -->
					
					<user name="haacked" group="developers" address="haacked@gmail.com"/>
					<user name="ussherm" group="developers" address="steveharman@gmail.com"/>
				</users>
				<groups>
					<group name="developers" notification="change"/>
					<group name="buildmaster" notification="always"/>
				</groups>
			</email>
			
		</publishers>
		
		
		
		<externalLinks>
			<externalLink name="Project Site" url="http://www.subtextproject.com" />
			<externalLink name="Subtext SF Dashboard" url="http://sourceforge.net/projects/subtext" />
			<externalLink name="Bug Tracker" url="http://sourceforge.net/tracker/?group_id=137896&amp;atid=739979" />
			<externalLink name="Forum" url="http://sourceforge.net/forum/forum.php?forum_id=464968" />
		</externalLinks>






		
	</project>
</cruisecontrol>