<cruisecontrol>
	<project name="SubText">
		<workingDirectory>C:\CCNET-Projects\workingFolder\Subtext</workingDirectory>
		<artifactDirectory>C:\CCNET-Projects\artifact\Subtext</artifactDirectory>
		
		<!-- SVN configuration -->
		
		<sourcecontrol type="svn">
			<executable>C:\Program Files\Subversion\bin\svn.exe</executable>
			<trunkUrl>https://svn.sourceforge.net/svnroot/subtext/trunk</trunkUrl>
			<workingDirectory>C:\CCNET-Projects\workingFolder\Subtext</workingDirectory>
			<autoGetSource>true</autoGetSource>
		</sourcecontrol>

		<tasks>
		
			<!-- Build configutation -->
		
			<nant>
				<baseDirectory>SubtextSolution</baseDirectory>
				<buildFile>subtext.build</buildFile>
			</nant>
			
			
			
		</tasks>
		
	</project>
</cruisecontrol>