<cruisecontrol>
	<project name="SubText">
		<workingDirectory>C:\CCNET-Projects\workingFolder\Subtext</workingDirectory>
		<artifactDirectory>C:\CCNET-Projects\artifact\Subtext</artifactDirectory>
		
		<!-- SVN configuration -->
		
		<sourcecontrol type="svn">
			<executable>C:\Program Files\Subversion\bin\svn.exe</executable>
			<trunkUrl>https://svn.sourceforge.net/svnroot/subtext/trunk</trunkUrl>
			<workingDirectory>C:\CCNET-Projects\workingFolder\Subtext</workingDirectory>
			<autoGetSource>true</autoGetSource>
		</sourcecontrol>

		<tasks>
		
			<!-- Build configutation -->
		
			<nant>
				<executable>C:\Program Files\NAnt\bin\NAnt.exe</executable>
				<baseDirectory>SubtextSolution</baseDirectory>
				<buildFile>SubText-CCNET.build</buildFile>
			</nant>
						
		</tasks>
		
		
		<publishers>
			<merge>
				<files>
					<file><!-- MbUnit file --></file>
					<file><!-- NCover File --></file>
					<file><!-- FxCop File --></file>
				</files>
			</merge>
		</publishers>
		
		
		<externalLinks>
			<externalLink name="Bug Tracker" url="http://somewhere" />
			<externalLink name="Forum" url="http://somewhere" />
			<externalLink name="Project Site" url="http://www.subtextproject.com" />
		</externalLinks>


		
	</project>
</cruisecontrol>