table 
{
	border-collapse: collapse;
}

/********* DropCap **********
Apply to the first letter of a post. 
Makes a nice magazine effect.

Make sure to overide border, font, etc... choices.
*/
.dropcap 
{
	float: left;
	font: 4em georgia, helvetica, verdana, arial, sans-serif;
	border: solid 1px;
	padding: 5px;
	margin-right: 5px;
}


/********* Image Drop Shadow **********
Applies a nice dropshadow to a block element.
Must be combined with .innerbox.

Sample usage:
<div class="dropshadow"><div class="innerbox">Text or image</div></div>

*/
.dropshadow
{
	float:left;
	clear:left;
	background: url(../../images/shadowAlpha.png) no-repeat bottom right !important;
	background: url(../../images/shadow.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;
	display: block;
}

.innerbox
{
	position:relative;
	bottom: 6px;
	right: 6px;
	border: 1px solid #999999;
	padding: 4px;
	margin: 0px 0px 0px 0px;
	display: block;
}

.innerbox
{
	/* IE5 hack */
	\margin: 0px 0px -3px 0px;
	ma\rgin:  0px 0px 0px 0px;
}

/* This applies to debug information when compiled as a #DEBUG release. */
div.debug
{
	font-size: x-small;
	width: 200px;
	position: absolute;
}

/********* PrintIcon **********
Applies a print icon to a print link.

Sample usage:
<a class="printIcon"...></a>

*/
a.printIcon
{
	background: url('../../images/printer.png') no-repeat top left;
	padding-bottom: 4px;
}

a.printIcon span
{
	background: url('../../images/printer.png') no-repeat top left;
	padding-left: 17px;
}

/********* ShareIcon **********
Applies a share-icon to an element with the shareIcon class.
http://shareicons.com/

Sample usage:
<a class="shareIcon"...></a>

*/
.shareIcon
{
	background: url('../../images/share-icon-16x16.png') no-repeat center left;
}

/********* Gravatar **********
This is an avatar thumbnail displayed next to a blog post.

Sample usage within comments.ascx:
<asp:Image runat="server" id="GravatarImg" visible="False" class="gravatar"></asp:Image>
*/
img.avatar
{
	float: left;	
	width: 50px;
	padding: 5px;
	border: 0;
	display: block;
}

.accessKey
{
	text-decoration: underline;
}

/********* Pullout **********
A magazine layout box that floats right. Good for emphasizing 
a point in a blog post.

USE THIS IN THE CONTENT OF A BLOG POST

Sample usage.
<span class="pullout">It is indeed a fact</span>
*/
.pullout
{
	display: block;
	width: 30%;
	padding: 10px;
	background-color: #ddd;
	float: right;
	font: bold 1em arial, helvetica, sans-serif;
	text-align: left;
	letter-spacing: 0.05em;
	margin: 5px;
	clear: both;
	border: solid 1px;
}

.pullout .alt
{
	float: left;
}

/* blockquote styling */
blockquote.withline   
{
	text-align: justify; 
	padding: 5px;
	border-left: 1px solid #9ACD32;
}


/********* form **********
Styling for a Form. Assumes use of dl for the form.

<dl class="form">
*/
dl.form dt
{
	height: 18px;
	margin-top: 5px;
}

dl.form dd
{
	margin-left: 0;
}

dl.form input
{
	width: 300px;
}

dl.form textarea
{
	width: 400px;
	height: 200px;
}

label.required
{
	font-weight: bold;
}

/******** horizontal list ************
Used to make an ordered or unordered list horizontal.
*/
ul.horizontal
{
	list-style: none;
}

ul.horizontal li
{
	display: inline;
}

.postTitle, .postTitleDate
{
	clear: both;
}

.clear { clear: both; }
.left { float:left; }
.right { float: right; }
.block { display: block; }
.inline { display: inline; }

/*--------{tags}-------------*/
#tag-cloud
{
	font-size: 1em;
	margin: 0;
	padding: 0;
}

#tag-cloud li
{
	display: inline;
	list-style-type: none;
}

#tag-cloud li, #tag-cloud li a
{
	display: inline;
}

#tag-cloud li
{
	padding: 2px 3px;
}

.tag-style-1
{
	font-size: .8em;
	font-weight: normal;
}
.tag-style-2
{
	font-size: 1em;
	font-weight: normal;
}
.tag-style-3
{
	font-size: 1.2em;
	font-weight: bold;
}
.tag-style-4
{
	font-size: 1.4em;
	font-weight: normal;
}
.tag-style-5
{
	font-size: 1.6em;
	font-weight: bold;
}
.tag-style-6
{
	font-size: 1.8em;
	font-weight: bold;
}
.tag-style-7
{
	font-size: 2em;
	font-weight: bold;
}

/*---------{related search results}--------------*/
#related-results 
{
	border: solid 1px #777;
	margin: 0;
	padding: 0;
}

#related-results h2
{
	margin: 0;
	background-color: #ffa;
	padding: 4px;
	border-top: solid 1px #ffd;
	border-right: solid 1px #ffd;
	border-left: solid 1px #ffd;
	border-bottom: solid 1px #dc0;	
}

#related-results div.content
{
	padding: 8px;
}

#related-results ul li 
{
	margin-left: 15px;
}

#related-results a.close 
{
	float: right;
	display: block;
	width: 32px;
	height: 24px;
	background: transparent url(../../images/icons/cross.png) no-repeat center center;
}

#related-results a.close:hover 
{
	background-color: #ffc;
}

#related-results p 
{
	margin-top: 0;	
}

#related-results span.search-term 
{
	font-style: italic;	
	color: #009;
	font-size: 1.1em;
}

a.more-results 
{
	font-weight: bold;
	font-style: italic;
}

/*---------{search}--------------*/
#search-progress
{
	background: url(../../images/loaders/subtext-loader.gif) no-repeat;
	width: 32px;
	height: 32px;
	margin: 4px auto;
}

#searchResults
{
	z-index: 100;
}

#searchWrapper
{
	position: relative;
	width: 100%;
}

a.closeSearch
{
	position: absolute;
	top:0;
	right: 4px;
	display: block;
}

/*---------{comments}--------------*/
.commentInfo
{
	clear: left;
}

a.edit-comment
{
	background: transparent url(../../images/icons/edit.gif) no-repeat scroll left center;
	padding-left:20px;
}

/*---------{buttons}--------------*/

.btn { cursor:pointer; }