#forgotPasswordPage input.button
{
	margin-right: 46px;
	margin-top: 10px;
	float: right;
}

.salutation
{
	font-size: 1.2em;
	color: #364ab0;
}

#forgotPasswwordPage fieldset
{
	width: 380px;
}

span.error
{
	display: block;
}