body
{
	padding: 32px;
	margin: 100px auto 0 auto;
	font-size: small;
	background: #eee;
	width: 320px;
	color: #000;
	font-family: verdana, arial, sans-serif;
}

div#Main
{
	border: #bbb 1px solid;
	padding: 32px;
	background: #fff;
}

div#Heading
{
	padding: 0 0 18px 0;
	font-weight: bold;
	font-size: 150%;
	margin: 0px;
	color: #009;
	font-family: "trebuchet ms" , "" lucida grande "" , verdana, arial, sans-serif;
}

#logo
{
	width: 261px;
	height: 85px;
	background: url(../../images/SubtextLogo.png) no-repeat;
}

* html #logo
{
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/SubtextLogo.png", sizingMethod="crop");
}

h2
{
	padding: 0px;
	font-weight: bold;
	font-size: 105%;
	margin: 0px 0px 8px;
	text-transform: uppercase;
	color: #009;
	border-bottom: #ddd 1px solid;
	font-family: "trebuchet ms" , "" lucida grande "" , verdana, arial, sans-serif;
}

p
{
	padding: 6px 0 6px 0;
	margin: 0px;
}

a:link, a:visited
{
	color: #002c99;
	text-decoration: none;
}

a:hover
{
	color: #cc0066;
	background-color: #f5f5f5;
	text-decoration: underline;
}

label
{
	display: block;
	font-weight: bold;
	font-size: 9px;
	margin: 6px 0px 2px;
	text-transform: uppercase;
	color: #999;
}

input.Textbox
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	width: 260px;
	padding-top: 2px;
	font-family: verdana, arial, sans-serif;
}

a.Button
{
	border: solid 1px #999;
	padding: 3px 12px 3px 12px;
	display: block;
	font-weight: bold;
	background: #000999;
	float: left;
	color: #fff;
}

.LoginButton
{
	border: solid 1px #999;
	padding: 3px 12px 3px 12px;
	margin-top: 8px;
	border-top: #999 1px solid;
	display: block;
	font-weight: bold;
	background: #000999;
	float: left;
	color: #fff;
}

.LoginButton:hover
{
	color: yellow;
}

span.ErrorMessage
{
	display: block;
	font-weight: bold;
	color: #904;
}

.error {
    font-weight: bold;
    color: #c00;
}

.success {
    font-weight: bold;
    color: #0c0;
}

p.Small
{
	margin-top: 12px;
	font-size: 85%;
}

.remember
{
	margin: 4px 0px 0px 70px;
}

.clear
{
	clear: both;
}

.emailPassword
{
	margin-top: 2px;
	display: block;
}

.LoginFloat Label
{
	margin: 0;
	color: #000;
	width: 80px;
	display: inline;
	vertical-align: text-top;
}

.LoginFloat
{
	padding-left: 10px;
}