body
{
	background: url(../images/headerGRADIENT_Tall.gif) repeat-x left top;
	font-family: tahoma;
	color:#000;
	margin: 0;
	padding: 0;
}

form
{
	padding: 0;
	margin: 0;
}

#header
{
	height: 69px;
	margin: 0;
	padding: 0;
	border: solid 1px transparent; /* A hack for Firefox */
}

#header h1
{
	color: #fff;
	margin: .5em 0 .5em 1em;
}

/******* Generic Styles ****/
a.helpLink img
{
	padding: 0;
	margin: 0;
	border: none;
}

.clear 
{
	clear: both;
}

.inline, label.inline
{
	clear: none;
	display: inline;
}

a:link
{	
	color : #223355;
	text-decoration: none;
}

a:visited
{
	color: #6699CC;
	text-decoration: none;
}

a:hover 
{	
	color: #BF5010;
}

a.img, a.img, a.img
{
	border: none;
}

.maintitle
{
	color : #BF5010;
}

.maintitle:visited
{
	color : #BF5010;
}

#subtitle
{
	color: #6699CC;
	margin-top: -15px;
	padding-left: 120px;
}

#subtitle h2
{
	font-size: 1em;
}

h2
{
	font-size: 1.25em;
}

h3
{
	font-size: 1.0em;
}

h4
{
	font-size: 0.8em;
}

h2 a:visited,
h2 a:active,
h2 a:link
{
	color : #BF5010;
	/*margin-left : 10px;*/
	margin-top : 10px;
	text-decoration : none;
}

h2 a:hover 
{
	color: #6699CC;
	margin-top : 10px;
	text-decoration : none;
}

blockquote 
{
	margin-left: 18px;
	font-family: verdana, helvetica, sans-serif;
	font-family: verdana, helvetica, sans-serif;
	font-size: .95em;
	line-height: 1.3em;
	padding: 10px;
	background-color: #F9F9FC;
}

img
{
	border: 0px;
}

.caption
{
	font-family: arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.update
{
	color: red;
}

/*--------- {pager}--------------*/
div.Pager  
{
	padding-bottom: 4px;
	margin-bottom: 8px;
	float: right;
}

div.Pager div 
{
	float: left;
	margin: 1px 2px 1px 2px;
}

div.Pager a:link, 
div.Pager a:visited  
{
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 1px 2px 1px 2px;
	float: left;
	display: block;
	clear: none;
}

/*----------- {form style}-----------*/
label 
{
	color: #000;
	background: inherit;
}

input.submit:active, a.button:active, .button:active
{
	border: 3px double #CCCCCC;
	border-top-color: #999999;
	border-left-color: #999999;
} 

input, textarea
{
	font-family: verdana, geneva, arial, sans-serif;
	font-size: 1.2em;
}

textarea 
{
	width : 300px;
	height : 200px;	
}

body fieldset
{
	padding-top: 8px;
	padding-bottom: 8px;
}

fieldset div
{
	margin-top: 4px;
}

div.form label, fieldset label
{
	display: block;
	clear: both;
	width: 150px;
	margin: 0;
	padding: 0;
	font-size: .8em;
	margin-bottom: -4px;
}

div.form label.inline, fieldset label.inline
{
	display: inline;
	width: auto;
}

fieldset textarea, fieldset input, input.text, textarea
{
	background-color: #ffffe3;
}

div.form textarea, div.form input, fieldset textarea, fieldset input
{
	width: 250px;
	color: #557;
}

div.button-row input
{
	color: #000;
	width: auto;
	font-size: 1.2em;
}

/* -------------{messaging}----------------*/

div.MessagePanel 
{
	color: #333333;
	background: #EEEEEE;
	border: 1px dashed #CCCCCC;
	padding: 12px;
	font-weight: bold;
}

div.ErrorPanel 
{
	color: #660033;
	border: 1px dashed #DBDB64;
	padding: 12px;
	font-weight: bold;
	background-color: #ffffcc;
	background-image: url(../../images/icons/ico_critical.gif);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

div.ErrorPanel img,
div.MessagePanel img 
{
	float: left;
}

div.ErrorPanel div,
div.MessagePanel div
{
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 44px;
}

/******* {message styles} ***********/
.warning, .error
{
	color: #cc0000;
}

strong.warning
{
	text-transform: uppercase;
	display: block;
}


.error
{
	font-weight: bold;
}

/******** LAYOUT *******************/
#main 
{
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 700px;
}

#menu 
{
	font-variant: small-caps;
	height: 20px;
	margin: 0;
	padding: 0;
	list-style: none;
	padding-bottom: 1px;
	border-bottom: solid 1px #ccc;
	background-color: #ecf7fd;
}

#menu #last a 
{
	border-right: none;
}

#menu a 
{
	border-right: 1px solid #ccc;
	color: #000;
	float: left;
	padding: 1px 10px;
	text-decoration: none;
}

#menu li 
{
	display: inline;
	margin: 0;
	text-align: center;
}

#menu li a:hover
{
	background-color: #ffffdf;
	color: #000;
}

#menu li.current a
{
	background: #fff;
	color: #333;
	border-bottom: solid 1px #fff;
}

#content
{
	line-height: 1.6em;
	min-height: 500px;
	margin: 20px 25px 0 25px;
}

#footer 
{
	clear: both;
}

#loginStatus
{
	float:right;
	font-size: .7em;
}

#hostAdminNameText
{
	font-weight: bold;
}
#logoutLinkText
{
	font-weight: bold;
}

.success
{
	color: Navy;
}

.Pager a.Current
{
	border-right: solid 1px #555;
	border-left: solid 1px #555;
	font-weight: bold;
	font-size: 1.2em;
}

/*-------------{table styles}--------------*/
table
{
	border-collapse: collapse;
}

table tr.header
{
	background-color: #ffc;
}

table.log
{
	border: solid 1px #ddd;
}

table.log .pre-header input, table.log .pre-header label
{
	float: left;
}

table.log .pre-header input.button
{
	float: right;
}

table.log th.logger
{
	width: 200px;
}

table.log tr
{
	vertical-align: top;
}

table.log td, table.log th
{
	font-size: .8em;
	padding: 5px;
	text-align: left;
}

table.log td, table.log th
{
	border: solid 1px #eee;
}

table.log td.date
{
	font-size: smaller;
}

table tr.alt
{
	color: inherit;
	background: #ffffef;
}

table tr
{
	color: inherit;
	background: #fff;
}

table tr.selected
{
	background-color: #e7f4fe;
}

fieldset table
{
	border: none;
}

#change-password
{
	width: 400px;
	margin: 10px auto;
}

#blogs-editor table
{
	margin: 10px auto;
}

#blogs-editor #new-blog
{
	width: 580px;
	margin: 10px auto;
}

#blogs-editor #new-blog fieldset
{
	width: 570px;
}

#new-blog #blog-info input
{
	width: 400px;
}

/*----- section -------*/
div.section
{
	float: left;
}

#user-info
{
}

#user-info ul
{
	list-style-type: none;
}

/* --------- instructions ----------- */
.field-instructions
{
	font-size: .8em;
}

.clickable
{
	cursor: pointer !important;
	cursor: hand;
}

.action
{
	font-size: .7em;
	color: #00c;
}

.action:hover
{
	background-color: #fff9dd;
	color: #c00;
}

.highlight
{
	background-color: #fff9dd;
}

#ownereditor
{
	margin: -2px 0;
	padding: 4px;
}

p.field-instructions
{
	line-height: 1.1em;
	margin: 4px 0 4px;
	color: #333;
}



/*---------------- {user-chooser} -----------*/
#ownereditor h3
{
	margin: 0;
	font-weight: normal;
	display: inline;
	margin-right: 10px;
}

#user-chooser #ownereditor div fieldset
{
	width: 300px;
	float: left;
}

#user-chooser #ownereditor div #create-user	
{
	width: 260px;
	float: right;
}

#user-chooser table.users
{
	width: 100%;
}

/*pager*/
#user-chooser table.users tr.gridPagerStyle table, #user-chooser table.users tr.gridPagerStyle td
{
	margin: 0;
	padding: 0;
}

#user-chooser table.users tr.gridPagerStyle table
{
	float: right;
}

#user-chooser table.users tr.gridPagerStyle td
{
	padding: 0 4px;
	font-size: 1em;
}

#user-chooser table.users tr.gridPagerStyle td span
{
	font-weight: bold;
}

#user-chooser .inline
{
	margin-right: 10px;
}