body
{
	background: url(../images/headerGRADIENT_Tall.gif) repeat-x left top;
	font-family: tahoma;
	color:#000;
	margin: 0;
	padding: 0;
}

form
{
	padding: 0;
	margin: 0;
}

#header
{
	height: 71px;
}

#header h1
{
	color: #fff;
	padding: .5em 0 .5em 1em;
}

/*--------- {pager}--------------*/
div.Pager  
{
	padding-bottom: 4px;
	margin-bottom: 8px;
	float: right;
}

div.Pager div 
{
	float: left;
	margin: 1px 2px 1px 2px;
}

div.Pager a:link, 
div.Pager a:visited  
{
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 1px 2px 1px 2px;
	float: left;
	display: block;
	clear: none;
}

/*----------- {form style}-----------*/
label 
{
	color: #111;
	background: inherit;
	font-size: .8em;
}

label.Block
{
	margin-top: 8px;
	display: block;
	clear: both;
	border: solid 1px red;
}

div.form label, fieldset label
{
	display: block;
	clear: both;
	width: 150px;
	margin: 0;
	padding: 0;
	font-size: .9em;
}

div.form textarea, div.form input, fieldset textarea, fieldset input
{
	width: 250px;
}

div.MessagePanel 
{
	color: #333333;
	background: #EEEEEE;
	border: 1px dashed #CCCCCC;
	padding: 12px;
	font-weight: bold;
}

div.ErrorPanel 
{
	color: #660033;
	background: #FFFFCC;
	border: 1px dashed #DBDB64;
	padding: 12px;
	font-weight: bold;
}

div.ErrorPanel img,
div.MessagePanel img 
{
	float: left;
}

div.ErrorPanel div,
div.MessagePanel div
{
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 44px;
}

/******* {message styles} ***********/
.warning, .error
{
	color: #cc0000;
}

strong.warning
{
	text-transform: uppercase;
	display: block;
}


.error
{
	font-weight: bold;
}

/******* Generic Styles ****/
a.helpLink img
{
	padding: 0;
	margin: 0;
	border: none;
}

.clear 
{
	clear: both;
}

a:link
{	
	color : #223355;
	text-decoration: none;
}

a:visited
{
	color: #6699CC;
	text-decoration: none;
}

a:hover 
{	
	color: #BF5010;
}

a.img, a.img, a.img
{
	border: none;
}

.maintitle
{
	color : #BF5010;
}

.maintitle:visited
{
	color : #BF5010;
}

#subtitle
{
	color: #6699CC;
	margin-top: -15px;
	padding-left: 120px;
}

#subtitle h2
{
	font-size: 1em;
}

h2
{
	font-size: 1.25em;
}

h3
{
	font-size: 1.0em;
}

h4
{
	font-size: 0.8em;
}

h2 a:visited,
h2 a:active,
h2 a:link
{
	color : #BF5010;
	/*margin-left : 10px;*/
	margin-top : 10px;
	text-decoration : none;
}

h2 a:hover 
{
	color: #6699CC;
	margin-top : 10px;
	text-decoration : none;
}

blockquote 
{
	margin-left: 18px;
	font-family: verdana, helvetica, sans-serif;
	font-family: verdana, helvetica, sans-serif;
	font-size: .95em;
	line-height: 1.3em;
	padding: 10px;
	background-color: #F9F9FC;
}

input.text 
{
	width : 300px;
}

textarea 
{
	width : 300px;
	height : 200px;	
}

#comments h4 span 
{
	color : #999;
}

#comments h4 
{
	margin : 0px;
	font-size : 0.9em;
}

.Textbox, textarea
{
	border: 1px solid #AAAAAA;
	width: 100%;
}

input.submit:active, a.button:active, .button:active
{
	border: 3px double #CCCCCC;
	border-top-color: #999999;
	border-left-color: #999999;
} 

input, textarea
{
	font-family: verdana, geneva, arial, sans-serif;
	font-size: 10px;
}

img
{
	border: 0px;
}

.caption
{
	font-family: arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.update
{
	color: red;
}
/******** LAYOUT *******************/
#main 
{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 700px;
}

#menu 
{
	font-variant: small-caps;
	height: 20px;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	padding-bottom: 1px;
	border-bottom: solid 1px #ccc;
	background-color: #ecf7fd;
}

#menu #last a 
{
	border-right: none;
}

#menu a 
{
	border-right: 1px solid #ccc;
	color: #000;
	float: left;
	padding: 1px 10px;
	text-decoration: none;
}

#menu li 
{
	display: inline;
	margin: 0;
	text-align: center;
}

#menu li a:hover
{
	background-color: #ffffdf;
	color: #000;
}

#menu li.current a
{
	background: #fff;
	color: #333;
	border-bottom: solid 1px #fff;
}

#content
{
	line-height: 1.6em;
	min-height: 500px;
	margin: 20px 25px 0 25px;
}

#footer 
{
	clear: both;
}

#loginStatus
{
	float:right;
	font-size: .7em;
}

#hostAdminNameText
{
	font-weight: bold;
}
#logoutLinkText
{
	font-weight: bold;
}

.success
{
	color: Navy;
}

.Pager a.Current
{
	border-right: solid 1px #555;
	border-left: solid 1px #555;
	font-weight: bold;
	font-size: 1.2em;
}

/*-------------{table styles}--------------*/
table
{
	border-collapse: collapse;
	width: 100%;
}

table tr.header
{
	background-color: #ffc;
}

table.log
{
	border: solid 1px #ddd;
	position: relative;
	left: -200px;
	width: 775px;
}

table.log th.logger
{
	width: 200px;
}

table.log tr
{
	vertical-align: top;
}

table td, table th
{
	font-size: .8em;
	padding: 5px;
	text-align: left;
}

table.log td, table.log th
{
	border: solid 1px #eee;
}

table.log td.date
{
	font-size: smaller;
}

table tr.alt
{
	color: inherit;
	background: #ffffef;
}

table tr
{
	color: inherit;
	background: #fff;
}

div.button-row input
{
	width: auto;
}

fieldset table
{
	border: none;
}

/*---------- {plugins-page}-----------*/
#plugins-page fieldset
{
	width: 100%;
}