#navigation{display:none}
#header{display:none;}
.recentcomments{display:none;}
.popposts{display:none;}
#ad{display:none;}
.ado{display:none;}
#search{display:none;}
.linkedin{display:none;}
.previousNext{display:none;}
.share{display:none;}
#commentform{display:none;}
body
{
	/*the entire page*/
	font-size : 0.9em;
	font-family : arial, helvetica, sans-serif;
	background-color : #edf0f5;
}
#container
{
	/* this is the outermost container for Subtext
	all elements reside within here */
	margin : 0px 0px 0px 0px;
	padding : 3px;
	width: 100%;
	border: none;
}
#content .post
{
	/* the container for a single post */
	border: none;
	width: 96%;
	font-family : arial, helvetica, sans-serif;
	font-size: 12px;
}
.post .title
{
	font-size: 2em;
}
.post .body a
{
	color : blue;
	border-bottom : 1px solid  blue;
}
#content .post .body
{
	/* the body of a post */
	width: 96%;
	font-family : arial, helvetica, sans-serif;
}
.comment
{
	/* container for individual comment */
	width: 96%;
	border: none;
	margin-bottom : 3px;
	margin-top : 3px;
}