/*Structure*/
html,body
{
	margin:0;
	padding:0;
}
body
{
	font:75% Georgia, "Times New Roman", Times, serif;
	background-color: #666666;
}
div#header
{
	font-family:verdana, arial, sans-serif;
	margin-top:6px;
	padding-left:10px;
	background:#CCCC66;
	color: black;
}
div#container
{
	width:900px;
	margin:0 auto;
	margin-bottom: 5px;
}
div#navigation
{
	/*background:#FFFF99;*/
	float:left;
	width:200px;
	font-size: 12px;
	padding-top:5px;
	color:black;
}
div#search
{
	background:#DBB570;
	float:left;
	clear:left;
	width:200px;
	font-size: 12px;
	padding-top:7px;
	padding-bottom:6px;
	margin-top:5px;
}
div#extra
{
	/*background:#FFFF99;*/
	float:left;
	clear:left;
	width:200px;
	font-size: 12px;
	padding-top:7px;
	padding-bottom:6px;
	margin-top:5px;
	margin-bottom: 5px;
}
div#footer
{
	line-height:2em;
	background:#CCCC66;
	color: black;
	clear:both;
	font:0.1em;
	margin-top:5px;
	margin-bottom: 5px;
	padding-left:10px;
}

div#content
{
	width:700px;
	float:right;
}
/*end of structure*/
#blogStats
{
	/* the container for statistics for your blog */
	/*margin-left:0px;*/
	
	
}
#header .title
{
	background:#CCCC66;
}
#header .title a
{
	/* page header title */
	font-size: 300%;
	text-decoration: none;
	color: #9E8917;
}
#header .subtitle
{
	/* header subtitle */
	font-size: 150%;
	margin-bottom: 10px;
	padding-left: 30px;
	color: #9E8917;
}
#news
{
	/*container for the news announcement */
}
#news .title
{
	/*title of the news announcement*/
}
#news .newsbody
{
	/* the body of the news announcement */
	background:#F0E1C5;
	padding-bottom: 5px;
	padding-left: 5px;
}


#footer .copyright
{
	/* copyright information in the footer */
	font-size:9px;
	padding-top: 5px;
}
#gallery
{
	/* container for galleries */
}
#gallery .title
{
	/* the title of the gallery */
}
#gallery .description
{
	/* the description of the gallery */
}
#gallery .thumbnails
{
	/* contains all the thumbnails for the gallery */
}
#gallery  .thumbnail
{
	/* specific formatting for each individual thumbnail */
}
#postComment
{
	/* the container for the form where people can input comments */
}
#postComment .title
{
	/* the title of the comment form */
}

#search
{
	/* container for the search box */
	padding-left: 3px;
	vertical-align: middle;
}
#search .searchterm
{
	/* the text box that search terms are typed into */
	color: #030; 
	border: 1px solid #ccc;
	height: 19px;
}
#search .searchButton
{
	/* the button pressed to initiate the search */
	color: #030; 
	border: 3px double #111;
	background: url(images/eye.gif) no-repeat center center;
}
.results .title
{
	font-weight: bold;
	font-size: 1em;
}

.input .fixed, .HIP .input, .Text
{
	color: #030; 
	border: 1px solid #ccc;
	width: 50%;
}
.button{
	border: 3px double #111;
	background: url(images/button_bg.gif) repeat-x;
	font-size: 0.9em;
	font-weight: bold;
	vertical-align : bottom;
	padding: 2px;
}
.button:hover
{
	border: 3px double #f69;
	background: url(images/button_bg.gif) repeat-x;
	font-size: 0.9em;
	font-weight: bold;
	vertical-align : bottom;
	padding: 2px;
	color: red;
}
.links
{
	/* The primary container for each navigation section
	(such as Archives, Categories, etc) */
	background-color: #F0E1C5;
	margin-bottom: 3px;
}
.title
{
	/* The title of each navigation section */
	padding-left: 5px;
	font-size: 1em;
	font-weight: bold;
	background-color: #CCCC99;
	padding-top: 3px;
}
.links ul
{
	/* the styling for unordered lists inside the links container */
	margin-top: 0px;

}
.links ul li
{
	list-style-type: none;
}
.links ul li a:link,
.links ul li a:visited
{
	/* listed items in unordered lists in links */
	text-decoration:none;
	
}
#recentComments
{
	/* container for recent comments control */
	background:#F0E1C5;
}
#recentComments ul
{
	margin-top: 0px;
}
#commentform
{
	background-color: #ADFFB9;
	padding:5px;
	margin-top: 3px;
}
#commentform h3
{
	text-align:center;
	font-size: 150%;
	background-color: gray;
	padding: 5px;
}
#comments
{
	/* comment entry form */	
	margin-bottom: 5px;
	padding-left: 3px;
}
.comments
{
	/*displayed comments*/
	background-color: #ADFFB9;
	padding:5px;
	margin-left: 3px;
}
.comments h2
{
	text-align:center;
	font-size: 150%;
	background-color: magenta;
	padding:2px;
}
blockquote{
	border: 1px solid #fcf; 
	background-color: #ffc;
	font-size: 12px;
}
.livePrev
{
	margin-right: 3px;
	background-color: #ADFFB9;
}
.livePrevTitle
{
	/*title of live comment preview*/
	font-size: 1em;
	color: #CC7733;
	background-color: #7DC185;
	font-weight: bold;
	padding: 3px 0px 3px 0px;
	text-decoration: none;
	text-shadow: 0.2em 0.2em 0.1em #CCC;
}
.commentPreview
{
	margin-top:5px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #ADFFB9;
}
.comment, .livePrev
{
	/* container for individual comment */
	margin-top: 3px;
	margin-bottom: 3px;
}
.comment .title
{
	/* title of comment */
	font-size: 1em;
	color: #CC7733;
	background-color: #7DC185;
	font-weight: bold;
	padding: 3px 0px 3px 0px;
	text-decoration: none;
	text-shadow: 0.2em 0.2em 0.1em #CCC;
}
.comment .author
{
	/* author of comment */
	background-color: #7DC185;
	font-size:10px;
	line-height: 2em;
}
.comment .content
{
	/* main body of comment */
	background-color: #8EDB98;
	padding:5px;
}
.editComment:link,
.editComment:visited
{
	background: url(images/comment_delete.gif) no-repeat;
	padding-left: 18px;
	font-size: 13px;
}
.day
{
	/* container for the view of posts by day */
}
.day .date
{
	/* the date being viewed */
	margin-top:10px;
	margin-bottom:10px;
	display:none;
}
#myLinks
{
	/* container for the MyLinks */
}
#myLinks .title
{
	/* the title of the MyLinks section */
	display:none;
}
#myLinks .links a:link,
#myLinks .links a:visited
{
	/* the links contained in the MyLinks section */
	text-decoration:none;
	font-size: 20px;
}
#myLinks .links
{
	font-size: 17px;
	background:#CCCC66;
}
#myLinks .links .Home
{
	background: url(images/house.gif) no-repeat center center;
	text-decoration:none;
}
#myLinks .links .Syndication
{
	background: url(images/feed.gif) no-repeat center center;
	text-decoration:none;
}
#myLinks .links .atom
{
	background: url(images/transmit_blue.gif) no-repeat center center;
	text-decoration:none;
}
#myLinks .links .Admin
{
	/*background: url(images/key_go.gif) no-repeat center center;*/
	text-decoration:none;
	text-align: center;
}
#myLinks .links .Contact
{
	background: url(images/email_go.gif) no-repeat center center;
	text-decoration:none;
}
#myLinks
{
	
}
.collectiontitle
{
	/*When you click on a moth's archive*/
	background-color: #CCCC99;
	font-weight: bold;
	padding: 4px;
	margin-top:5px;
	margin-left: 3px;
	padding-left: 5px;
	text-align: center;
}
.post
{
	/* the container for a single post */
	margin-top:5px;
	padding-left: 3px;
}
.post .title{
	background-color: #CCCC99;
	font-weight: bold;
	padding-left: 10px;
}
.post .title a
{
	/* the title of a post */
	font-size: 1.5em;
	line-height:1.5em;
	color: #CC7733;
	/* consider image background: url(/images/someimage.gif) no-repeat left top; */
	padding: 3px 0px 3px 0px;
	text-decoration: none;
	text-shadow: 0.2em 0.2em 0.1em #CCC;
}
.post .body
{
	/* the body of a post */
	padding:5px;
	background-color: #FFFFCC;
}
.post .info
{
	/* the footer information of each post */
	background-color: #CCCC99;
	font-size:13px;
	font-family:verdana, arial, sans-serif;
	line-height:2.5em;
	padding-left: 5px;
}
.post .trackback
{	
	/* the trackback / ping area of a post */
}
.editlink
{
	vertical-align: middle;
}
.Required
{
	/*information that should be marked as required */
	color: red;
}
.singleImage
{
	/* container for viewing a single image in the gallery */
}
.singleImage .title
{
	/* title of single image */
}
.singleImage .image
{
	/* image being displayed */
	
}
.share
{
	display: inline;

}
.commentcount a:link,
.commentcount a:visited
{
	background: url(images/comment_add.gif) no-repeat center left;
	padding-left: 18px;
}
.permalink a:link,
.permalink a:visited
{
	background: url(images/perma.gif) no-repeat center left;
	padding-left: 18px;
}
.mailto
{
	background: url(images/email.gif) no-repeat center center;
	text-decoration:none;
}
.deli
{
	background: url(images/book_add.gif) no-repeat center center;
	text-decoration:none;	
}
.digg
{
	background: url(images/icon_world_dynamic.gif) no-repeat center center;
	text-decoration:none;
}
.redd
{
	background: url(images/page_bookmark.gif) no-repeat center center;
	text-decoration:none;
}
.previousNext
{
	/* the links that lead to the next and previous story*/
	background-color: #FFFF99;
	margin-top:5px;
	margin-left: 3px;
	padding: 7px;
	font-size: 12pt;
}
.previousNext .home
{
	display:none;
}
.previousNext a:link,
.previousNext a:visited
{
	color: black;
}
.prev:link,
.prev:visited
{
	background: url(images/action_back.gif) no-repeat center left;
	padding-left: 18px;
}
.next:link,
.next:visited
{
	background: url(images/action_forward.gif) no-repeat center right;
	padding-right: 18px;
}
.relatedlinks
{
	text-align: right;
	margin-top: 3px;
	margin-bottom: 3px;
	padding:5px;
	background-color: #66458A;
}
.relatedlinkstitle
{
	text-align: center;
	font-weight:bold;
	font-size: 150%;
	margin-bottom: 10px;
	background-color: blue;
	padding: 3px;
}
.relateditem a:link,
.relateditem a:visited
{
	text-decoration:none;
	color: black;
}
.relateditem a:hover
{
	background-color: #c0c0c0;
	color: white;
}

#contactForm
{
	margin-left: 3px;
	margin-top: 5px;
	padding: 6px;
	background-color: #66458A;
}

#contactForm .title
{
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 16pt;
	background-color: #c0c0c0;
}