/* Import IE patches */
@import: url("IEPatches.css");

/*###########################################*/
/*#  COMMON ELEMENTS
/*###########################################*/

body, table, form, input, td, th, p, textarea, select, div
{
   font-family: verdana, helvetica, arial;
   font-size: 11px;
}

body
{
   margin: 0;
   padding: 0;
   background: #fff url(http://www.subtextproject.com/portals/_default/skins/subtextproject/images/NavGradient.gif) repeat-x 0 0;
   color: #222;
}

hr
{
   height: 1px;
   border: 1px solid #5C5D5F; 
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
   width: 75%
}

form
{
   padding: 0px;
   margin: 0px;
}

table
{
   border: 0px none #FFFFFF;
   border-collapse: collapse;  
}

table tr
{
   line-height: 1.5em;
}

table th
{
   font-weight: bold;
   text-align: left;
   white-space: nowrap;
}

table td
{
}

table tr.shaded
{
   background: #EBF8FD;
}

table tr.header
{
   background: #A1A3A5;
   color: #0F3EAD;
}

table tr.header2
{
   color: #B1B3B5;
   background: #0F3EAD;
}

table tr.header3
{
   color: #5C5D5F;
   background: #4A98D3;
}

td.percent
{
   width: 75px;
   white-space: nowrap;
   text-align: right;
}

.graphBarNotVisited         { font-size: 2px; border:#9c9c9c 1px solid; background:#df0000; }
.graphBarSatisfactory    { font-size: 2px; border:#9c9c9c 1px solid;  background:#f4f24e; }
.graphBarVisited         { background: #00df00; font-size: 2px; border-left:#9c9c9c 1px solid; border-top:#9c9c9c 1px solid; border-bottom:#9c9c9c 1px solid; }

.statusimage { vertical-align: middle; }

/* --- { links } --------------------------- */
a:link
{
   color: #1050bf;
}

a:visited
{
   color: #4080aa;
}

a:hover 
{  
   color: #bf5010;
}

a.img, a img
{
   border: none;
}

/*###########################################*/
/*#  PAGE STRUCTURE
/*###########################################*/

/* --- [top] ------------------------------- */
#main 
{
   width: 800px;
   position: relative;
   margin: 7px auto;
}

/* --- [header] ---------------------------- */
#header
{
   float: left;
}

#logo a
{
   display: block;
   background: #fff url(http://www.subtextproject.com/portals/_default/skins/subtextproject/images/SubtextLogo_small.png) no-repeat 0 0;
   height: 85px;
   width: 261px;
   float: left;
   margin: 20px 0 0 0;
   cursor: hand;
}

#logo h1, #ccnetlogo h1
{
   display: none;
}

#ccnetlogo a
{
   display: block;
   background: #fff url(http://build.subtextproject.com/ccnet/images/ccnet_logo_onwhite.gif) no-repeat 0 0;
   height: 54px;
   width: 235px;
   float: right;
   margin: 20px 0 0 0;
   cursor: hand;
}

#ccnetdashboardversion
{
   display: block;
   height: 15px;
   width: 100%;
   float: right;
   margin: -30px 0 0 0;
   text-align: right;
}

/* --- [subheader] ------------------------- */
#subheader
{
   clear: both;
   margin-bottom: 15px;
   border-bottom: dotted 1px #555;
}

#breadcrumb
{
   margin-top: 10px;
}

#subheader #breadcrumb
{
   margin: 0;
   padding: 5px 0 5px 0;
}

#subheader #breadcrumb a
{
   text-decoration: none;
   padding: 0 0 5px 0;
}

#subheader #breadcrumb a:hover
{
   border-bottom: solid 4px #999;
}

/* --- [content] --------------------------- */
#mainContent
{
   clear: both;
   padding-top: 15px;
}

#content
{
   float: left;
   width: 630px;
   margin: 0 20px 0 3px;
   line-height: 1.6em;
   min-height: 500px;
}

#content div.container
{
   margin-bottom: 14px;
}

#content span.containerTitle
{
   padding: 4px 0 4px 0;
   color: #999B9D;
   text-decoration: none;
   margin: 0;
   font-size: 225%;
   font-weight: bold;
   display: block;
}

#content span.containerSubtitle
{
   padding: 6px 0 2px 0px;
   color: #999B9D;
   text-decoration: none;
   margin: 0;
   font-size: 125%;
   font-weight: bold;
   display: block;
}

#content div.containerContents
{
   text-align: left;
   padding: 10px 0px 0 0px;
}

#footer 
{
   clear: both;
   text-align: center;
   padding: 40px 0 0 0;
}
   
#bottom
{
   clear: both;
   text-align: center;
   padding-bottom: 20px;
}

/* --- { sidebar } ------------------------- */
#sidebar
{
   float: left;
   width: 140px;
   margin: 60px auto;
   min-height: 500px;
}

#sidebar div.container
{
   margin: 0 10px 10px 0;
   padding: 0 0 5px 0;
   border-bottom: solid 1px #5C5D5F;
}

#sidebar span.containerTitle
{
   display: block ;
   font-weight: bold;
   width: 100%;
   color: #000;
   border-top: solid 2px #5C5D5F;
   border-bottom: solid 1px #5C5D5F;
   margin: 0 0 5px 0;
   padding: 3px 0 3px 8px;
   text-transform: lowercase;
}

#sidebar div.containerContents
{
   text-align: left;
   padding: 0 3px 0 3px;
}

#sidebar ul
{
   list-style: none;
   margin: 0;
   padding: 0;
}

#sidebar ul li
{
   list-style: none;
   font-size: .9em;
   line-height: 1.5em;
}

#sidebar ul li a
{
   text-decoration: none;
}

#sidebar ul li a:hover
{
   color: #000;
}


/*###########################################*/
/*#  OHLOH CONTAINERS
/*###########################################*/
.ohloh
{
   margin: 0 4px 16px 0px;
}

.project_languages
{
   border: 1px dotted #0F3EAD;
   width: 75px;
}

.project_facts
{
   border: 1px dotted #0F3EAD;
   width: 70px;
}
/*###########################################*/
/*#  CRUISECONTROL.NET CONTAINERS
/*###########################################*/

.ProjectGridHeader
{
   height: 25px;
   vertical-align: middle;
   padding-bottom: 5px;
   background: #A1A3A5;
   color: #0F3EAD;
}

.log
{
   overflow: auto;
   width: 100%;
   height: 500px;
   border: 1px inset #5C5D5F;
   padding: 3px 3px 3px 3px;
   white-space: pre;
}

.buildmessage
{
   white-space: wrap;
   font-family: "Courier New", monospaced;
}

.buildtarget
{
}

.buildtarget ul
{
   list-style: none;
   margin-left: 10px;
   margin-top: 0px;
}

.buildtarget ul li
{
   list-style: none;
}

#StatusLabel
{
   text-align: left;
   color: #0F3EAD;
}

/* --- { project status grid } -------------- */
#StatusGrid
{
   border: 1px solid #5C5D5F;
   border-collapse: collapse;
   width: 100%;
}

#StatusGrid table
{
   border: 0px;
   width: 100%;
}

#StatusGrid tr
{
   height: 25px;
}

#StatusGrid tr.shaded
{
   background: #EBF8FD;
}

#StatusGrid tr.divider
{
   background-color: #EBF8FD;
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
   height: 2px;
   text-align: center;
}

/* --- { execption grid } ------------------ */

#ExceptionGrid
{
   border: 1px solid #5C5D5F;
   border-collapse: collapse;
   width: 100%;
}

#ExceptionGrid table
{
   border: 0px;
   width: 100%;
}

#ExceptionGrid tr
{
   height: 25px;
}

#ExceptionGrid tr.shaded
{
   background: #EBF8FD;
}

/* --- { recent builds panel } ------------- */

#RecentBuildsPanel
{
}

#RecentBuildsPanel ul
{
   list-style: none!important;
   margin: 0;
   padding: 0;
}

#RecentBuildsPanel ul li
{
   list-style: none!important;
   font-size: .9em;
   line-height: 1.5em;
}

#RecentBuildsPanel ul li a
{
   text-decoration: none;
}

#RecentBuildsPanel ul li a:hover
{
   color: #000;
}

#RecentBuildsPanel .build-passed-link 
{ 
   text-decoration:none; 
}

#RecentBuildsPanel .build-failed-link 
{
   color:Red; 
   text-decoration:none;
}

/* --- { server info grid } ---------------- */

#ServerInfoGrid
{
   border: 1px solid #5C5D5F;
   border-collapse: collapse;
   width: 100%;
}

#ServerInfoGrid table
{
   border: 0px;
   width: 100%;
}

#ServerInfoGrid tr
{
   height: 25px;
}

#ServerInfoGrid tr.shaded
{
   background: #EBF8FD;
}

/* --- { build report } -------------------- */

#content div.buildcontainer
{
   margin: 0 4px 10px 0px;
   border: 1px solid #5C5D5F;
}

#content div.buildcontainer span.containerTitle
{
   padding: 4px 0 0 4px;
   text-decoration: none;
   margin: 0;
   font-size: 125%;
   font-weight: bold;
   display: block;
   background: #A1A3A5;
   color: #0F3EAD;
   height: 25px;
   vertical-align: bottom;
}

#content div.buildcontainer span.containerSubtitle
{
   padding: 6px 0 2px 4px;
   color: #999B9D;
   text-decoration: none;
   margin: 0;
   font-size: 125%;
   font-weight: bold;
   display: block;
}

#content div.buildcontainer div.containerContents
{
   text-align: left;
   padding: 10px 3px 0 0px;
}

table.section
{
   width: 98%;
   margin: 0 0 0 4px;
}

table.section td
{
   font-size: 9px;
   vertical-align: top;
   white-space: normal;
}

