<?xml version="1.0" encoding="utf-8" ?> 
<dashboard>
   <remoteServices>
      <servers>
         <!-- Update this list to include all the servers you want to connect to. NB - each server name must be unique -->
         <server name="local" url="tcp://localhost:21234/CruiseManager.rem" />
      </servers>
   </remoteServices>
   <plugins>
      <farmPlugins>
         <farmReportFarmPlugin />
         <cctrayDownloadPlugin />
      </farmPlugins>
      <serverPlugins>
         <serverReportServerPlugin />
         <serverLogServerPlugin />
         <serverInformationServerPlugin />
      </serverPlugins>
      <projectPlugins>
         <projectReportProjectPlugin />
         <latestBuildReportProjectPlugin />
         <viewAllBuildsProjectPlugin />
         <projectStatisticsPlugin xslFileName="xsl\subtext\statistics.xsl" />
         <serverLogProjectPlugin />
         <viewConfigurationProjectPlugin />
      </projectPlugins>
      <buildPlugins>
         <buildReportBuildPlugin>
            <xslFileNames>
               <xslFile>xsl\subtext\header.xsl</xslFile>
               <xslFile>xsl\subtext\modifications.xsl</xslFile>
               <xslFile>xsl\subtext\compile.xsl</xslFile>
               <xslFile>xsl\subtext\analysis.xsl</xslFile>
            </xslFileNames>
         </buildReportBuildPlugin>
         <buildLogBuildPlugin />

         <xslReportBuildPlugin description="Code Coverage" actionName="NCoverBuildReport" xslFileName="xsl\subtext\analysis.details.ncoverexplorer.xsl" />
         <xslReportBuildPlugin description="Unit Tests" actionName="MbUnitDetailsBuildReport" xslFileName="xsl\subtext\analysis.details.mbunit.xsl" />
         <xslReportBuildPlugin description="FxCop Analysis" actionName="FxCopBuildReport" xslFileName="xsl\subtext\analysis.details.fxcop.xsl" />
         <xslReportBuildPlugin description="NDepend Summary" actionName="NDependSummaryReport" xslFileName="xsl\subtext\analysis.summary.ndepend.xsl" />
         <xslReportBuildPlugin description="NDepend Report" actionName="NDependReport" xslFileName="xsl\subtext\analysis.details.ndepend.xsl" />

         <xslReportBuildPlugin description="NAnt Timing" actionName="NAntTimingsBuildReport" xslFileName="xsl\subtext\nant.timing.xsl" />
         <xslReportBuildPlugin description="NAnt Output" actionName="NAntOutputBuildReport" xslFileName="xsl\subtext\nant.xsl" />
      </buildPlugins>
   </plugins>
</dashboard>