<?xml version="1.0" encoding="utf-8" ?> 
<dashboard>
	<remoteServices>
		<servers>
			<!-- Update this list to include all the servers you want to connect to. NB - each server name must be unique -->
			<server name="local" url="tcp://localhost:21234/CruiseManager.rem" />
		</servers>
	</remoteServices>
	<plugins>
		<farmPlugins>
			<farmReportFarmPlugin />
			<cctrayDownloadPlugin />
		</farmPlugins>
		<serverPlugins>
			<serverReportServerPlugin />
			<serverLogServerPlugin />
			<serverInformationServerPlugin />
		</serverPlugins>
		<projectPlugins>
			<projectReportProjectPlugin />
			<latestBuildReportProjectPlugin />
			<viewAllBuildsProjectPlugin />
			<projectStatisticsPlugin xslFileName="xsl\statistics-mod.xsl" />
		</projectPlugins>
		<buildPlugins>
			<buildReportBuildPlugin>
				<xslFileNames>
					<xslFile>xsl\header.xsl</xslFile>
					<xslFile>xsl\modifications.xsl</xslFile>
					<xslFile>xsl\compile.xsl</xslFile>
					<xslFile>xsl\NCoverExplorerSummary.xsl</xslFile>
					<xslFile>xsl\MBUnitSummary.xsl</xslFile>
					<xslFile>xsl\fxcop-summary.xsl</xslFile>
					<xslFile>xsl\ndependsummary-ccnet.xsl</xslFile>
					<xslFile>xsl\ndependreport-ccnet.xsl</xslFile>
				</xslFileNames>
			</buildReportBuildPlugin>
			<buildLogBuildPlugin />
			
						
						
			<xslReportBuildPlugin description="NAnt Output" actionName="NAntOutputBuildReport" xslFileName="xsl\Nant.xsl" />
			<xslReportBuildPlugin description="NAnt Timings" actionName="NAntTimingsBuildReport" xslFileName="xsl\NantTiming.xsl" />
			<xslReportBuildPlugin description="MbUnit Details" actionName="MbUnitDetailsBuildReport" xslFileName="xsl\MBUnitDetails.xsl" />
			<xslReportBuildPlugin description="NCover Report" actionName="NCoverBuildReport" xslFileName="xsl\NCoverExplorer.xsl" />
			<xslReportBuildPlugin description="FxCop Report" actionName="FxCopBuildReport" xslFileName="xsl\FxCopReport.xsl" />

			<xslReportBuildPlugin description="NDepend Summary" actionName="NDependSummaryReport" xslFileName="xsl\ndependsummary-ccnet.xsl" />
			<xslReportBuildPlugin description="NDepend Report" actionName="NDependReport" xslFileName="xsl\ndependreport-ccnet.xsl" />
			
			<!-- This is an example of using Project-specific build plugins
			<xslReportBuildPlugin description="My Report" actionName="MyReport" xslFileName="xsl\MyReport.xsl">
				<includedProjects>
					<projectName>My Project</projectName>
				</includedProjects>
			</xslReportBuildPlugin>
			<xslReportBuildPlugin description="My Other Report" actionName="MyOtherReport" xslFileName="xsl\MyOtherReport.xsl">
				<excludedProjects>
					<projectName>My Project</projectName>
				</excludedProjects>
			</xslReportBuildPlugin>
			-->
		</buildPlugins>
		
	</plugins>
</dashboard>